---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?endDate=2026-01-01&limit=999&start=0&startDate=2025-12-01
        method: GET
      response:
        body: '[{"activityId":10000002,"activityName":"Morning Paddle","startTimeLocal":"2026-01-04 12:31:36","startTimeGMT":"2026-01-04 11:31:36","activityType":{"typeId":231,"typeKey":"kayaking_v2","parentTypeId":228,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":11000,"duration":9100,"elapsedDuration":10000,"movingDuration":7762.0,"elevationGain":13.0,"elevationLoss":30.0,"averageSpeed":1.2,"maxSpeed":17,"startLatitude":28,"startLongitude":-17,"hasPolyline":true,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"aaaaaaaa-0000-0000-0000-000000000001","ownerFullName":"Test","ownerProfileImageUrlSmall":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-000000000004-prth.png","ownerProfileImageUrlMedium":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-000000000004-prfr.png","ownerProfileImageUrlLarge":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-000000000004-prof.png","calories":736.0,"bmrCalories":223.0,"averageHR":104.0,"maxHR":154.0,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":2,"typeKey":"private"},"userPro":false,"hasVideo":false,"timeZoneId":159,"beginTimestamp":1777894296000,"sportTypeId":41,"aerobicTrainingEffect":1.5,"anaerobicTrainingEffect":2.0,"deviceId":9876543210,"minElevation":-0.4,"maxElevation":20,"avgElevation":3.0,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":1.4,"manufacturer":"GARMIN","locationName":"Anytown","lapCount":1,"endLatitude":28,"endLongitude":-17,"waterEstimated":1896.0,"trainingEffectLabel":"ANAEROBIC_CAPACITY","activityTrainingLoad":36,"minActivityLapDuration":9100,"aerobicTrainingEffectMessage":"MINOR_AEROBIC_BENEFIT_6","anaerobicTrainingEffectMessage":"MAINTAINING_ANAEROBIC_BASE_1","splitSummaries":[],"hasSplits":false,"hasIntensityIntervals":false,"moderateIntensityMinutes":74,"vigorousIntensityMinutes":9,"differenceBodyBattery":-16,"hasHeatMap":false,"hrTimeInZone_1":4250.433,"hrTimeInZone_2":1184.313,"hrTimeInZone_3":174.0,"hrTimeInZone_4":0.0,"hrTimeInZone_5":0.0,"endTimeGMT":"2026-01-04 14:21:47","qualifyingDive":false,"activityUUID":"aaaaaaaa-0000-0000-0000-000000000006","autoCalcCalories":false,"favorite":false,"decoDive":false,"elevationCorrected":false,"atpActivity":false,"purposeful":false,"manualActivity":false,"pr":false,"parent":false},{"activityId":10000003,"activityName":"Morning Paddle","startTimeLocal":"2026-01-02 12:42:51","startTimeGMT":"2026-01-02 11:42:51","activityType":{"typeId":231,"typeKey":"kayaking_v2","parentTypeId":228,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":5600,"duration":6500,"elapsedDuration":6500,"movingDuration":4525.0,"elevationGain":21.0,"elevationLoss":23.0,"averageSpeed":0.9,"maxSpeed":7.2,"startLatitude"[...]
