---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            limit:
                - "2"
            start:
                - "0"
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?limit=2&start=0
        method: GET
      response:
        body: '[{"activityId":10000001,"activityName":"Activity","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":223,"typeKey":"squash","parentTypeId":219,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":97,"duration":1800,"elapsedDuration":2900,"movingDuration":42.0,"averageSpeed":0.1,"maxSpeed":3.1,"hasPolyline":false,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"aaaaaaaa-0000-0000-0000-19de7a14f146","ownerFullName":"Test User","ownerProfileImageUrlSmall":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-fbecc7efd7aa-prth.png","ownerProfileImageUrlMedium":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-fbecc7efd7aa-prfr.png","ownerProfileImageUrlLarge":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-fbecc7efd7aa-prof.png","calories":232.0,"bmrCalories":45.0,"averageHR":118.0,"maxHR":150.0,"averageRunningCadenceInStepsPerMinute":14,"maxRunningCadenceInStepsPerMinute":231.0,"steps":810,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":2,"typeKey":"private"},"userPro":false,"hasVideo":false,"timeZoneId":124,"beginTimestamp":1779704508000,"sportTypeId":64,"aerobicTrainingEffect":1.5,"anaerobicTrainingEffect":0.3,"avgStrideLength":22,"deviceId":9876543210,"maxDoubleCadence":231.0,"summarizedDiveInfo":{"summarizedDiveGases":[]},"manufacturer":"GARMIN","lapCount":1,"waterEstimated":357.0,"trainingEffectLabel":"RECOVERY","activityTrainingLoad":19,"minActivityLapDuration":1800,"aerobicTrainingEffectMessage":"RECOVERY_5","anaerobicTrainingEffectMessage":"NO_ANAEROBIC_BENEFIT_0","splitSummaries":[],"hasSplits":false,"hasIntensityIntervals":false,"moderateIntensityMinutes":16,"vigorousIntensityMinutes":11,"differenceBodyBattery":-6,"hasHeatMap":false,"hrTimeInZone_1":613.95,"hrTimeInZone_2":731.036,"hrTimeInZone_3":140.0,"hrTimeInZone_4":0.0,"hrTimeInZone_5":0.0,"endTimeGMT":"2026-01-01 00:00:00","qualifyingDive":false,"activityUUID":"aaaaaaaa-0000-0000-0000-34e3d0cc504a","pr":false,"parent":false,"decoDive":false,"elevationCorrected":false,"atpActivity":false,"autoCalcCalories":false,"favorite":false,"purposeful":false,"manualActivity":false},{"activityId":10000002,"activityName":"Activity","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":3,"typeKey":"hiking","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":7100,"duration":10000,"elapsedDuration":16000,"movingDuration":6076.0,"elevationGain":479.0,"elevationLoss":390.0,"averageSpeed":0.7,"maxSpeed":3.0,"startLatitude":46,"startLongitude":6.5,"hasPolyline":true,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"aaaaaaaa-0000-0000-0000-19de7a14f146","ownerFullName":"Test User","ownerProfileImageUrlSmall":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-fbecc7efd7aa-prth.png","ownerProfileImageUrlMedium":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-fbecc7efd7aa-prfr.png","ownerProfileImageUrlLarge":"https://s3.amazonaws.com/garmin-connect-test/profile[...]
