---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            calendarDate:
                - "2026-01-01"
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/fordailysummary/testuser?calendarDate=2026-01-01
        method: GET
      response:
        body: '[{"activityId":10000001,"activityName":"Activity","startTimeLocal":"2026-01-01T00:00:00","startTimeGMT":"2026-01-01T00:00:00","activityType":{"typeId":1,"typeKey":"running","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":0.0,"duration":17,"activeSplitSummaryDuration":17,"ownerId":127516254,"ownerDisplayName":"aaaaaaaa-0000-0000-0000-19de7a14f146","calories":1.0,"bmrCalories":0.4,"activeCalories":0.6,"steps":0,"privacy":{"typeId":2,"typeKey":"private"},"requestorHasAccess":true,"elapsedDuration":17,"lapCount":1,"averageHR":80.0,"maxSpeed":0.0,"maxSplitDistance":0,"noOfSplits":1,"totalAscent":0.0,"purposefull":false,"favorite":false,"parent":false,"pr":false,"atpActivity":false}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 100ms
