---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            endDate:
                - "2026-01-01"
            limit:
                - "999"
            start:
                - "0"
            startDate:
                - "2026-01-01"
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?endDate=2026-01-01&limit=999&start=0&startDate=2025-12-01
        method: GET
      response:
        body: '[{"activityId":10000004,"activityName":"Activity","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":27,"typeKey":"lap_swimming","parentTypeId":26,"isHidden":false,"restricted":false,"trimmable":false},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":1025.0,"duration":1300,"elapsedDuration":2300,"movingDuration":1100,"averageSpeed":0.9,"maxSpeed":1.3,"hasPolyline":false,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"aaaaaaaa-0000-0000-0000-19de7a14f146","ownerFullName":"Test User","ownerProfileImageUrlSmall":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-fbecc7efd7aa-prth.png","ownerProfileImageUrlMedium":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-fbecc7efd7aa-prfr.png","ownerProfileImageUrlLarge":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-fbecc7efd7aa-prof.png","calories":240.0,"bmrCalories":32.0,"averageHR":134.0,"maxHR":159.0,"averageSwimCadenceInStrokesPerMinute":24.0,"averageSwolf":38.0,"activeLengths":41,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":2,"typeKey":"private"},"userPro":false,"poolLength":2500.0,"unitOfPoolLength":{"unitId":1,"unitKey":"meter","factor":100.0},"hasVideo":false,"timeZoneId":124,"beginTimestamp":1767185413000,"sportTypeId":5,"aerobicTrainingEffect":2.4,"anaerobicTrainingEffect":1.7,"strokes":446.0,"avgStrokeDistance":0.0,"avgStrokes":11,"deviceId":9876543210,"summarizedDiveInfo":{"summarizedDiveGases":[]},"manufacturer":"GARMIN","lapCount":16,"trainingEffectLabel":"RECOVERY","activityTrainingLoad":55,"minActivityLapDuration":2.3,"aerobicTrainingEffectMessage":"MINOR_AEROBIC_BENEFIT_0","anaerobicTrainingEffectMessage":"MINOR_ANAEROBIC_BENEFIT_15","splitSummaries":[],"hasSplits":false,"moderateIntensityMinutes":4,"vigorousIntensityMinutes":26,"hasHeatMap":false,"fastestSplit_100":95,"hrTimeInZone_1":297.285,"hrTimeInZone_2":277.162,"hrTimeInZone_3":685.155,"hrTimeInZone_4":7.001,"hrTimeInZone_5":0.0,"endTimeGMT":"2026-01-01 00:00:00","qualifyingDive":false,"activityUUID":"aaaaaaaa-0000-0000-0000-49b0b275d322","purposeful":false,"manualActivity":false,"autoCalcCalories":false,"elevationCorrected":false,"atpActivity":false,"favorite":false,"decoDive":false,"pr":false,"parent":false},{"activityId":10000005,"activityName":"Activity","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":251,"typeKey":"resort_skiing","parentTypeId":165,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":23000,"duration":14000,"elapsedDuration":15000,"movingDuration":8666.0,"elevationGain":2008.0,"elevationLoss":1819.0,"averageSpeed":1.6,"maxSpeed":15,"startLatitude":46,"startLongitude":6.9,"hasPolyline":true,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"aaaaaaaa-0000-0000-0000-19de7a14f146","ownerFullName":"Test User","ownerProfileImageUrlSmall":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-fbecc7efd7aa-prth.png","ownerProfileImageUrlMedium":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-fbecc7efd7aa-prfr.png","ownerProfileImageUrlLarge":"https://s3.amazonaws.com/garmin-connect-test/profile[...]
