---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?limit=2&start=0
        method: GET
      response:
        body: '[{"activityId":22859018754,"activityName":"Saint-Genis-Pouilly Course à pied","startTimeLocal":"2026-05-12 19:06:26","startTimeGMT":"2026-05-12 17:06:26","activityType":{"typeId":1,"typeKey":"running","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":4127.35986328125,"duration":1484.8990478515625,"elapsedDuration":6220.84814453125,"movingDuration":1476.2510070800781,"elevationGain":37.0,"elevationLoss":42.0,"averageSpeed":2.7799999713897705,"maxSpeed":3.759999990463257,"startLatitude":46.24187149107456,"startLongitude":6.025200420990586,"hasPolyline":true,"hasImages":false,"ownerId":127516254,"ownerDisplayName":"e15d1c9d-827d-4db9-b030-48792c1d1fa6","ownerFullName":"Chris","ownerProfileImageUrlSmall":"https://s3.amazonaws.com/garmin-connect-prod/profile_images/f6908494-e653-4053-a68a-0b67575e7814-prth.png","ownerProfileImageUrlMedium":"https://s3.amazonaws.com/garmin-connect-prod/profile_images/f6908494-e653-4053-a68a-0b67575e7814-prfr.png","ownerProfileImageUrlLarge":"https://s3.amazonaws.com/garmin-connect-prod/profile_images/f6908494-e653-4053-a68a-0b67575e7814-prof.png","calories":334.0,"bmrCalories":37.0,"averageHR":153.0,"maxHR":172.0,"averageRunningCadenceInStepsPerMinute":172.203125,"maxRunningCadenceInStepsPerMinute":198.0,"steps":4280,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":2,"typeKey":"private"},"userPro":false,"hasVideo":false,"timeZoneId":124,"beginTimestamp":1778605586000,"sportTypeId":1,"avgPower":310.0,"maxPower":463.0,"aerobicTrainingEffect":4.199999809265137,"anaerobicTrainingEffect":0.0,"normPower":316.0,"avgVerticalOscillation":8.19000015258789,"avgGroundContactTime":260.79998779296875,"avgStrideLength":96.64000244140625,"vO2MaxValue":53.0,"avgVerticalRatio":8.520000457763672,"deviceId":3493638919,"minElevation":433.79998779296875,"maxElevation":470.0,"avgElevation":453.1259258231732,"maxDoubleCadence":198.0,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":0.40002441406250006,"manufacturer":"GARMIN","locationName":"Saint-Genis-Pouilly","lapCount":5,"endLatitude":46.24148181639612,"endLongitude":6.027403688058257,"waterEstimated":396.0,"trainingEffectLabel":"TEMPO","activityTrainingLoad":159.53237915039062,"minActivityLapDuration":43.606998443603516,"aerobicTrainingEffectMessage":"HIGHLY_IMPROVING_AEROBIC_FITNESS_3","anaerobicTrainingEffectMessage":"NO_ANAEROBIC_BENEFIT_0","splitSummaries":[{"noOfSplits":1,"totalAscent":37.0,"duration":1484.8990478515625,"splitType":"INTERVAL_ACTIVE","numClimbSends":0,"maxElevationGain":37.0,"averageElevationGain":37.0,"maxDistance":4127,"distance":4127.35986328125,"averageSpeed":2.7799999713897705,"maxSpeed":3.759999990463257,"numFalls":0,"elevationLoss":42.0},{"noOfSplits":14,"totalAscent":0.0,"duration":6.709000110626221,"splitType":"RWD_STAND","numClimbSends":0,"maxElevationGain":0.0,"averageElevationGain":0.0,"maxDistance":4,"distance":4.579999923706055,"averageSpeed":0.6830000281333923,"maxSpeed":0.0,"numFalls":0,"elevationLoss":0.0},{"noOfSplits":7,"totalAscent":37.0,"duration":1461.5830078125,"splitType":"RWD_RUN","numClimbSends":0,"maxElevationGain":23.0,"averageElevationGain":7.0,"maxDistance":1762,"distance":4087.389892578125,"averageSpeed":2.796999931335449,"maxSpeed":3.759999990463257,"numFalls":0,"elevationLoss":42.0},{"noOfSplits":18,"totalAscent":0.0,"duration":16.591999053955078,"splitType":"RWD_WALK","numClimbSends":0,"maxElevationGain":0.0,"averageElevationGain":0.0,"maxDistance":13,"distance":35.38999938964844,"averageSpeed":2.132999897003174,"maxSpeed":2.2209999561309814,"numFalls":0,"elevationLoss":0.0}],"hasSplits":true,"hasIntensityIntervals":false,"moderateIntensityMinutes":0,"vigorousIntensityMinutes":54,"avgGradeAdjustedSpeed":2.822999954223633,"differenceBodyBattery":-15,"hasHeatMap":false,"fastestSplit_1000":355.989013671875,"fastestSplit_1609":584.0,"hrTimeInZone_1":60.388,"hrTimeInZone_2":111.987,"hrTimeInZone_3":894.245,"hrTimeInZone_4":411.89,"hrTimeInZone_5":0.0,"powerTimeInZone_1":495.417,"powerTimeInZone_2":542.435,"powerTimeInZone_3":212.136,"powerTimeInZone_4":95.766,"powerTimeInZone_5":15.001,"endTimeGMT":"2026-05-12 18:50:06","qualifyingDive":false,"activityUUID":"04d21fad-4c6c-4fce-9cfd-deb50601e5e4","pr":false,"favorite":false,"purposeful":false,"parent":false,"decoDive":false,"manualActivity":false,"autoCalcCalories":false,"elevationCorrected":false,"atpActivity":false},{"activityId":22761814367,"activityName":"Santiago del Teide Canoë kayak","startTimeLocal":"2026-05-04 12:31:36","startTimeGMT":"2026-05-04 11:31:36","activityType":{"typeId":231,"typeKey":"kayaking_v2","parentTypeId":228,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":11138.4501953125,"duration":9079.708984375,"elapsedDuration":10211.4287109375,"movingDuration":7762.0,"elevationGain":13.0,"elevationLoss":3[...]
