---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?limit=2&start=0
        method: GET
      response:
        body: '[{"activityId":10000001,"activityName":"Activity","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":1,"typeKey":"running","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":4100,"duration":1500,"elapsedDuration":6200,"movingDuration":1500,"elevationGain":37.0,"elevationLoss":42.0,"averageSpeed":2.8,"maxSpeed":3.8,"startLatitude":46,"startLongitude":6.0,"hasPolyline":true,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"ffffffff-ffff-ffff-ffff-ffffffffffff","ownerFullName":"Test User","ownerProfileImageUrlSmall":"https://s3.amazonaws.com/garmin-connect-test/profile_images/ffffffff-ffff-ffff-ffff-ffffffffffff-prth.png","ownerProfileImageUrlMedium":"https://s3.amazonaws.com/garmin-connect-test/profile_images/ffffffff-ffff-ffff-ffff-ffffffffffff-prfr.png","ownerProfileImageUrlLarge":"https://s3.amazonaws.com/garmin-connect-test/profile_images/ffffffff-ffff-ffff-ffff-ffffffffffff-prof.png","calories":334.0,"bmrCalories":37.0,"averageHR":153.0,"maxHR":172.0,"averageRunningCadenceInStepsPerMinute":170,"maxRunningCadenceInStepsPerMinute":198.0,"steps":4280,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":2,"typeKey":"private"},"userPro":false,"hasVideo":false,"timeZoneId":124,"beginTimestamp":1767225600000,"sportTypeId":1,"avgPower":310.0,"maxPower":463.0,"aerobicTrainingEffect":4.2,"anaerobicTrainingEffect":0.0,"normPower":316.0,"avgVerticalOscillation":8.2,"avgGroundContactTime":260,"avgStrideLength":97,"vO2MaxValue":53.0,"avgVerticalRatio":8.5,"deviceId":9876543210,"minElevation":430,"maxElevation":470.0,"avgElevation":450,"maxDoubleCadence":198.0,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":0.4,"manufacturer":"GARMIN","locationName":"Test Location","lapCount":5,"endLatitude":46,"endLongitude":6.0,"waterEstimated":396.0,"trainingEffectLabel":"TEMPO","activityTrainingLoad":160,"minActivityLapDuration":44,"aerobicTrainingEffectMessage":"HIGHLY_IMPROVING_AEROBIC_FITNESS_3","anaerobicTrainingEffectMessage":"NO_ANAEROBIC_BENEFIT_0","splitSummaries":[{"noOfSplits":1,"totalAscent":37.0,"duration":1500,"splitType":"INTERVAL_ACTIVE","numClimbSends":0,"maxElevationGain":37.0,"averageElevationGain":37.0,"maxDistance":4127,"distance":4100,"averageSpeed":2.8,"maxSpeed":3.8,"numFalls":0,"elevationLoss":42.0},{"noOfSplits":14,"totalAscent":0.0,"duration":6.7,"splitType":"RWD_STAND","numClimbSends":0,"maxElevationGain":0.0,"averageElevationGain":0.0,"maxDistance":4,"distance":4.6,"averageSpeed":0.7,"maxSpeed":0.0,"numFalls":0,"elevationLoss":0.0},{"noOfSplits":7,"totalAscent":37.0,"duration":1500,"splitType":"RWD_RUN","numClimbSends":0,"maxElevationGain":23.0,"averageElevationGain":7.0,"maxDistance":1762,"distance":4100,"averageSpeed":2.8,"maxSpeed":3.8,"numFalls":0,"elevationLoss":42.0},{"noOfSplits":18,"totalAscent":0.0,"duration":17,"splitType":"RWD_WALK","numClimbSends":0,"maxElevationGain":0.0,"averageElevationGain":0.0,"maxDistance":13,"distance":35,"averageSpeed":2.1,"maxSpeed":2.2,"numFalls":0,"elevationLoss":0.0}],"hasSplits":true,"hasIntensityIntervals":false,"moderateIntensityMinutes":0,"vigorousIntensityMinutes":54,"avgGradeAdjustedSpeed":2.8,"differenceBodyBattery":-15,"hasHeatMap":false,"fastestSplit_1000":360,"fastestSplit_1609":584.0,"hrTimeInZone_1":60.388,"hrTimeInZone_2":111.987,"hrTimeInZone_3":894.245,"hrTimeInZone_4":411.89,"hrTimeInZone_5":0.0,"powerTimeInZone_1":495.417,"powerTimeInZone_2":542.435,"powerTimeInZone_3":212.136,"powerTimeInZone_4":95.766,"powerTimeInZone_5":15.001,"endTimeGMT":"2026-01-01 00:00:00","qualifyingDive":false,"activityUUID":"ffffffff-ffff-ffff-ffff-ffffffffffff","decoDive":false,"elevationCorrected":false,"atpActivity":false,"autoCalcCalories":false,"favorite":false,"pr":false,"purposeful":false,"manualActivity":false,"parent":false},{"activityId":10000002,"activityName":"Activity","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":231,"typeKey":"kayaking_v2","parentTypeId":228,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":11000,"duration":9100,"elapsedDuration":10000,"movingDuration":7762.0,"elevationGain":13.0,"elevationLoss":30.0,"averageSpeed":1.2,"maxSpeed":17,"startLatitude":28,"[...]
