---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            limit:
                - "1"
            start:
                - "0"
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?limit=1&start=0
        method: GET
      response:
        body: '[{"activityId":10000001,"activityName":"Activity","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":2,"typeKey":"cycling","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":13000,"duration":2700,"elapsedDuration":3600,"movingDuration":2238.0,"elevationGain":122.0,"elevationLoss":121.0,"averageSpeed":4.9,"maxSpeed":13,"startLatitude":46,"startLongitude":6.0,"hasPolyline":true,"hasImages":false,"ownerId":127516254,"ownerDisplayName":"aaaaaaaa-0000-0000-0000-19de7a14f146","ownerFullName":"Test User","ownerProfileImageUrlSmall":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-fbecc7efd7aa-prth.png","ownerProfileImageUrlMedium":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-fbecc7efd7aa-prfr.png","ownerProfileImageUrlLarge":"https://s3.amazonaws.com/garmin-connect-test/profile_images/aaaaaaaa-0000-0000-0000-fbecc7efd7aa-prof.png","calories":401.0,"bmrCalories":67.0,"averageHR":130.0,"maxHR":170.0,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":2,"typeKey":"private"},"userPro":false,"hasVideo":false,"timeZoneId":124,"beginTimestamp":1781713008000,"sportTypeId":2,"aerobicTrainingEffect":2.8,"anaerobicTrainingEffect":1.8,"deviceId":9876543210,"minElevation":436.0,"maxElevation":476.0,"avgElevation":450,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":1.8,"manufacturer":"GARMIN","locationName":"Test Location","lapCount":3,"endLatitude":46,"endLongitude":6.0,"waterEstimated":693.0,"trainingEffectLabel":"AEROBIC_BASE","activityTrainingLoad":71,"minActivityLapDuration":450,"aerobicTrainingEffectMessage":"MAINTAINING_AEROBIC_FITNESS_1","anaerobicTrainingEffectMessage":"MINOR_ANAEROBIC_BENEFIT_15","splitSummaries":[],"hasSplits":false,"hasIntensityIntervals":false,"moderateIntensityMinutes":7,"vigorousIntensityMinutes":26,"differenceBodyBattery":-6,"hasHeatMap":false,"hrTimeInZone_1":181.417,"hrTimeInZone_2":432.94,"hrTimeInZone_3":651.504,"hrTimeInZone_4":639.992,"hrTimeInZone_5":0.0,"endTimeGMT":"2026-01-01 00:00:00","qualifyingDive":false,"activityUUID":"aaaaaaaa-0000-0000-0000-cdbc8506895e","autoCalcCalories":false,"favorite":false,"decoDive":false,"elevationCorrected":false,"atpActivity":false,"pr":false,"purposeful":false,"manualActivity":false,"parent":false}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activity-service/activity/10000001/details
        method: GET
      response:
        body: '{"activityId":10000001,"measurementCount":14,"metricsCount":229,"totalMetricsCount":873,"metricDescriptors":[{"metricsIndex":0,"key":"sumDistance","unit":{"id":1,"key":"meter","factor":100.0}},{"metricsIndex":1,"key":"sumMovingDuration","unit":{"id":40,"key":"second","factor":1000.0}},{"metricsIndex":2,"key":"sumDuration","unit":{"id":40,"key":"second","factor":1000.0}},{"metricsIndex":3,"key":"directAvailableStamina","unit":{"id":6,"key":"dimensionless","factor":1.0}},{"metricsIndex":4,"key":"directBodyBattery","unit":{"id":6,"key":"dimensionless","factor":1.0}},{"metricsIndex":5,"key":"directTimestamp","unit":{"id":120,"key":"gmt","factor":0.0}},{"metricsIndex":6,"key":"sumElapsedDuration","unit":{"id":40,"key":"second","factor":1000.0}},{"metricsIndex":7,"key":"directHeartRate","unit":{"id":100,"key":"bpm","factor":1.0}},{"metricsIndex":8,"key":"directElevation","unit":{"id":1,"key":"meter","factor":100.0}},{"metricsIndex":9,"key":"directPotentialStamina","unit":{"id":6,"key":"dimensionless","factor":1.0}},{"metricsIndex":10,"key":"directVerticalSpeed","unit":{"id":20,"key":"mps","factor":0.1}},{"metricsIndex":11,"key":"directLatitude","unit":{"id":60,"key":"dd","factor":1.0}},{"metricsIndex":12,"key":"directSpeed","unit":{"id":20,"key":"mps","factor":0.1}},{"metricsIndex":13,"key":"directLongitude","unit":{"id":60,"key":"dd","factor":1.0}}],"activityDetailMetrics":[{"metrics":[0.0,0.0,0.0,99.0,31.0,1.8E12,0.0,74.0,440,99.0,null,null,null,null]},{"metrics":[0.0,0.0,1.0,99.0,31.0,1.8E12,1.0,74.0,437.0,99.0,-0.2,null,null,null]},{"metrics":[0.0,0.0,5.0,99.0,31.0,1.8E12,5.0,75.0,436.0,99.0,-0.25,null,null,null]},{"metrics":[0.0,0.0,11.0,99.0,31.0,1.8E12,11.0,77.0,440,99.0,1.8,null,null,null]},{"metrics":[12,4.0,18.0,99.0,31.0,1.8E12,18.0,81.0,440,99.0,0.1,46,7.8,6.0]},{"metrics":[48,10.0,24.0,99.0,31.0,1.8E12,24.0,87.0,440,99.0,0.0,46,5.0,6.0]},{"metrics":[94,19.0,33.0,9[...]
