---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?endDate=2026-05-10&limit=999&start=0&startDate=2026-04-10
        method: GET
      response:
        body: '[{"activityId":22761814367,"activityName":"Santiago del Teide Canoë kayak","startTimeLocal":"2026-05-04 12:31:36","startTimeGMT":"2026-05-04 11:31:36","activityType":{"typeId":231,"typeKey":"kayaking_v2","parentTypeId":228,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":11138.4501953125,"duration":9079.708984375,"elapsedDuration":10211.4287109375,"movingDuration":7762.0,"elevationGain":13.0,"elevationLoss":30.0,"averageSpeed":1.2269999980926514,"maxSpeed":17.433000564575195,"startLatitude":28.247682647779584,"startLongitude":-16.840024162083864,"hasPolyline":true,"hasImages":false,"ownerId":127516254,"ownerDisplayName":"e15d1c9d-827d-4db9-b030-48792c1d1fa6","ownerFullName":"Chris","ownerProfileImageUrlSmall":"https://s3.amazonaws.com/garmin-connect-prod/profile_images/f6908494-e653-4053-a68a-0b67575e7814-prth.png","ownerProfileImageUrlMedium":"https://s3.amazonaws.com/garmin-connect-prod/profile_images/f6908494-e653-4053-a68a-0b67575e7814-prfr.png","ownerProfileImageUrlLarge":"https://s3.amazonaws.com/garmin-connect-prod/profile_images/f6908494-e653-4053-a68a-0b67575e7814-prof.png","calories":736.0,"bmrCalories":223.0,"averageHR":104.0,"maxHR":154.0,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":2,"typeKey":"private"},"userPro":false,"hasVideo":false,"timeZoneId":159,"beginTimestamp":1777894296000,"sportTypeId":41,"aerobicTrainingEffect":1.5,"anaerobicTrainingEffect":2.0,"deviceId":3493638919,"minElevation":-0.4000000059604645,"maxElevation":20.200000762939453,"avgElevation":2.9754185047788373,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":1.4000015258789062,"manufacturer":"GARMIN","locationName":"Santiago del Teide","lapCount":1,"endLatitude":28.24753529392183,"endLongitude":-16.84053889475763,"waterEstimated":1896.0,"trainingEffectLabel":"ANAEROBIC_CAPACITY","activityTrainingLoad":36.28111267089844,"minActivityLapDuration":9079.708984375,"aerobicTrainingEffectMessage":"MINOR_AEROBIC_BENEFIT_6","anaerobicTrainingEffectMessage":"MAINTAINING_ANAEROBIC_BASE_1","splitSummaries":[],"hasSplits":false,"hasIntensityIntervals":false,"moderateIntensityMinutes":74,"vigorousIntensityMinutes":9,"differenceBodyBattery":-16,"hasHeatMap":false,"hrTimeInZone_1":4250.433,"hrTimeInZone_2":1184.313,"hrTimeInZone_3":174.0,"hrTimeInZone_4":0.0,"hrTimeInZone_5":0.0,"endTimeGMT":"2026-05-04 14:21:47","qualifyingDive":false,"activityUUID":"39c2215e-b430-41e4-8ef3-667d62027d9e","favorite":false,"purposeful":false,"pr":false,"parent":false,"decoDive":false,"manualActivity":false,"autoCalcCalories":false,"elevationCorrected":false,"atpActivity":false},{"activityId":22741335829,"activityName":"Santiago del Teide Canoë kayak","startTimeLocal":"2026-05-02 12:42:51","startTimeGMT":"2026-05-02 11:42:51","activityType":{"typeId":231,"typeKey":"kayaking_v2","parentTypeId":228,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":5562.08984375,"duration":6453.9248046875,"elapsedDuration":6455.6767578125,"movingDuration":4525.0,"elevationGain":21.0,"elevationLoss":23.0[...]
