---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?limit=1&start=0
        method: GET
      response:
        body: '[{"activityId":22859018754,"activityName":"Saint-Genis-Pouilly Course à pied","startTimeLocal":"2026-05-12 19:06:26","startTimeGMT":"2026-05-12 17:06:26","activityType":{"typeId":1,"typeKey":"running","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"distance":4127.35986328125,"duration":1484.8990478515625,"elapsedDuration":6220.84814453125,"movingDuration":1476.2510070800781,"elevationGain":37.0,"elevationLoss":42.0,"averageSpeed":2.7799999713897705,"maxSpeed":3.759999990463257,"startLatitude":46.24187149107456,"startLongitude":6.025200420990586,"hasPolyline":true,"hasImages":false,"ownerId":127516254,"ownerDisplayName":"e15d1c9d-827d-4db9-b030-48792c1d1fa6","ownerFullName":"Chris","ownerProfileImageUrlSmall":"https://s3.amazonaws.com/garmin-connect-prod/profile_images/f6908494-e653-4053-a68a-0b67575e7814-prth.png","ownerProfileImageUrlMedium":"https://s3.amazonaws.com/garmin-connect-prod/profile_images/f6908494-e653-4053-a68a-0b67575e7814-prfr.png","ownerProfileImageUrlLarge":"https://s3.amazonaws.com/garmin-connect-prod/profile_images/f6908494-e653-4053-a68a-0b67575e7814-prof.png","calories":334.0,"bmrCalories":37.0,"averageHR":153.0,"maxHR":172.0,"averageRunningCadenceInStepsPerMinute":172.203125,"maxRunningCadenceInStepsPerMinute":198.0,"steps":4280,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":2,"typeKey":"private"},"userPro":false,"hasVideo":false,"timeZoneId":124,"beginTimestamp":1778605586000,"sportTypeId":1,"avgPower":310.0,"maxPower":463.0,"aerobicTrainingEffect":4.199999809265137,"anaerobicTrainingEffect":0.0,"normPower":316.0,"avgVerticalOscillation":8.19000015258789,"avgGroundContactTime":260.79998779296875,"avgStrideLength":96.64000244140625,"vO2MaxValue":53.0,"avgVerticalRatio":8.520000457763672,"deviceId":3493638919,"minElevation":433.79998779296875,"maxElevation":470.0,"avgElevation":453.1259258231732,"maxDoubleCadence":198.0,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":0.40002441406250006,"manufacturer":"GARMIN","locationName":"Saint-Genis-Pouilly","lapCount":5,"endLatitude":46.24148181639612,"endLongitude":6.027403688058257,"waterEstimated":396.0,"trainingEffectLabel":"TEMPO","activityTrainingLoad":159.53237915039062,"minActivityLapDuration":43.606998443603516,"aerobicTrainingEffectMessage":"HIGHLY_IMPROVING_AEROBIC_FITNESS_3","anaerobicTrainingEffectMessage":"NO_ANAEROBIC_BENEFIT_0","splitSummaries":[{"noOfSplits":1,"totalAscent":37.0,"duration":1484.8990478515625,"splitType":"INTERVAL_ACTIVE","numClimbSends":0,"maxElevationGain":37.0,"averageElevationGain":37.0,"maxDistance":4127,"distance":4127.35986328125,"averageSpeed":2.7799999713897705,"maxSpeed":3.759999990463257,"numFalls":0,"elevationLoss":42.0},{"noOfSplits":14,"totalAscent":0.0,"duration":6.709000110626221,"splitType":"RWD_STAND","numClimbSends":0,"maxElevationGain":0.0,"averageElevationGain":0.0,"maxDistance":4,"distance":4.579999923706055,"averageSpeed":0.6830000281333923,"maxSpeed":0.0,"numFalls":0,"elevationLoss":0.0},{"noOfSplits":7,"totalAscent":37.0,"duration":1461.5830078125,"splitType":"RWD_RUN","numClimbSends":0,"maxElevationGain":23.0,"averageElevationGain":7.0,"maxDistance":1762,"distance":4087.389892578125,"averageSpeed":2.796999931335449,"maxSpeed":3.759999990463257,"numFalls":0,"elevationLoss":42.0},{"noOfSplits":18,"totalAscent":0.0,"duration":16.591999053955078,"splitType":"RWD_WALK","numClimbSends":0,"maxElevationGain":0.0,"averageElevationGain":0.0,"maxDistance":13,"distance":35.38999938964844,"averageSpeed":2.132999897003174,"maxSpeed":2.2209999561309814,"numFalls":0,"elevationLoss":0.0}],"hasSplits":true,"hasIntensityIntervals":false,"moderateIntensityMinutes":0,"vigorousIntensityMinutes":54,"avgGradeAdjustedSpeed":2.822999954223633,"differenceBodyBattery":-15,"hasHeatMap":false,"fastestSplit_1000":355.989013671875,"fastestSplit_1609":584.0,"hrTimeInZone_1":60.388,"hrTimeInZone_2":111.987,"hrTimeInZone_3":894.245,"hrTimeInZone_4":411.89,"hrTimeInZone_5":0.0,"powerTimeInZone_1":495.417,"powerTimeInZone_2":542.435,"powerTimeInZone_3":212.136,"powerTimeInZone_4":95.766,"powerTimeInZone_5":15.001,"endTimeGMT":"2026-05-12 18:50:06","qualifyingDive":false,"activityUUID":"04d21fad-4c6c-4fce-9cfd-deb50601e5e4","pr":false,"favorite":false,"purposeful":false,"parent":false,"decoDive":false,"manualActivity":false,"autoCalcCalories":false,"elevationCorrected":false,"atpActivity":false}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 219.3905ms
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activity-service/activity/22859018754
        method: GET
      response:
        body: '{"activityId":22859018754,"activityUUID":{"uuid":"04d21fad-4c6c-4fce-9cfd-deb50601e5e4"},"activityName":"Saint-Genis-Pouilly Course à pied","userProfileId":127516254,"isMultiSportParent":false,"activityTypeDTO":{"typeId":1,"typeKey":"running","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventTypeDTO":{"typeId":9,"typeKey":"uncategorized","sortOrder":10},"accessControlRuleDTO":{"typeId":2,"typeKey":"private"},"timeZoneUnitDTO":{"unitId":124,"unitKey":"Europe/Paris","factor":0.0,"timeZone":"Europe/Paris"},"metadataDTO":{"isOriginal":true,"deviceApplicationInstallationId":1004830,"agentApplicationInstallationId":null,"agentString":null,"fileFormat":{"formatId":7,"formatKey":"fit"},"associatedCourseId":null,"lastUpdateDate":"2026-05-12T19:09:19.0","uploadedDate":"2026-05-12T19:09:19.0","videoUrl":null,"hasPolyline":true,"hasChartData":true,"hasHrTimeInZones":true,"hasPowerTimeInZones":true,"userInfoDto":{"userProfilePk":127516254,"displayname":"e15d1c9d-827d-4db9-b030-48792c1d1fa6","fullname":"Chris","profileImageUrlLarge":"https://s3.amazonaws.com/garmin-connect-prod/profile_images/f6908494-e653-4053-a68a-0b67575e7814-prof.png","profileImageUrlMedium":"https://s3.amazonaws.com/garmin-connect-prod/profile_images/f6908494-e653-4053-a68a-0b67575e7814-prfr.png","profileImageUrlSmall":"https://s3.amazonaws.com/garmin-connect-prod/profile_images/f6908494-e653-4053-a68a-0b67575e7814-prth.png","userPro":false},"childIds":[],"childActivityTypes":[],"sensors":null,"activityImages":[],"manufacturer":"GARMIN","diveNumber":null,"lapCount":5,"associatedWorkoutId":null,"isAtpActivity":null,"deviceMetaDataDTO":{"deviceId":"3493638919","deviceTypePk":37086,"deviceVersionPk":1004830},"hasIntensityIntervals":false,"hasSplits":true,"eBikeMaxAssistModes":null,"eBikeBatteryUsage":null,"eBikeBatteryRemaining":null,"eBikeAssistModeInfoDTOList":null,"hasRunPowerWindData":true,"calendarEventInfo":null,"groupRideUUID":null,"hasHeatMap":false,"personalRecord":false,"gcj02":false,"manualActivity":false,"autoCalcCalories":false,"favorite":false,"runPowerWindDataEnabled":true,"elevationCorrected":false,"trimmed":false},"summaryDTO":{"startTimeLocal":"2026-05-12T19:06:26.0","startTimeGMT":"2026-05-12T17:06:26.0","startLatitude":46.24187149107456,"startLongitude":6.025200420990586,"distance":4127.36,"duration":1484.899,"movingDuration":1476.251,"elapsedDuration":6220.848,"elevationGain":37.0,"elevationLoss":42.0,"maxElevation":470.0,"minElevation":433.8,"avgElevation":453.13,"averageSpeed":2.7799999713897705,"averageMovingSpeed":2.795838812970486,"maxSpeed":3.759999990463257,"calories":334.0,"bmrCalories":37.0,"averageHR":153.0,"maxHR":172.0,"minHR":92.0,"averageRunCadence":172.203125,"maxRunCadence":198.0,"averagePower":310.0,"maxPower":463.0,"minPower":0.0,"normalizedPower":316.0,"totalWork":110.50066586794335,"groundContactTime":260.79998779296875,"strideLength":96.64000244140625,"verticalOscillation":8.19000015258789,"trainingEffect":4.199999809265137,"anaerobicTrainingEffect":0.0,"aerobicTrainingEffectMessage":"HIGHLY_IMPROVING_AEROBIC_FITNESS_3","anaerobicTrainingEffectMessage":"NO_ANAEROBIC_BENEFIT_0","verticalRatio":8.520000457763672,"endLatitude":46.24148181639612,"endLongitude":6.027403688058257,"maxVerticalSpeed":0.40002441406250006,"waterEstimated":396.0,"trainingEffectLabel":"TEMPO","activityTrainingLoad":159.53237915039062,"minActivityLapDuration":43.607,"directWorkoutFeel":100,"directWorkoutRpe":40,"moderateIntensityMinutes":0,"vigorousIntensityMinutes":54,"steps":4280,"recoveryHeartRate":39,"beginPotentialStamina":99.0,"endPotentialStamina":1.0,"minAvailableStamina":1.0,"avgGradeAdjustedSpeed":2.822999954223633,"differenceBodyBattery":-15},"locationName":"Saint-Genis-Pouilly","splitSummaries":[{"distance":4127.36,"duration":1484.899,"movingDuration":1476.0,"elevationGain":37.0,"elevationLoss":42.0,"averageSpeed":2.7799999713897705,"averageMovingSpeed":2.796314270515752,"maxSpeed":3.759999990463257,"calories":334.0,"bmrCalories":37.0,"averageHR":153.0,"maxHR":172.0,"averageRunCadence":172.203125,"maxRunCadence":198.0,"averagePower":310.0,"maxPower":463.0,"normalizedPower":316.0,"groundContactTime":260.79998779296875,"strideLength":96.64000244140625,"verticalOscillation":8.19000015258789,"verticalRatio":8.520000457763672,"totalExerciseReps":0,"avgVerticalSpeed":0.0,"avgGradeAdjustedSpeed":2.750999927520752,"splitType":"INTERVAL_ACTIVE","noOfSplits":1,"maxElevationGain":37.0,"averageElevationGain":37.0,"maxDistance":4127,"maxDistanceWithPrecision":4127.36,"avgStepFrequency":172.203125,"avgStepLength":0.9664000244140625},{"distance":4.58,"duration":6.709,"movingDuration":0.0,"elevationGain":0.0,"elevationLoss":0.0,"averageSpeed":0.6830000281333923,"maxSpeed":0.0,"calories":1.0,"bmrCalories":0.0,"averageHR":145.0,"maxHR":149.0,"averageRunCadence":0.0,"maxRunCadence":0.0,"averagePower":0.0,"maxPower":0.0,"normalizedPower":121.0,"totalExerciseReps":0,"avgVerticalSpeed":0.0,"avgGradeAdjustedSpeed":0.0,"splitType":"RWD_STAND","noOfSplits":14,"maxElevationGain":0.0,"averageElevationGain":0.0,"maxDi[...]
