---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/count
        method: GET
      response:
        body: '{"totalCount":303,"multisportParentCount":0,"multisportChildCount":0,"nonMultisportCount":303}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 182.537125ms
