---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/dailyStress/2026-05-10
        method: GET
      response:
        body: '{"userProfilePK":127516254,"calendarDate":"2026-05-10","startTimestampGMT":"2026-05-09T22:00:00.0","endTimestampGMT":"2026-05-10T13:01:00.0","startTimestampLocal":"2026-05-10T00:00:00.0","endTimestampLocal":"2026-05-10T15:01:00.0","maxStressLevel":91,"avgStressLevel":17,"stressChartValueOffset":1,"stressChartYAxisOrigin":-1,"stressValueDescriptorsDTOList":[{"index":0,"key":"timestamp"},{"index":1,"key":"stressLevel"}],"stressValuesArray":[[1778364000000,19],[1778364180000,21],[1778364360000,18],[1778364540000,18],[1778364720000,17],[1778364900000,21],[1778365080000,19],[1778365260000,21],[1778365440000,18],[1778365620000,21],[1778365800000,-1],[1778365980000,22],[1778366160000,22],[1778366340000,25],[1778366520000,27],[1778366700000,19],[1778366880000,24],[1778367060000,19],[1778367240000,19],[1778367420000,19],[1778367600000,20],[1778367780000,20],[1778367960000,16],[1778368140000,16],[1778368320000,18],[1778368500000,18],[1778[...]
