---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/dailyStress/2026-01-01
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-01-01","startTimestampGMT":"2026-01-01T00:00:00","endTimestampGMT":"2026-01-01T00:00:00","startTimestampLocal":"2026-01-01T00:00:00","endTimestampLocal":"2026-01-01T00:00:00","maxStressLevel":null,"avgStressLevel":-1,"stressChartValueOffset":1,"stressChartYAxisOrigin":-1,"stressValueDescriptorsDTOList":[{"index":0,"key":"timestamp"},{"index":1,"key":"stressLevel"}],"stressValuesArray":[[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767225600000,-1],[1767[...]
