---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/dailyStress/2026-01-01
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-01-01","startTimestampGMT":"2026-01-01T00:00:00","endTimestampGMT":"2026-01-01T00:00:00","startTimestampLocal":"2026-01-01T00:00:00","endTimestampLocal":"2026-01-01T00:00:00","maxStressLevel":null,"avgStressLevel":-1,"stressChartValueOffset":1,"stressChartYAxisOrigin":-1,"stressValueDescriptorsDTOList":[{"index":0,"key":"timestamp"},{"index":1,"key":"stressLevel"}],"stressValuesArray":[[1767222000000,-1],[1767222180000,-1],[1767222360000,-1],[1767222540000,-1],[1767222720000,-1],[1767222900000,-1],[1767223080000,-1],[1767223260000,-1],[1767223440000,-1],[1767223620000,-1],[1767223800000,-1],[1767223980000,-1],[1767224160000,-1],[1767224340000,-1],[1767224520000,-1],[1767224700000,-1],[1767224880000,-1],[1767225060000,-1],[1767225240000,-1],[1767225420000,-1],[1767225600000,-1],[1767225780000,-1],[1767225960000,-1],[1767226140000,-1],[1767226320000,-1],[1767226500000,-1],[1767[...]
