---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/badge-service/badge/available
        method: GET
      response:
        body: '[{"badgeId":3057,"badgeKey":"challenge_total_cycle_200km_2026_05","badgeName":"May Ride to 200","badgeUuid":"BF2E7B26D65440C8B87E4015975A9AC3","badgeCategoryId":4,"badgeDifficultyId":2,"badgePoints":2,"badgeTypeIds":[4,6],"badgeSeriesId":null,"badgeStartDate":"2026-05-03T00:00:00.0","badgeEndDate":"2026-05-16T23:59:59.0","userProfileId":null,"fullName":null,"displayName":null,"badgeEarnedDate":null,"badgeEarnedNumber":null,"premium":false,"badgeLimitCount":null,"badgeIsViewed":null,"badgeProgressValue":null,"badgeTargetValue":200000.0,"badgeUnitId":1,"badgeAssocTypeId":9,"badgeAssocType":"none","badgeAssocDataId":null,"badgeAssocDataName":null,"earnedByMe":false,"currentPlayerType":null,"userJoined":null,"badgeChallengeStatusId":null,"badgePromotionCodeTypeList":[],"promotionCodeStatus":null,"createDate":null,"relatedBadges":null},{"badgeId":3049,"badgeKey":"challenge_cycle_40k_2026_05","badgeName":"May Weekend 40K","badgeUuid":"9B009394634B49C494329571BE832797","badgeCategoryId":4,"badgeDifficultyId":2,"badgePoints":2,"badgeTypeIds":[1,6],"badgeSeriesId":null,"badgeStartDate":"2026-05-15T00:00:00.0","badgeEndDate":"2026-05-17T23:59:59.0","userProfileId":null,"fullName":null,"displayName":null,"badgeEarnedDate":null,"badgeEarnedNumber":null,"premium":false,"badgeLimitCount":null,"badgeIsViewed":null,"badgeProgressVa[...]
