---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            includeAll:
                - "true"
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/bloodpressure-service/bloodpressure/range/2025-12-01/2026-01-01?includeAll=true
        method: GET
      response:
        body: '{"from":"2026-01-01","until":"2026-01-01","measurementSummaries":[],"categoryStats":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
