---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/weight-service/user-summary/period/testuser?endDate=2026-05-10&startDate=2026-05-01
        method: GET
      response:
        body: '{"startDate":"2026-05-01","endDate":"2026-05-10","totalAverage":{"from":"2026-05-01","until":"2026-05-10","weightTimestamp":"2026-05-10T07:00:00.0","weight":78500.0,"bmi":24.1,"bodyFat":18.5,"bodyWater":62.0,"boneMass":3200.0,"muscleMass":63800.0,"visceralFat":8.0,"metabolicAge":32.0,"physiqueRating":4.0},"dateWeightList":[{"calendarDate":"2026-05-10","weight":78500.0,"bmi":24.1,"bodyFat":18.5,"bodyWater":62.0,"boneMass":3200.0,"muscleMass":63800.0,"visceralFat":8.0,"metabolicAge":32.0}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
