---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/bodyBattery/reports/daily?endDate=2026-01-01&startDate=2026-01-01
        method: GET
      response:
        body: '[{"date":"2026-01-01","charged":1,"drained":1,"startTimestampGMT":"2026-01-01T00:00:00","endTimestampGMT":"2026-01-01T00:00:00","startTimestampLocal":"2026-01-01T00:00:00","endTimestampLocal":"2026-01-01T00:00:00","bodyBatteryValuesArray":[[1,null],[1,null],[1,1],[1,1],[1,1],[1,1]],"bodyBatteryValueDescriptorDTOList":[{"bodyBatteryValueDescriptorIndex":0,"bodyBatteryValueDescriptorKey":"TEST"},{"bodyBatteryValueDescriptorIndex":1,"bodyBatteryValueDescriptorKey":"TEST"}],"bodyBatteryDynamicFeedbackEvent":{"eventTimestampGmt":"2026-01-01T00:00:00","bodyBatteryLevel":"TEST","feedbackShortType":"TEST","feedbackLongType":"TEST"},"bodyBatteryActivityEvent":[{"eventType":"TEST","eventStartTimeGmt":"2026-01-01T00:00:00","timezoneOffset":3600000,"durationInMilliseconds":1,"bodyBatteryImpact":1,"feedbackType":"TEST","shortFeedback":"TEST"}],"endOfDayBodyBatteryDynamicFeedbackEvent":{"eventTimestampGmt":"2026-01-01T00:00:00","bodyBatteryLevel":"TEST","feedbackShortType":"TEST","feedbackLongType":"TEST"}},{"date":"2026-01-01","charged":1,"drained":1,"startTimestampGMT":"2026-01-01T00:00:00","endTimestampGMT":"2026-01-01T00:00:00","startTimestampLocal":"2026-01-01T00:00:00","endTimestampLocal":"2026-01-01T00:00:00","bodyBatteryValuesArray":[[1,1],[1,1],[1,1],[1,1],[1,1],[1,1]],"bodyBatteryValueDescriptorDTOList":[{"bodyBatteryValueDescriptorIndex":0,"bodyBatteryValueDescripto[...]
