---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/weight-service/weight/dateRange?endDate=2026-01-01&startDate=2026-01-01
        method: GET
      response:
        body: '{"startDate":"2026-01-01","endDate":"2026-01-01","dateWeightList":[{"samplePk":12345678,"date":1,"calendarDate":"2026-01-01","weight":1,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":"TEST","timestampGMT":1,"weightDelta":null}],"totalAverage":{"from":1,"until":1,"weight":1,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
