---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/dailyBodyBattery/testuser?endDate=2026-05-10&startDate=2026-05-01
        method: GET
      response:
        body: '{"timestamp":"2026-05-12T20:44:54.473+00:00","status":404,"error":"Not Found","path":"/wellness-service/wellness/dailyBodyBattery/e15d1c9d-827d-4db9-b030-48792c1d1fa6"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 190.867792ms
