---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            endDate:
                - "2026-01-01"
            startDate:
                - "2026-01-01"
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/bodyBattery/reports/daily?endDate=2026-01-01&startDate=2026-01-01
        method: GET
      response:
        body: '[{"date":"2026-01-01","charged":null,"drained":null,"startTimestampGMT":"2026-01-01T00:00:00","endTimestampGMT":"2026-01-01T00:00:00","startTimestampLocal":"2026-01-01T00:00:00","endTimestampLocal":"2026-01-01T00:00:00","bodyBatteryValuesArray":[[1767225600001,null],[1767225600002,null],[1767225600003,null],[1767225600004,null],[1767225600005,null],[1767225600006,null]],"bodyBatteryValueDescriptorDTOList":[{"bodyBatteryValueDescriptorIndex":0,"bodyBatteryValueDescriptorKey":"timestamp"},{"bodyBatteryValueDescriptorIndex":1,"bodyBatteryValueDescriptorKey":"bodyBatteryLevel"}],"bodyBatteryDynamicFeedbackEvent":{"eventTimestampGmt":"2026-01-01T00:00:00","bodyBatteryLevel":"HIGH","feedbackShortType":"NO_DATA","feedbackLongType":"NO_DATA"}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
