---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/bodyBattery/reports/daily?endDate=2026-01-01&startDate=2026-01-01
        method: GET
      response:
        body: '[{"date":"2026-01-01","charged":0,"drained":43,"startTimestampGMT":"2026-01-01T00:00:00","endTimestampGMT":"2026-01-01T00:00:00","startTimestampLocal":"2026-01-01T00:00:00","endTimestampLocal":"2026-01-01T00:00:00","bodyBatteryValuesArray":[[1777618620000,null],[1777618620000,null],[1777628700000,53],[1777646700000,31],[1777647600000,30],[1777673160000,10]],"bodyBatteryValueDescriptorDTOList":[{"bodyBatteryValueDescriptorIndex":0,"bodyBatteryValueDescriptorKey":"timestamp"},{"bodyBatteryValueDescriptorIndex":1,"bodyBatteryValueDescriptorKey":"bodyBatteryLevel"}],"bodyBatteryDynamicFeedbackEvent":{"eventTimestampGmt":"2026-01-01T00:00:00","bodyBatteryLevel":"LOW","feedbackShortType":"SLEEP_PREPARATION_NOT_STRESS_DATA_AND_EXERCISE","feedbackLongType":"SLEEP_PREPARATION_NOT_STRESS_DATA_AND_EXERCISE_AND_BB_LOW"},"bodyBatteryActivityEvent":[{"eventType":"ACTIVITY","eventStartTimeGmt":"2026-01-01T00:00:00","timezoneOffset":3600000,"durationInMilliseconds":13200000,"bodyBatteryImpact":-18,"feedbackType":"EXERCISE_TRAINING_EFFECT_2","shortFeedback":"MAINTAINING_AEROBIC_BASE"}],"endOfDayBodyBatteryDynamicFeedbackEvent":{"eventTimestampGmt":"2026-01-01T00:00:00","bodyBatteryLevel":"LOW","feedbackShortType":"SLEEP_TIME_PASSED_NOT_STRESS_DATA_AND_EXERCISE","feedbackLongType":"SLEEP_TIME_PASSED_NOT_STRESS_DATA_AND_EXERCISE_AND_BB_LOW"}},{"date":"2026-01-01","charged":86,"drained":74,"startTimestampGMT":"2026-01-01T00:00:00","endTimestampGMT":"2026-01-01T00:00:00","startTimestampLocal":"2026-01-01T00:00:00","endTimestampLocal":"2026-01-01T00:00:00","bodyBatteryValuesArray":[[1777677120000,9],[1777704480000,95],[177[...]
