---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/metrics-service/metrics/cyclingftp/latest?endDate=2026-05-10&startDate=2026-04-10
        method: GET
      response:
        body: '{"timestamp":"2026-05-12T20:48:22.968+00:00","status":404,"error":"Not Found","path":"/metrics-service/metrics/cyclingftp/latest"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 183.324375ms
