---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/usersummary-service/stats/steps/daily/2025-12-25/2026-01-01
        method: GET
      response:
        body: '[{"calendarDate":"2026-01-01","totalSteps":2531,"totalDistance":2046,"stepGoal":6010},{"calendarDate":"2026-01-01","totalSteps":7288,"totalDistance":5930,"stepGoal":5320},{"calendarDate":"2026-01-01","totalSteps":9990,"totalDistance":8045,"stepGoal":5520},{"calendarDate":"2026-01-01","totalSteps":5291,"totalDistance":4282,"stepGoal":6420},{"calendarDate":"2026-01-01","totalSteps":8341,"totalDistance":6915,"stepGoal":6310},{"calendarDate":"2026-01-01","totalSteps":4658,"totalDistance":3751,"stepGoal":6520},{"calendarDate":"2026-01-01","totalSteps":5320,"totalDistance":4284,"stepGoal":6340},{"calendarDate":"2026-01-01","totalSteps":null,"totalDistance":null,"stepGoal":6140}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
