---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            calendarDate:
                - "2026-01-01"
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/weight-service/weight/dayview/2026-01-01?calendarDate=2026-01-01
        method: GET
      response:
        body: '{"startDate":"2026-01-01","endDate":"2026-01-01","dateWeightList":[],"totalAverage":{"from":1767225600000,"until":1767311999999,"weight":null,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
