---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/usersummary-service/stats/steps/daily/2026-05-03/2026-05-10
        method: GET
      response:
        body: '[{"calendarDate":"2026-05-03","totalSteps":13811,"totalDistance":11210,"stepGoal":8260},{"calendarDate":"2026-05-04","totalSteps":10521,"totalDistance":8473,"stepGoal":9370},{"calendarDate":"2026-05-05","totalSteps":5084,"totalDistance":4094,"stepGoal":9600},{"calendarDate":"2026-05-06","totalSteps":18236,"totalDistance":15231,"stepGoal":9150},{"calendarDate":"2026-05-07","totalSteps":4878,"totalDistance":3928,"stepGoal":6950},{"calendarDate":"2026-05-08","totalSteps":2088,"totalDistance":1682,"stepGoal":6750},{"calendarDate":"2026-05-09","totalSteps":14843,"totalDistance":11972,"stepGoal":5820},{"calendarDate":"2026-05-10","totalSteps":3279,"totalDistance":2647,"stepGoal":6730}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 181.457709ms
