---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/device-service/deviceregistration/devices
        method: GET
      response:
        body: '[{"appSupport":true,"applicationKey":"forerunner965","deviceTypePk":37086,"bestInClassVideoLink":null,"bluetoothClassicDevice":false,"bluetoothLowEnergyDevice":true,"deviceCategories":["FITNESS","WELLNESS","GOLF","OUTDOOR"],"deviceEmbedVideoLink":null,"deviceSettingsFile":"RealTimeDeviceSettings_942cc9b6-c5ed-491f-8468-d151a2881156.json","gcmSettingsFile":null,"deviceVideoPageLink":null,"displayOrder":0,"golfDisplayOrder":0,"hasOpticalHeartRate":true,"highlighted":false,"hybrid":true,"imageUrl":"https://res.garmin.com/en/products/010-02809-10/v/c1_01_md.png","minGCMAndroidVersion":5045,"minGCMWindowsVersion":99999,"minGCMiOSVersion":10075,"minGCMHarmonyVersion":0,"minGolfAppiOSVersion":0,"minGolfAppAndroidVersion":0,"partNumber":"006-B4315-00","primary":true,"productDisplayName":"Forerunner 965","deviceTags":null,"productSku":"010-02809-10","wasp":false,"weightScale":false,"wellness":false,"wifi":true,"hasPowerButton":true,"supportsSecondaryUsers":false,"primaryApplication":"GCM","incompatibleApplications":["GOLF","DIVE","JUNIOR"],"deviceTypeSimpleName":"Garmin Forerunner 965","abnormalHeartRateAlertCapable":true,"activitySummFitFileCapable":true,"aerobicTrainingEffectCapable":true,"alarmDaysCapable":true,"allDayStressCapable":true,"anaerobicTrainingEffectCapable":true,"atpWorkoutCapable":true,"bodyBatteryCapable":true,"brickWorkoutCapable":true,"cardioCapable":true,"cardioOptionCapable":false,"cardioSportsCapable":false,"cardioWorkoutCapable":true,"cellularCapable":false,"changeLogCapable":true,"contactManagementCapable":true,"courseCapable":true,"courseFileType":"FIT","coursePromptCapable":false,"customIntensityMinutesCapable":true,"customWorkoutCapable":true,"cyclingSegmentCapable":true,"cyclingSportsCapable":false,"cyclingWorkoutCapable":true,"defaultSettingCapable":true,"deviceSettingCapable":true,"deviceSettingFileType":null,"displayFieldsExtCapable":true,"divingCapable":false,"ellipticalOptionCapable":false,"floorsClimbedGoalCapable":true,"ftpCapable":true,"gcj02CourseCapable":true,"glonassCapable":true,"goalCapable":true,"goalFileType":"FIT","golfAppSyncCapable":false,"gpsRouteCapable":true,"handednessCapable":true,"hrZoneCapable":true,"hrvStressCapable":true,"intensityMinutesGoalCapable":true,"lactateThresholdCapable":true,"languageSettingCapable":true,"languageSettingFileType":null,"lowHrAlertCapable":true,"maxHRCapable":true,"maxWorkoutCount":200,"metricsFitFileReceiveCapable":true,"metricsUploadCapable":true,"militaryTimeCapable":false,"moderateIntensityMinutesGoalCapable":true,"nfcCapable":true,"otherOptionCapable":false,"otherSportsCapable":false,"personalRecordCapable":true,"personalRecordFileType":"FIT","poolSwimOptionCapable":false,"powerCurveCapable":true,"powerZonesCapable":true,"pulseOxAllDayCapable":true,"pulseOxOnDemandCapable":true,"pulseOxSleepCapable":true,"remCapable":true,"reminderAlarmCapable":false,"reorderablePagesCapable":false,"restingHRCapable":true,"rideOptionsCapable":false,"runOptionIndoorCapable":false,"runOptionsCapable":false,"runningSegmentCapable":true,"runningSportsCapable":false,"runningWorkoutCapable":true,"scheduleCapable":true,"scheduleFileType":"FIT","segmentCapable":true,"segmentPointCapable":true,"settingCapable":true,"settingFileType":"FIT","sleepTimeCapable":true,"smallFitFileOnlyCapable":false,"sportCapable":true,"sportFileType":"FIT","stairStepperOptionCapable":false,"strengthOptionsCapable":false,"strengthWorkoutCapable":true,"supportedHrZones":["RUNNING","CYCLING","SWIMMING","ALL"],"swimWorkoutCapable":true,"trainingPlanCapable":true,"trainingStatusCapable":true,"trainingStatusPauseCapable":true,"userProfileCapable":false,"userProfileFileType":null,"userTcxExportCapable":false,"vo2MaxBikeCapable":true,"vo2MaxRunCapable":true,"walkOptionCapable":false,"walkingSportsCapable":false,"weatherAlertsCapable":false,"weatherSettingsCapable":false,"workoutCapable":true,"workoutFileType":"FIT","yogaCapable":true,"yogaOptionCapable":false,"heatAndAltitudeAcclimationCapable":true,"trainingLoadBalanceCapable":true,"indoorTrackOptionsCapable":false,"indoorBikeOptionsCapable":false,"indoorWalkOptionsCapable":false,"trainingEffectLabelCapable":true,"pacebandCapable":true,"respirationCapable":true,"openWaterSwimOptionCapable":false,"phoneVerificationCheckRequired":true,"weightGoalCapable":false,"yogaWorkoutCapable":true,"pilatesWorkoutCapable":true,"connectedGPSCapable":false,"diveAppSyncCapable":false,"golfLiveScoringCapable":false,"solarPanelUtilizationCapable":false,"sweatLossCapable":true,"diveAlertCapable":false,"requiresInitialDeviceNickname":false,"defaultSettingsHbaseMigrated":true,"sleepScoreCapable":true,"fitnessAgeV2Capable":true,"intensityMinutesV2Capable":true,"collapsibleControlMenuCapable":false,"measurementUnitSettingCapable":false,"onDeviceSleepCalculationCapable":true,"hiitWorkoutCapable":true,"runningHeartRateZoneCapable":true,"cyclingHeartRateZoneCapable":true,"swimmingHeartRateZoneCapable":true,"defaultHeartRateZoneCapable":true,"cyclingPowerZonesCapable":true,"xcSkiPowerZonesCapable":true,"swimAlgorithmCapable":true,"benchmarkExerciseCapable":true,"spectatorMessagingCapable":true,"ecgCapable":false,"lteLiveEventSharingCapable":false,"sleepFitFileReceiveCapable":true,"secondaryWorkoutStepTargetCapable":true,"assistancePlusCapable":false,"powerGuidanceCapable":true,"airIntegrationCapable":false,"healthSnapshotCapable":true,"racePredictionsRunCapable":true,"vivohubCompatible":false,"stepsTrueUpChartCapable":true,"sportingEventCapable":true,"solarChargeCapable":false,"realTimeSettingsCapable":true,"emergencyCallingCapable":false,"personalRepRecordCapable":true,"hrvStatusCapable":true,"trainingReadinessCapable":true,"publicBetaSoftwareCapable":true,"workoutAudioPromptsCapable":true,"actualStepRecordingCapable":true,"groupTrack2Capable":false,"golfAppPairingCapable":false,"localWindConditionsCapable":false,"multipleGolfCourseCapable":false,"beaconTrackingCapable":false,"batteryStatusCapable":false,"runningPowerZonesCapable":true,"acuteTrainingLoadCapable":true,"criticalSwimSpeedCapable":true,"primaryTrainingCapable":true,"dayOfWeekSleepWindowCapable":true,"golfCourseDownloadCapable":false,"launchMonitorEventSharingCapable":false,"lhaBackupCapable":true,"jetlagCapable":true,"bloodPressureCapable":false,"bbiRecordingCapable":true,"wheelchairCapable":false,"primaryActivityTrackerSettingCapable":true,"setBodyCompositionCapable":false,"acuteChronicWorkloadRatioCapable":true,"sleepNeedCapable":true,"wearableBackupRestoreCapable":true,"cyclingComputerBackupRestoreCapable":false,"descriptiveTrainingEffectCapable":false,"sleepSkinTemperatureCapable":false,"runningLactateThresholdCapable":true,"altitudeAcclimationPercentageCapable":true,"hillScoreAndEnduranceScoreCapable":true,"swimWorkout2Capable":true,"enhancedWorkoutStepCapable":true,"primaryTrainingBackupCapable":true,"hideSoftwareUpdateVersionCapable":false,"adaptiveCoachingScheduleCapable":true,"openWaterSwimWorkoutCapable":false,"multisportWorkoutCapable":false,"fullNameSettingsCapable":true,"bodyBatteryTrueUpCapable":true,"skipLastWorkoutStepInRepeatBlockCapable":true,"adaptiveCoachingStrengthCapable":true,"mobilityWorkoutCapable":false,"coursePlannerCapable":false,"trainableTriathlonEventCapable":false,"passcodeLockCapable":false,"strengthTrainingPlanCapable":true,"breathingDisruptionsCapable":true,"standaloneFirstbeatActivityProcessingCapable":false,"rts20Capable":false,"accessorySensorCanGenerateActivityCapable":false,"garminWellnessCoachCapable":false,"adaptiveCoachingWorkoutSettingsCapable":false,"lifestyleLoggingCapable":false,"topoactiveMapsRealTimeSettingCapable":false,"runningToleranceCapable":false,"rechargeableSensorCapable":false,"lapByCoursePointsCapable":false,"sleepAlignmentCapable":false,"runningEconomyCapable":false,"projectedRaceTimePredictionCapable":false,"cyclingAbilityCapable":true,"archeryXCapable":false,"registrationMetricsBackfillUnsupported":false,"healthStatusCapable":true,"adaptiveCoachingFitnessCapable":false,"vbtCapable":false,"healthStatusTrueUpCapable":false,"walkWorkoutCapable":false,"adaptiveCoachingNoviceCapable":false,"adaptiveCoachingWalkCapable":false,"rowingCapable":false,"gearTrackingCapable":false,"liveTrackCapable":true,"adaptiveCoachingStrengthReceiveCapable":false,"incidentDetectionCapable":true,"garminEpicsCapable":false,"syncActivityEditsCapable":false,"startActivityCapable":false,"pendingActivityCapable":false,"fixedLocationCapable":false,"inReachServicesCapable":false,"startStopWorkoutCapable":false,"fallDetectionCapable":false,"activityAutoDetectionCapable":false,"serverOnlyDSWRecalculationCapable":false,"screenlessDeviceCapable":false,"staminaCurveCapable":false,"datasource":"C","deviceStatus":"active","registeredDate":1777744524000,"actualProductSku":"010-02809-10","vivohubConfigurable":null,"corporateDevice":false,"prePairedWithHRM":false,"otherAssociation":false,"shortName":null,"displayName":"Forerunner 965","serialNumber":"7WY166975","deviceId":3493638919,"wifiSetup":false,"unitId":3493638919,"currentFirmwareVersionMajor":27,"currentFirmwareVersionMinor":9,"activeInd":1,"primaryActivityTrackerIndicator":true,"currentFirmwareVersion":"27.09","isPrimaryUser":false,"unRetirable":false}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 202.548208ms
