---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/device-service/deviceregistration/devices
        method: GET
      response:
        body: '[{"appSupport":true,"applicationKey":"TEST","deviceTypePk":37086,"bestInClassVideoLink":null,"bluetoothClassicDevice":false,"bluetoothLowEnergyDevice":true,"deviceCategories":["FITNESS","WELLNESS","GOLF","OUTDOOR"],"deviceEmbedVideoLink":null,"deviceSettingsFile":"TEST","gcmSettingsFile":null,"deviceVideoPageLink":null,"displayOrder":0,"golfDisplayOrder":0,"hasOpticalHeartRate":true,"highlighted":false,"hybrid":true,"imageUrl":"TEST","minGCMAndroidVersion":5045,"minGCMWindowsVersion":99999,"minGCMiOSVersion":10075,"minGCMHarmonyVersion":0,"minGolfAppiOSVersion":0,"minGolfAppAndroidVersion":0,"partNumber":"TEST","primary":true,"productDisplayName":"TEST","deviceTags":null,"productSku":"TEST","wasp":false,"weightScale":false,"wellness":false,"wifi":true,"hasPowerButton":true,"supportsSecondaryUsers":false,"primaryApplication":"TEST","incompatibleApplications":["GOLF","DIVE","JUNIOR"],"deviceTypeSimpleName":"TEST","abnormalHeartRateAlertCapable":true,"activitySummFitFileCapable":true,"aerobicTrainingEffectCapable":true,"alarmDaysCapable":true,"allDayStressCapable":true,"anaerobicTrainingEffectCapable":true,"atpWorkoutCapable":true,"bodyBatteryCapable":true,"brickWorkoutCapable":true,"cardioCapable":true,"cardioOptionCapable":false,"cardioSportsCapable":false,"cardioWorkoutCapable":true,"cellularCapable":false,"changeLogCapable":true,"contactManagementCapable":true,"courseCapable":true,"courseFileType":"TEST","coursePromptCapable":false,"customIntensityMinutesCapable":true,"customWorkoutCapable":true,"cyclingSegmentCapable":true,"cyclingSportsCapable":false,"cyclingWorkoutCapable":true,"defaultSettingCapable":true,"deviceSettingCapable":true,"deviceSettingFileType":null,"displayFieldsExtCapable":true,"divingCapable":false,"ellipticalOptionCapable":false,"floorsClimbedGoalCapable":true,"ftpCapable":true,"gcj02CourseCapable":true,"glonassCapable":true,"goalCapable":true,"goalFileType":"TEST","golfAppSyncCapable":false,"gpsRouteCapable":true,"handednessCapable":true,"hrZoneCapable":true,"hrvStressCapable":true,"intensityMinutesGoalCapable":true,"lactateThresholdCapable":true,"languageSettingCapable":true,"languageSettingFileType":null,"lowHrAlertCapable":true,"maxHRCapable":true,"maxWorkoutCount":200,"metricsFitFileReceiveCapable":true,"metricsUploadCapable":true,"militaryTimeCapable":false,"moderateIntensityMinutesGoalCapable":true,"nfcCapable":true,"otherOptionCapable":false,"otherSportsCapable":false,"personalRecordCapable":true,"personalRecordFileType":"TEST","poolSwimOptionCapable":false,"powerCurveCapable":true,"powerZonesCapable":true,"pulseOxAllDayCapable":true,"pulseOxOnDemandCapable":true,"pulseOxSleepCapable":true,"remCapable":true,"reminderAlarmCapable":false,"reorderablePagesCapable":false,"restingHRCapable":true,"rideOptionsCapable":false,"runOptionIndoorCapable":false,"runOptionsCapable":false,"runningSegmentCapable":true,"runningSportsCapable":false,"runningWorkoutCapable":true,"scheduleCapable":true,"scheduleFileType":"TEST","segmentCapable":true,"segmentPointCapable":true,"settingCapable":true,"settingFileType":"TEST","sleepTimeCapable":true,"smallFitFileOnlyCapable":false,"sportCapable":true,"sportFileType":"TEST","stairStepperOptionCapable":false,"strengthOptionsCapable":false,"strengthWorkoutCapable":true,"supportedHrZones":["RUNNING","CYCLING","SWIMMING","ALL"],"swimWorkoutCapable":true,"trainingPlanCapable":true,"trainingStatusCapable":true,"trainingStatusPauseCapable":true,"userProfileCapable":false,"userProfileFileType":null,"userTcxExportCapable":false,"vo2MaxBikeCapable":true,"vo2MaxRunCapable":true,"walkOptionCapable":false,"walkingSportsCapable":false,"weatherAlertsCapable":false,"weatherSettingsCapable":false,"workoutCapable":true,"workoutFileType":"TEST","yogaCapable":true,"yogaOptionCapable":false,"heatAndAltitudeAcclimationCapable":true,"trainingLoadBalanceCapable":true,"indoorTrackOptionsCapable":false,"indoorBikeOptionsCapable":false,"indoorWalkOptionsCapable":false,"trainingEffectLabelCapable":true,"pacebandCapable":true,"respirationCapable":true,"openWaterSwimOptionCapable":false,"phoneVerificationCheckRequired":true,"weightGoalCapable":false,"yogaWorkoutCapable":true,"pilatesWorkoutCapable":true,"connectedGPSCapable":false,"diveAppSyncCapable":false,"golfLiveScoringCapable":false,"solarPanelUtilizationCapable":false,"sweatLossCapable":true,"diveAlertCapable":false,"requiresInitialDeviceNickname":false,"defaultSettingsHbaseMigrated":true,"sleepScoreCapable":true,"fitnessAgeV2Capable":true,"intensityMinutesV2Capable":true,"collapsibleControlMenuCapable":false,"measurementUnitSettingCapable":false,"onDeviceSleepCalculationCapable":true,"hiitWorkoutCapable":true,"runningHeartRateZoneCapable":true,"cyclingHeartRateZoneCapable":true,"swimmingHeartRateZoneCapable":true,"defaultHeartRateZoneCapable":true,"cyclingPowerZonesCapable":true,"xcSkiPowerZonesCapable":true,"swimAlgorithmCapable":true,"benchmarkExerciseCapable":true,"spectatorMessagingCapable":true,"ecgCapable":false,"lteLiveEventSharingCapable":false,"sleepFitFileReceiveCapable":true,"secondaryWorkoutStepTargetCapable":true,"assistancePlusCapable":false,"powerGuidanceCapable":true,"airIntegrationCapable":false,"healthSnapshotCapable":true,"racePredictionsRunCapable":true,"vivohubCompatible":false,"stepsTrueUpChartCapable":true,"sportingEventCapable":true,"solarChargeCapable":false,"realTimeSettingsCapable":true,"emergencyCallingCapable":false,"personalRepRecordCapable":true,"hrvStatusCapable":true,"trainingReadinessCapable":true,"publicBetaSoftwareCapable":true,"workoutAudioPromptsCapable":true,"actualStepRecordingCapable":true,"groupTrack2Capable":false,"golfAppPairingCapable":false,"localWindConditionsCapable":false,"multipleGolfCourseCapable":false,"beaconTrackingCapable":false,"batteryStatusCapable":false,"runningPowerZonesCapable":true,"acuteTrainingLoadCapable":true,"criticalSwimSpeedCapable":true,"primaryTrainingCapable":true,"dayOfWeekSleepWindowCapable":true,"golfCourseDownloadCapable":false,"launchMonitorEventSharingCapable":false,"lhaBackupCapable":true,"jetlagCapable":true,"bloodPressureCapable":false,"bbiRecordingCapable":true,"wheelchairCapable":false,"primaryActivityTrackerSettingCapable":true,"setBodyCompositionCapable":false,"acuteChronicWorkloadRatioCapable":true,"sleepNeedCapable":true,"wearableBackupRestoreCapable":true,"cyclingComputerBackupRestoreCapable":false,"descriptiveTrainingEffectCapable":false,"sleepSkinTemperatureCapable":false,"runningLactateThresholdCapable":true,"altitudeAcclimationPercentageCapable":true,"hillScoreAndEnduranceScoreCapable":true,"swimWorkout2Capable":true,"enhancedWorkoutStepCapable":true,"primaryTrainingBackupCapable":true,"hideSoftwareUpdateVersionCapable":false,"adaptiveCoachingScheduleCapable":true,"openWaterSwimWorkoutCapable":false,"multisportWorkoutCapable":false,"fullNameSettingsCapable":true,"bodyBatteryTrueUpCapable":true,"skipLastWorkoutStepInRepeatBlockCapable":true,"adaptiveCoachingStrengthCapable":true,"mobilityWorkoutCapable":false,"coursePlannerCapable":false,"trainableTriathlonEventCapable":false,"passcodeLockCapable":false,"strengthTrainingPlanCapable":true,"breathingDisruptionsCapable":true,"standaloneFirstbeatActivityProcessingCapable":false,"rts20Capable":false,"accessorySensorCanGenerateActivityCapable":false,"adaptiveCoachingWorkoutSettingsCapable":false,"lifestyleLoggingCapable":false,"topoactiveMapsRealTimeSettingCapable":false,"runningToleranceCapable":false,"rechargeableSensorCapable":false,"lapByCoursePointsCapable":false,"sleepAlignmentCapable":false,"runningEconomyCapable":false,"projectedRaceTimePredictionCapable":false,"cyclingAbilityCapable":true,"archeryXCapable":false,"registrationMetricsBackfillUnsupported":false,"healthStatusCapable":true,"adaptiveCoachingFitnessCapable":false,"vbtCapable":false,"healthStatusTrueUpCapable":false,"walkWorkoutCapable":false,"adaptiveCoachingNoviceCapable":false,"adaptiveCoachingWalkCapable":false,"rowingCapable":false,"gearTrackingCapable":false,"liveTrackCapable":true,"adaptiveCoachingStrengthReceiveCapable":false,"incidentDetectionCapable":true,"garminEpicsCapable":false,"syncActivityEditsCapable":false,"startActivityCapable":false,"pendingActivityCapable":false,"fixedLocationCapable":false,"inReachServicesCapable":false,"startStopWorkoutCapable":false,"fallDetectionCapable":false,"activityAutoDetectionCapable":false,"serverOnlyDSWRecalculationCapable":false,"screenlessDeviceCapable":false,"staminaCurveCapable":false,"ruckingWorkoutsCapable":false,"inReachServicesDirectActivationCapable":false,"datasource":"TEST","deviceStatus":"TEST","registeredDate":1,"actualProductSku":"TEST","vivohubConfigurable":null,"shortName":null,"displayName":"TEST","serialNumber":"TEST","deviceId":12345678,"wifiSetup":false,"unitId":12345678,"currentFirmwareVersionMajor":1,"currentFirmwareVersionMinor":1,"activeInd":1,"currentFirmwareVersion":"TEST","isPrimaryUser":false,"primaryActivityTrackerIndicator":true,"corporateDevice":false,"prePairedWithHRM":false,"unRetirable":false,"otherAssociation":false}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/device-service/deviceservice/device-info/settings/12345678
        method: GET
      response:
        body: '{"deviceId":12345678,"timeFormat":"TEST","dateFormat":"TEST","measurementUnits":"TEST","allUnits":"TEST","visibleScreens":null,"enabledScreens":{},"screenLists":null,"isVivohubEnabled":null,"alarms":[{"alarmMode":"TEST","alarmTime":1,"alarmDays":["ONCE"],"alarmSound":"TEST","alarmId":12345678,"changeState":"TEST","backlight":"TEST","enabled":null,"alarmMessage":null,"alarmImageId":null,"alarmIcon":null,"alarmType":null}],"supportedAlarmModes":null,"multipleAlarmEnabled":true,"maxAlarm":null,"activityTracking":null,"keyTonesEnabled":null,"keyVibrationEnabled":null,"alertTonesEnabled":null,"userNoticeTonesEnabled":null,"glonassEnabled":null,"turnPromptEnabled":null,"segmentPromptEnabled":null,"supportedLanguages":[{"id":0,"name":"TEST"},{"id":1,"name":"TEST"},{"id":2,"name":"TEST"},{"id":3,"name":"TEST"},{"id":4,"name":"TEST"},{"id":5,"name":"TEST"},{"id":6,"name":"TEST"},{"id":7,"name":"TEST"},{"id":8,"name":"TEST"},{"id":9,"name":"TEST"},{"id":10,"name":"TEST"},{"id":11,"name":"TEST"},{"id":12,"name":"TEST"},{"id":13,"name":"TEST"},{"id":15,"name":"TEST"},{"id":16,"name":"TEST"},{"id":17,"name":"TEST"},{"id":18,"name":"TEST"},{"id":19,"name":"TEST"},{"id":20,"name":"TEST"},{"id":21,"name":"TEST"},{"id":22,"name":"TEST"},{"id":24,"name":"TEST"},{"id":25,"name":"TEST"},{"id":26,"name":"TEST"},{"id":27,"name":"TEST"},{"id":28,"name":"TEST"},{"id":29,"name":"TEST"},{"id":30,"name":"TEST"},{"id":31,"name":"TEST"},{"id":32,"name":"TEST"},{"id":33,"name":"TEST"},{"id":34,"name":"TEST"},{"id":35,"name":"TEST"},{"id":38,"name":"TEST"},{"id":39,"name":"TEST"}],"language":1,"supportedAudioPromptDialects":["AR_AE","CS_CZ","DA_DK","DE_DE","EL_GR","EN_AU","EN_GB","EN_US","ES_ES","ES_MX","FI_FI","FR_CA","FR_FR","HE_IL","HR_HR","HU_HU","IT_IT","NL_NL","NO_NO","PL_PL","PT_BR","RO_RO","RU_RU","SK_SK","SV_SE","TR_TR"],"defaultPage":null,"displayOrientation":null,"mountingSide":null,"backlightMode":null,"backlightSetting":null,"customWheelSize":null,"gestureMode":null,"goalAnimation":null,"autoSyncStepsBeforeSync":1,"autoSyncMinutesBeforeSync":1,"bandOrientation":null,"screenOrientation":null,"duringActivity":null,"phoneVibrationEnabled":null,"connectIQ":{"autoUpdate":true},"opticalHeartRateEnabled":null,"autoUploadEnabled":null,"bleConnectionAlertEnabled":null,"phoneNotificationMode":null,"lactateThresholdAutoDetectEnabled":null,"wiFiAutoUploadEnabled":null,"blueToothEnabled":null,"smartNotificationsStatus":null,"smartNotificationsSound":null,"dndEnabled":false,"distanceUnit":null,"paceSpeedUnit":null,"elevationUnit":null,"weightUnit":null,"heightUnit":null,"temperatureUnit":null,"runningFormat":null,"cyclingFormat":null,"hikingFormat":null,"strengthFormat":null,"cardioFormat":null,"xcSkiFormat":null,"otherFormat":null,"startOfWeek":"TEST","dataRecording":null,"soundVibrationEnabled":null,"soundInAppOnlyEnabled":null,"backlightKeysAndAlertsEnabled":null,"backlightWristTurnEnabled":null,"backlightTimeout":null,"supportedBacklightTimeouts":null,"screenTimeout":null,"colorTheme":null,"autoActivityDetect":null,"sleep":null,"screenMode":null,"watchFace":null,"watchFaceItemList":null,"multipleSupportedWatchFace":{},"supportedScreenModes":null,"supportedWatchFaces":null,"supportedWatchFaceColors":null,"autoSyncFrequency":null,"supportedBacklightSettings":null,"supportedColorThemes":null,"disableLastEnabledScreen":null,"nickname":null,"avatar":null,"controlsMenuList":null,"customUserText":null,"metricsFileTrueupEnabled":true,"relaxRemindersEnabled":null,"smartNotificationTimeout":null,"intensityMinutesCalcMethod":"TEST","moderateIntensityMinutesHrZone":1,"vigorousIntensityMinutesHrZone":1,"keepUserNamePrivate":null,"audioPromptLapEnabled":null,"audioPromptSpeedPaceEnabled":null,"audioPromptSpeedPaceType":null,"audioPromptSpeedPaceFrequency":null,"audioPromptSpeedPaceDuration":null,"audioPromptHeartRateEnabled":null,"audioPromptHeartRateType":null,"audioPromptHeartRateFrequency":null,"audioPromptHeartRateDuration":null,"audioPromptDialectType":null,"audioPromptActivityAlertsEnabled":null,"audioPromptPowerEnabled":null,"audioPromptPowerType":null,"audioPromptPowerFrequency":null,"audioPromptPowerDuration":null,"weightOnlyModeEnabled":null,"phoneNotificationPrivacyMode":null,"diveAlerts":null,"liveEventSharingEnabled":null,"liveTrackEnabled":null,"liveEventSharingEndTimestamp":null,"liveEventSharingMsgContents":null,"liveEventSharingTargetDistance":null,"liveEventSharingMsgTriggers":null,"liveEventSharingTriggerDistance":null,"liveEventSharingTriggerTime":null,"dbDrivenDefaults":true,"schoolMode":null,"customMeasurementDate":null,"customBodyFatPercent":null,"customMuscleMass":null,"customDeviceWeight":null,"customDeviceBodyFatPercent":null,"customDeviceMuscleMass":null,"latitude":null,"longitude":null,"autoActivityDetectEnabledV2":null,"favoriteActivitySportsSubsports":null,"vivohubEnabled":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
