---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/badge-service/badge/earned
        method: GET
      response:
        body: '[{"badgeId":2892,"badgeKey":"activity_international_worker_day_2026","badgeName":"International Workers'' Day 2026","badgeUuid":"94B3C6CE42784FCC98B60C753119544A","badgeCategoryId":1,"badgeDifficultyId":1,"badgePoints":1,"badgeTypeIds":[1,6],"badgeSeriesId":null,"badgeStartDate":"2026-05-01T00:00:00.0","badgeEndDate":"2026-05-01T23:59:59.0","userProfileId":127516254,"fullName":"Chris","displayName":"e15d1c9d-827d-4db9-b030-48792c1d1fa6","badgeEarnedDate":"2026-05-01T12:26:38.0","badgeEarnedNumber":1,"premium":false,"badgeLimitCount":null,"badgeIsViewed":true,"badgeProgressValue":0.0,"badgeTargetValue":null,"badgeUnitId":null,"badgeAssocTypeId":1,"badgeAssocType":"activityId","badgeAssocDataId":"22741333253","badgeAssocDataName":null,"earnedByMe":true,"currentPlayerType":null,"userJoined":null,"badgeChallengeStatusId":null,"badgePromotionCodeTypeList":[null],"promotionCodeStatus":null,"createDate":"2026-05-02T17:56:00.584","relatedBadges":null},{"badgeId":104,"badgeKey":"steps_7day_goal","badgeName":"7-Day Goal Getter","badgeUuid":null,"badgeCategoryId":5,"badgeDifficultyId":2,"badgePoints":2,"badgeTypeIds":[4],"badgeSeriesId":13,"badgeStartDate":"2018-04-03T00:00:00.0","badgeEndDate":null,"userProfileId":127516254,"fullName":"Chris","displayName":"e15d1c9d-827d-4db9-b030-48792c1d1fa6","badgeEarnedDate":"2026-03-14T22:59:59.0","badgeEarnedNumber":1,"premium":false,"badgeLimitCount":null,"badgeIsViewed":true,"badgeProgressValue":7[...]
