---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/badge-service/badge/earned
        method: GET
      response:
        body: '[{"badgeId":2892,"badgeKey":"activity_international_worker_day_2026","badgeName":"International Workers'' Day 2026","badgeUuid":"00000000000000000000f00b31c41bfc","badgeCategoryId":1,"badgeDifficultyId":1,"badgePoints":1,"badgeTypeIds":[1,6],"badgeSeriesId":null,"badgeStartDate":"2026-01-01T00:00:00","badgeEndDate":"2026-01-01T00:00:00","userProfileId":12345678,"fullName":"Test User","displayName":"aaaaaaaa-0000-0000-0000-19de7a14f146","badgeEarnedDate":"2026-01-01T00:00:00","badgeEarnedNumber":1,"premium":false,"badgeLimitCount":null,"badgeIsViewed":true,"badgeProgressValue":0.0,"badgeTargetValue":null,"badgeUnitId":null,"badgeAssocTypeId":1,"badgeAssocType":"activityId","badgeAssocDataId":"22741333253","badgeAssocDataName":null,"earnedByMe":true,"currentPlayerType":null,"userJoined":null,"badgeChallengeStatusId":null,"badgePromotionCodeTypeList":[null],"promotionCodeStatus":null,"createDate":"2026-01-01T00:00:00","relatedBadges":null},{"badgeId":104,"badgeKey":"steps_7day_goal","badgeName":"7-Day Goal Getter","badgeUuid":null,"badgeCategoryId":5,"badgeDifficultyId":2,"badgePoints":2,"badgeTypeIds":[4],"badgeSeriesId":13,"badgeStartDate":"2026-01-01T00:00:00","badgeEndDate":null,"userProfileId":12345678,"fullName":"Test User","displayName":"aaaaaaaa-0000-0000-0000-19de7a14f146","badgeEarnedDate":"2026-01-01T00:00:00","badgeEarnedNumber":1,"premium":false,"badgeLimitCount":null,"badgeIsViewed":true,"badgeProgressValue":7.[...]
