---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            aggregation:
                - weekly
            endDate:
                - "2026-01-01"
            startDate:
                - "2026-01-01"
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/metrics-service/metrics/endurancescore/stats?aggregation=weekly&endDate=2026-01-01&startDate=2025-12-01
        method: GET
      response:
        body: '{"userProfilePK":12345678,"startDate":"2026-01-01","endDate":"2026-01-01","avg":5678,"max":5809,"groupMap":{"2026-01-01":{"groupAverage":5771,"groupMax":5809,"enduranceContributorDTOList":[{"activityTypeId":3,"group":null,"contribution":17},{"activityTypeId":null,"group":0,"contribution":26},{"activityTypeId":null,"group":1,"contribution":55},{"activityTypeId":null,"group":8,"contribution":2.3}]},"2026-01-01":{"groupAverage":5709,"groupMax":5713,"enduranceContributorDTOList":[{"activityTypeId":3,"group":null,"contribution":21},{"activityTypeId":null,"group":0,"contribution":25},{"activityTypeId":null,"group":1,"contribution":51},{"activityTypeId":null,"group":8,"contribution":2.2}]},"2026-01-01":{"groupAverage":5673,"groupMax":5703,"enduranceContributorDTOList":[{"activityTypeId":3,"group":null,"contribution":21},{"activityTypeId":null,"group":0,"contribution":26},{"activityTypeId":null,"group":1,"contribution":50},{"activityTypeId":null,"group":8,"contribution":2.1}]},"2026-01-01":{"groupAverage":5631,"groupMax":5634,"enduranceContributorDTOList":[{"activityTypeId":3,"group":null,"contribution":21},{"activityTypeId":null,"group":0,"contribution":28},{"activityTypeId":null,"group":1,"contribution":49},{"activityTypeId":null,"group":8,"contribution":2.1}]},"2026-01-01":{"groupAverage":5607,"groupMax":5629,"enduranceContributorDTOList":[{"activityTypeId":3,"group":null,"contribution":19},{"activityTypeId":null,"group":0,"contribution":26},{"activityTypeId":null,"group":1,"contribution":45},{"activityTypeId":null,"group":8,"contribution":9.2}]}},"enduranceScoreDTO":{"userProfilePK":12345678,"deviceId":9876543210,"calendarDate":"2026-01-01","overallScore":5598,"classification":2,"feedbackPhrase":30,"primaryTrainingDevice":true,"gaugeLowerLimit":3570,"classificationLowerLimitIntermediate":5100,"classificationLowerLimitTrained":5800,"classificationLowerLimitWellTrained":6600,"classificationLowerLimitExpert":7300,"classificationLowerLimitSuperior":8100,"classificationLowerLimitElite":8800,"gaugeUpperLimit":10560,"contributors":[{"activityTypeId":null,"group":1,"contribution":42.09},{"activityTypeId":null,"group":0,"contribution":24.4},{"activityTypeId":3,"group":null,"contribution":18.12},{"activityTypeId":null,"group":8,"contribution":15.39}]}}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 100ms
