---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/fitnessage-service/fitnessage/2026-01-01
        method: GET
      response:
        body: '{"chronologicalAge":25,"fitnessAge":19,"achievableFitnessAge":18.0,"previousFitnessAge":19,"components":{"vigorousDaysAvg":{"value":1.3,"targetValue":3,"potentialAge":20,"priority":3,"stale":false,"numOfWeeksForIm":6},"rhr":{"value":49,"stale":false},"vigorousMinutesAvg":{"value":49.3,"targetValue":75,"potentialAge":20,"priority":2,"stale":false,"numOfWeeksForIm":6},"bmi":{"value":24.3,"targetValue":20.7,"improvementValue":3.7,"potentialAge":18.0,"priority":1,"stale":false,"lastMeasurementDate":"2026-01-01"}},"lastUpdated":"2026-01-01T00:00:00"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
