---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/fitnessage-service/fitnessage/2026-05-10
        method: GET
      response:
        body: '{"chronologicalAge":26,"fitnessAge":20.686659574308276,"achievableFitnessAge":18.0,"previousFitnessAge":20.686659574308276,"components":{"vigorousDaysAvg":{"value":1.1,"targetValue":3,"potentialAge":21.395321684421255,"priority":3,"stale":false,"numOfWeeksForIm":6},"rhr":{"value":49,"stale":false},"vigorousMinutesAvg":{"value":57.0,"targetValue":75,"potentialAge":21.395321684421255,"priority":2,"stale":false,"numOfWeeksForIm":6},"bmi":{"value":24.7,"targetValue":20.7,"improvementValue":4.0,"potentialAge":18.365128696434226,"priority":1,"stale":false,"lastMeasurementDate":"2026-05-07"}},"lastUpdated":"2026-05-10T00:00:00.0"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 184.430708ms
