---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/floorsChartData/daily/2026-01-01
        method: GET
      response:
        body: '{"startTimestampGMT":"2026-01-09T22:00:00.0","endTimestampGMT":"2026-01-01T22:00:00.0","startTimestampLocal":"2026-01-01T00:00:00.0","endTimestampLocal":"2026-01-11T00:00:00.0","floorsValueDescriptorDTOList":[{"index":0,"key":"startTimeGMT"},{"index":1,"key":"endTimeGMT"},{"index":2,"key":"floorsAscended"},{"index":3,"key":"floorsDescended"}],"floorValuesArray":[["2026-01-09T22:00:00.0","2026-01-09T22:15:00.0",0,0],["2026-01-09T22:15:00.0","2026-01-09T22:30:00.0",0,0],["2026-01-09T22:30:00.0","2026-01-09T22:45:00.0",0,0],["2026-01-09T22:45:00.0","2026-01-09T23:00:00.0",0,0],["2026-01-09T23:00:00.0","2026-01-09T23:15:00.0",0,0],["2026-01-09T23:15:00.0","2026-01-09T23:30:00.0",0,0],["2026-01-09T23:30:00.0","2026-01-09T23:45:00.0",0,0],["2026-01-09T23:45:00.0","2026-01-01T00:00:00.0",0,0],["2026-01-01T00:00:00.0","2026-01-01T00:15:00.0",0,0],["2026-01-01T[...]
