---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/dailyFloor/2026-05-10
        method: GET
      response:
        body: '{"timestamp":"2026-05-12T20:45:00.521+00:00","status":404,"error":"Not Found","path":"/wellness-service/wellness/dailyFloor/2026-05-10"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 183.739708ms
