---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/floorsChartData/daily/2026-01-01
        method: GET
      response:
        body: '{"startTimestampGMT":"2026-01-01T00:00:00","endTimestampGMT":"2026-01-01T00:00:00","startTimestampLocal":"2026-01-01T00:00:00","endTimestampLocal":"2026-01-01T00:00:00","floorsValueDescriptorDTOList":[{"index":0,"key":"startTimeGMT"},{"index":1,"key":"endTimeGMT"},{"index":2,"key":"floorsAscended"},{"index":3,"key":"floorsDescended"}],"floorValuesArray":[["2026-01-01T00:00:00","2026-01-01T00:00:00",0,0],["2026-01-01T00:00:00","2026-01-01T00:00:00",0,0],["2026-01-01T00:00:00","2026-01-01T00:00:00",0,0],["2026-01-01T00:00:00","2026-01-01T00:00:00",0,0],["2026-01-01T00:00:00","2026-01-01T00:00:00",0,0],["2026-01-01T00:00:00","2026-01-01T00:00:00",0,0],["2026-01-01T00:00:00","2026-01-01T00:00:00",0,0],["2026-01-01T00:00:00","2026-01-01T00:00:00",0,0],["2026-01-01T00:00:00","2026-01-01T00:00:00",0,0],["2026-01-01T00:00:00","2026-01-01T00:00:00",0,0][...]
