---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/usersummary-service/usersummary/daily/testuser?calendarDate=2026-01-01
        method: GET
      response:
        body: '{"userProfileId":12345678,"totalKilocalories":1,"activeKilocalories":1,"bmrKilocalories":1,"wellnessKilocalories":1,"burnedKilocalories":null,"consumedKilocalories":null,"remainingKilocalories":null,"totalSteps":1,"netCalorieGoal":null,"totalDistanceMeters":1,"wellnessDistanceMeters":1,"wellnessActiveKilocalories":1,"netRemainingKilocalories":1,"userDailySummaryId":12345678,"calendarDate":"2026-01-01","rule":{"typeId":2,"typeKey":"TEST"},"uuid":"ffffffffffffffffffffffffffffffff","dailyStepGoal":1,"wellnessStartTimeGmt":"2026-01-01T00:00:00","wellnessStartTimeLocal":"2026-01-01T00:00:00","wellnessEndTimeGmt":"2026-01-01T00:00:00","wellnessEndTimeLocal":"2026-01-01T00:00:00","durationInMilliseconds":1,"wellnessDescription":null,"highlyActiveSeconds":1,"activeSeconds":1,"sedentarySeconds":1,"sleepingSeconds":1,"includesWellnessData":true,"includesActivityData":false,"includesCalorieConsumedData":false,"privacyProtected":false,"moderateIntensityMinutes":1,"vigorousIntensityMinutes":1,"floorsAscendedInMeters":1,"floorsDescendedInMeters":1,"floorsAscended":1,"floorsDescended":1,"intensityMinutesGoal":1,"userFloorsAscendedGoal":1,"minHeartRate":1,"maxHeartRate":1,"restingHeartRate":1,"lastSevenDaysAvgRestingHeartRate":1,"source":"TEST","averageStressLevel":1,"maxStressLevel":1,"stressDuration":1,"restStressDuration":1,"activityStressDuration":1,"uncategorizedStressDuration":1,"totalStressDuration":1,"lowStressDuration":1,"mediumStressDuration":1,"highStressDuration":1,"stressPercentage":1,"restStressPercentage":1,"activityStressPercentage":1,"uncategorizedStressPercentage":1,"lowStressPercentage":1,"mediumStressPercentage":1,"highStressPercentage":1,"stressQualifier":"TEST","measurableAwakeDuration":1,"measurableAsleepDuration":1,"lastSyncTimestampGMT":null,"minAvgHeartRate":1,"maxAvgHeartRate":1,"bodyBatteryChargedValue":1,"bodyBatteryDrainedValue":1,"bodyBatteryHighestValue":1,"bodyBatteryLowestValue":1,"bodyBatteryMostRecentValue":1,"bodyBatteryDuringSleep":1,"bodyBatteryAtWakeTime":1,"bodyBatteryVersion":1.0,"abnormalHeartRateAlertsCount":null,"averageSpo2":1,"lowestSpo2":1,"latestSpo2":1,"latestSpo2ReadingTimeGmt":"2026-01-01T00:00:00","latestSpo2ReadingTimeLocal":"2026-01-01T00:00:00","averageMonitoringEnvironmentAltitude":1,"restingCaloriesFromActivity":null,"bodyBatteryDynamicFeedbackEvent":{"eventTimestampGmt":"2026-01-01T00:00:00","bodyBatteryLevel":"TEST","feedbackShortType":"TEST","feedbackLongType":"TEST"},"endOfDayBodyBatteryDynamicFeedbackEvent":{"eventTimestampGmt":"2026-01-01T00:00:00","bodyBatteryLevel":"TEST","feedbackShortType":"TEST","feedbackLongType":"TEST"},"bodyBatteryActivityEventList":[{"eventType":"TEST","eventStartTimeGmt":"2026-01-01T00:00:00","timezoneOffset":7200000,"durationInMilliseconds":1,"bodyBatteryImpact":1,"feedbackType":"TEST","shortFeedback":"TEST","deviceId":12345678,"activityName":null,"activityType":null,"activityId":null,"eventUpdateTimeGmt":"2026-01-01T00:00:00"}],"avgWakingRespirationValue":1,"highestRespirationValue":1,"lowestRespirationValue":1,"latestRespirationValue":1,"latestRespirationTimeGMT":"2026-01-01T00:00:00","respirationAlgorithmVersion":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/gear-service/gear/filterGear?userProfilePk=12345678
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 100ms
[...]
