---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/dailyHeartRate/testuser?date=2026-01-01
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-01-01","startTimestampGMT":"2026-01-01T00:00:00","endTimestampGMT":"2026-01-01T00:00:00","startTimestampLocal":"2026-01-01T00:00:00","endTimestampLocal":"2026-01-01T00:00:00","maxHeartRate":93,"minHeartRate":42,"restingHeartRate":46,"lastSevenDaysAvgRestingHeartRate":48,"heartRateValueDescriptors":[{"index":0,"key":"timestamp"},{"index":1,"key":"heartrate"}],"heartRateValues":[[1778364000000,56],[1778364120000,56],[1778364240000,58],[1778364360000,56],[1778364480000,55],[1778364600000,54],[1778364720000,56],[1778364840000,58],[1778364960000,58],[1778365080000,55],[1778365200000,58],[1778365320000,57],[1778365440000,55],[1778365560000,56],[1778365680000,55],[1778365800000,59],[1778365920000,58],[1778366040000,59],[1778366160000,65],[1778366280000,58],[1778366400000,61],[1778366520000,61],[1778366640000,60],[1778366760000,57],[1778366880000,57],[1778367000000,57],[1778[...]
[...]
