---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/dailyHeartRate/testuser?date=2026-01-01
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-01-01","startTimestampGMT":"2026-01-01T00:00:00","endTimestampGMT":"2026-01-01T00:00:00","startTimestampLocal":"2026-01-01T00:00:00","endTimestampLocal":"2026-01-01T00:00:00","maxHeartRate":93,"minHeartRate":42,"restingHeartRate":46,"lastSevenDaysAvgRestingHeartRate":48,"heartRateValueDescriptors":[{"index":0,"key":"timestamp"},{"index":1,"key":"heartrate"}],"heartRateValues":[[1767225600000,56],[1767225600000,56],[1767225600000,58],[1767225600000,56],[1767225600000,55],[1767225600000,54],[1767225600000,56],[1767225600000,58],[1767225600000,58],[1767225600000,55],[1767225600000,58],[1767225600000,57],[1767225600000,55],[1767225600000,56],[1767225600000,55],[1767225600000,59],[1767225600000,58],[1767225600000,59],[1767225600000,65],[1767225600000,58],[1767225600000,61],[1767225600000,61],[1767225600000,60],[1767225600000,57],[1767225600000,57],[1767225600000,57],[1767[...]
[...]
