---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/metrics-service/metrics/hillscore/stats?aggregation=daily&endDate=2026-01-01&startDate=2025-12-01
        method: GET
      response:
        body: '{"userProfilePK":12345678,"startDate":"2026-01-01","endDate":"2026-01-01","periodAvgScore":{"2026-01-01":24},"maxScore":1,"hillScoreDTOList":[{"userProfilePK":12345678,"deviceId":12345678,"calendarDate":"2026-01-01","strengthScore":1,"enduranceScore":1,"hillScoreClassificationId":1,"overallScore":1,"hillScoreFeedbackPhraseId":44,"vo2Max":null,"vo2MaxPreciseValue":null,"primaryTrainingDevice":true},{"userProfilePK":12345678,"deviceId":12345678,"calendarDate":"2026-01-01","strengthScore":1,"enduranceScore":1,"hillScoreClassificationId":1,"overallScore":1,"hillScoreFeedbackPhraseId":43,"vo2Max":null,"vo2MaxPreciseValue":null,"primaryTrainingDevice":true},{"userProfilePK":12345678,"deviceId":12345678,"calendarDate":"2026-01-01","strengthScore":1,"enduranceScore":1,"hillScoreClassificationId":1,"overallScore":1,"hillScoreFeedbackPhraseId":42,"vo2Max":null,"vo2MaxPreciseValue":null,"prima[...]
