---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            aggregation:
                - daily
            endDate:
                - "2026-01-01"
            startDate:
                - "2026-01-01"
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/metrics-service/metrics/hillscore/stats?aggregation=daily&endDate=2026-01-01&startDate=2025-12-01
        method: GET
      response:
        body: '{"userProfilePK":12345678,"startDate":"2026-01-01","endDate":"2026-01-01","periodAvgScore":{"2026-01-01":29},"maxScore":31,"hillScoreDTOList":[{"userProfilePK":12345678,"deviceId":9876543210,"calendarDate":"2026-01-01","strengthScore":3,"enduranceScore":8,"hillScoreClassificationId":2,"overallScore":28,"hillScoreFeedbackPhraseId":43,"vo2Max":null,"vo2MaxPreciseValue":null,"primaryTrainingDevice":true},{"userProfilePK":12345678,"deviceId":9876543210,"calendarDate":"2026-01-01","strengthScore":3,"enduranceScore":8,"hillScoreClassificationId":2,"overallScore":28,"hillScoreFeedbackPhraseId":42,"vo2Max":null,"vo2MaxPreciseValue":null,"primaryTrainingDevice":true},{"userProfilePK":12345678,"deviceId":9876543210,"calendarDate":"2026-01-01","strengthScore":4,"enduranceScore":8,"hillScoreClassificationId":2,"overallScore":28,"hillScoreFeedbackPhraseId":4,"vo2Max":null,"vo2MaxPreciseValue":null,"[...]
