---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/hrv-service/hrv/2026-01-01
        method: GET
      response:
        body: '{"userProfilePk":12345678,"hrvSummary":{"calendarDate":"2026-01-01","weeklyAvg":71,"lastNightAvg":75,"lastNight5MinHigh":113,"baseline":{"lowUpper":52,"balancedLow":56,"balancedUpper":77,"markerValue":0.6},"status":"BALANCED","feedbackPhrase":"HRV_BALANCED_8","createTimeStamp":"2026-01-01T07:29:09.260"},"hrvReadings":[{"hrvValue":81,"readingTimeGMT":"2026-01-01T02:51:48.0","readingTimeLocal":"2026-01-01T04:51:48.0"},{"hrvValue":70,"readingTimeGMT":"2026-01-01T02:56:48.0","readingTimeLocal":"2026-01-01T04:56:48.0"},{"hrvValue":80,"readingTimeGMT":"2026-01-01T03:01:48.0","readingTimeLocal":"2026-01-01T05:01:48.0"},{"hrvValue":76,"readingTimeGMT":"2026-01-01T03:06:48.0","readingTimeLocal":"2026-01-01T05:06:48.0"},{"hrvValue":57,"readingTimeGMT":"2026-01-01T03:11:48.0","readingTimeLocal":"2026-01-01T05:11:48.0"},{"hrvValue":56,"readingTimeGMT":"2026-01-01T03:16:48.0","readingTimeLocal":[...]
