---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/hrv-service/hrv/2026-01-01
        method: GET
      response:
        body: '{"userProfilePk":12345678,"hrvSummary":{"calendarDate":"2026-01-01","weeklyAvg":1,"lastNightAvg":1,"lastNight5MinHigh":1,"baseline":{"lowUpper":1,"balancedLow":1,"balancedUpper":1,"markerValue":1},"status":"TEST","feedbackPhrase":"TEST","createTimeStamp":"2026-01-01T00:00:00"},"hrvReadings":[{"hrvValue":1,"readingTimeGMT":"2026-01-01T00:00:00","readingTimeLocal":"2026-01-01T00:00:00"},{"hrvValue":1,"readingTimeGMT":"2026-01-01T00:00:00","readingTimeLocal":"2026-01-01T00:00:00"},{"hrvValue":1,"readingTimeGMT":"2026-01-01T00:00:00","readingTimeLocal":"2026-01-01T00:00:00"},{"hrvValue":1,"readingTimeGMT":"2026-01-01T00:00:00","readingTimeLocal":"2026-01-01T00:00:00"},{"hrvValue":1,"readingTimeGMT":"2026-01-01T00:00:00","readingTimeLocal":"2026-01-01T00:00:00"},{"hrvValue":1,"readingTimeGMT":"2026-01-01T00:00:00","readingTimeLocal":"2026-01-01T00:00:00"},{"[...]
