---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/daily/im/2026-01-01
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-01-01","startTimestampGMT":"2026-01-01T00:00:00","endTimestampGMT":"2026-01-01T00:00:00","startTimestampLocal":"2026-01-01T00:00:00","endTimestampLocal":"2026-01-01T00:00:00","weeklyModerate":83,"weeklyVigorous":16,"weeklyTotal":115,"weekGoal":150,"dayOfGoalMet":null,"startDayMinutes":115,"endDayMinutes":115,"moderateMinutes":0,"vigorousMinutes":0,"imValueDescriptorsDTOList":null,"imValuesArray":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
