---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/biometric-service/biometric/latestLactateThreshold
        method: GET
      response:
        body: '[{"userProfilePK":12345678,"version":1774119500111,"calendarDate":"2026-03-21T19:58:19.991","sequence":1774119500111,"speed":0.4,"hearRate":null,"heartRateCycling":null,"rowSpeed":null,"heartRateRowing":null},{"userProfilePK":12345678,"version":1774119500111,"calendarDate":"2026-03-21T19:58:19.991","sequence":1774119500111,"speed":null,"hearRate":177,"heartRateCycling":null,"rowSpeed":null,"heartRateRowing":null}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
