---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/device-service/deviceservice/mylastused
        method: GET
      response:
        body: '{"userDeviceId":3493638919,"userProfileNumber":127516254,"applicationNumber":37086,"lastUsedDeviceApplicationKey":"forerunner965","lastUsedDeviceName":"Forerunner 965","lastUsedDeviceUploadTime":1778612959000,"imageUrl":"https://res.garmin.com/en/products/010-02809-10/v/c1_01_md.png","released":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 204.31025ms
