---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/device-service/deviceservice/mylastused
        method: GET
      response:
        body: '{"userDeviceId":9876543210,"userProfileNumber":12345678,"applicationNumber":37086,"lastUsedDeviceApplicationKey":"forerunner965","lastUsedDeviceName":"Forerunner 965","lastUsedDeviceUploadTime":1780139737000,"imageUrl":"https://res.garmin.com/en/products/010-02809-10/v/c1_01_md.png","released":true}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
