---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/userprofile-service/socialProfile
        method: GET
      response:
        body: '{"displayName":"testuser","fullName":"Test User"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 0s
    - request:
        body: '{"captchaToken":"","password":"","rememberMe":true,"username":""}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sso.garmin.com/mobile/api/login?clientId=GCM_IOS_DARK&locale=en-US&service=https%3A%2F%2Fmobile.integration.garmin.com%2Fgcm%2Fios
        method: POST
      response:
        body: '{"serviceURL":null,"serviceTicketId":null,"responseStatus":{"type":"INVALID_REQUEST","message":"","httpStatus":"BAD_REQUEST"},"responseReason":null,"customerMfaInfo":null,"consentTypeList":null,"captchaAlreadyPassed":false,"samlResponse":null,"authType":null}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - d035465f-8845-4cc6-572c-9ab5f72fb682
        status: 400 Bad Request
        code: 400
        duration: 292.991792ms
