---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/metrics-service/metrics/maxmet/daily/2025-12-01/2026-01-01
        method: GET
      response:
        body: '[{"userId":12345678,"generic":{"calendarDate":"2025-12-15","vo2MaxPreciseValue":52.4,"vo2MaxValue":52.0,"fitnessAge":null,"fitnessAgeDescription":null,"maxMetCategory":0},"cycling":null,"heatAltitudeAcclimation":{"calendarDate":"2025-12-15","altitudeAcclimationDate":"2025-12-15","previousAltitudeAcclimationDate":"2025-12-15","heatAcclimationDate":"2025-12-15","previousHeatAcclimationDate":"2025-12-15","altitudeAcclimation":0,"previousAltitudeAcclimation":0,"heatAcclimationPercentage":0,"previousHeatAcclimationPercentage":0,"heatTrend":null,"altitudeTrend":null,"currentAltitude":450,"previousAltitude":0,"acclimationPercentage":0,"previousAcclimationPercentage":0,"altitudeAcclimationLocalTimestamp":"2025-12-15T23:56:06.0"}},{"userId":12345678,"generic":{"calendarDate":"2025-12-19","vo2MaxPreciseValue":52.4,"vo2MaxValue":52.0,"fitnessAge":null,"fitnessAgeDescription":null,"maxMetCategory":0},"cycling":null,"heatAltitudeAcclimation":{"calendarDate":"2025-12-19","altitudeAcclimationDate":"2025-12-19","previousAltitudeAcclimationDate":"2025-12-19","heatAcclimationDate":"2025-12-19","previousHeatAcclimationDate":"2025-12-19","altitudeAcclimation":0,"previousAltitudeAcclimation":0,"heatAcclimationPercentage":0,"previousHeatAcclimationPercentage":0,"heatTrend":null,"altitudeTrend":null,"currentAltitude":452,"previousAltitude":0,"acclimationPercentage":0,"previousAcclimationPercentage":0,"altitudeAcclimationLocalTimestamp":"2025-12-19T23:57:41.0"}}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 100ms
