---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/metrics-service/metrics/maxmet/daily/2025-12-01/2026-01-01
        method: GET
      response:
        body: '[{"userId":12345678,"generic":{"calendarDate":"2026-01-01","vo2MaxPreciseValue":1,"vo2MaxValue":1,"fitnessAge":null,"fitnessAgeDescription":null,"maxMetCategory":0},"cycling":null,"heatAltitudeAcclimation":{"calendarDate":"2026-01-01","altitudeAcclimationDate":"2026-01-01","previousAltitudeAcclimationDate":"2026-01-01","heatAcclimationDate":"2026-01-01","previousHeatAcclimationDate":"2026-01-01","altitudeAcclimation":1,"previousAltitudeAcclimation":1,"heatAcclimationPercentage":1,"previousHeatAcclimationPercentage":1,"heatTrend":null,"altitudeTrend":null,"currentAltitude":1,"previousAltitude":1,"acclimationPercentage":1,"previousAcclimationPercentage":1,"altitudeAcclimationLocalTimestamp":"2026-01-01T00:00:00"}},{"userId":12345678,"generic":{"calendarDate":"2026-01-01","vo2MaxPreciseValue":1,"vo2MaxValue":1,"fitnessAge":null,"fitnessAgeDescription":null,"maxMetCategory":0},"cycling":null,"heatAltitudeAcclimation":{"calendarDate":"2026-01-01","altitudeAcclimationDate":"2026-01-01","previousAltitudeAcclimationDate":"2026-01-01","heatAcclimationDate":"2026-01-01","previousHeatAcclimationDate":"2026-01-01","altitudeAcclimation":1,"previousAltitudeAcclimation":1,"heatAcclimationPercentage":1,"previousHeatAcclimationPercentage":1,"heatTrend":null,"altitudeTrend":null,"currentAltitude":1,"previousAltitude":1,"acclimationPercentage":1,"previousAcclimationPercentage":1,"altitudeAcclimationLocalTimestamp":"2026-01-01T00:00:00"}}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 100ms
