---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/metrics-service/metrics/maxmet/daily/testuser?endDate=2026-05-10&startDate=2026-04-10
        method: GET
      response:
        body: '{"timestamp":"2026-05-12T20:47:40.781+00:00","status":404,"error":"Not Found","path":"/metrics-service/metrics/maxmet/daily/e15d1c9d-827d-4db9-b030-48792c1d1fa6"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 186.2055ms
