---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/personalrecord-service/personalrecord/prs/testuser
        method: GET
      response:
        body: '[{"id":2000000005,"typeId":3,"status":"ACCEPTED","activityId":10000012,"activityName":"Ornex Course à pied","activityType":"running","activityStartDateTimeInGMT":1745597843000,"actStartDateTimeInGMTFormatted":"2025-04-25T16:17:23.0","activityStartDateTimeLocal":1745605043000,"activityStartDateTimeLocalFormatted":"2025-04-25T18:17:23.0","value":1300,"prStartTimeGmt":1745597843000,"prStartTimeGmtFormatted":"2025-04-25T16:17:23.0","prStartTimeLocal":null,"prStartTimeLocalFormatted":null,"prTypeLabelKey":null,"poolLengthUnit":null},{"id":2000000006,"typeId":4,"status":"ACCEPTED","activityId":10000013,"activityName":"Ornex Course à pied","activityType":"running","activityStartDateTimeInGMT":1744971724000,"actStartDateTimeInGMTFormatted":"2025-04-18T10:22:04.0","activityStartDateTimeLocal":1744978924000,"activityStartDateTimeLocalFormatted":"2025-04-18T12:22:04.0","value":2800,"prStartTimeGmt":1744971724000,"prStartTimeGmtFormatted":"2025-04-18T10:22:04.0","prStartTimeLocal":null,"prStartTimeLocalFormatted":null,"prTyp[...]
[...]
