---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/personalrecord-service/personalrecord/prs/testuser
        method: GET
      response:
        body: '[{"id":12345678,"typeId":3,"status":"ACCEPTED","activityId":10000012,"activityName":"Activity","activityType":"running","activityStartDateTimeInGMT":1745597843000,"actStartDateTimeInGMTFormatted":"2026-01-01T00:00:00","activityStartDateTimeLocal":1745605043000,"activityStartDateTimeLocalFormatted":"2026-01-01T00:00:00","value":1300,"prStartTimeGmt":1745597843000,"prStartTimeGmtFormatted":"2026-01-01T00:00:00","prStartTimeLocal":null,"prStartTimeLocalFormatted":null,"prTypeLabelKey":null,"poolLengthUnit":null},{"id":12345678,"typeId":4,"status":"ACCEPTED","activityId":10000013,"activityName":"Activity","activityType":"running","activityStartDateTimeInGMT":1744971724000,"actStartDateTimeInGMTFormatted":"2026-01-01T00:00:00","activityStartDateTimeLocal":1744978924000,"activityStartDateTimeLocalFormatted":"2026-01-01T00:00:00","value":2800,"prStartTimeGmt":1744971724000,"prStartTimeGmtFormatted":"2026-01-01T00:00:00","prStartTimeLocal":null,"prStartTimeLocalFormatted":null,"prTypeLabelKey":null,"po[...]
