---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/personalrecord-service/personalrecord/prs/testuser
        method: GET
      response:
        body: '[{"id":12345678,"typeId":3,"status":"ACCEPTED","activityId":10000012,"activityName":"Activity","activityType":"running","activityStartDateTimeInGMT":1767225600000,"actStartDateTimeInGMTFormatted":"2026-01-01T00:00:00","activityStartDateTimeLocal":1767225600000,"activityStartDateTimeLocalFormatted":"2026-01-01T00:00:00","value":1300,"prStartTimeGmt":1767225600000,"prStartTimeGmtFormatted":"2026-01-01T00:00:00","prStartTimeLocal":null,"prStartTimeLocalFormatted":null,"prTypeLabelKey":null,"poolLengthUnit":null},{"id":12345678,"typeId":4,"status":"ACCEPTED","activityId":10000013,"activityName":"Activity","activityType":"running","activityStartDateTimeInGMT":1767225600000,"actStartDateTimeInGMTFormatted":"2026-01-01T00:00:00","activityStartDateTimeLocal":1767225600000,"activityStartDateTimeLocalFormatted":"2026-01-01T00:00:00","value":2800,"prStartTimeGmt":1767225600000,"prStartTimeGmtFormatted":"2026-01-01T00:00:00","prStartTimeLocal":null,"prStartTimeLocalFormatted":null,"prTypeLabelKey":null,"po[...]
[...]
