---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/personalrecord-service/personalrecord/prs/testuser
        method: GET
      response:
        body: '[{"id":2641326459,"typeId":3,"status":"ACCEPTED","activityId":18932934174,"activityName":"Ornex Course à pied","activityType":"running","activityStartDateTimeInGMT":1745597843000,"actStartDateTimeInGMTFormatted":"2025-04-25T16:17:23.0","activityStartDateTimeLocal":1745605043000,"activityStartDateTimeLocalFormatted":"2025-04-25T18:17:23.0","value":1261.7679443359375,"prStartTimeGmt":1745597843000,"prStartTimeGmtFormatted":"2025-04-25T16:17:23.0","prStartTimeLocal":null,"prStartTimeLocalFormatted":null,"prTypeLabelKey":null,"poolLengthUnit":null},{"id":2636383395,"typeId":4,"status":"ACCEPTED","activityId":18862475558,"activityName":"Ornex Course à pied","activityType":"running","activityStartDateTimeInGMT":1744971724000,"actStartDateTimeInGMTFormatted":"2025-04-18T10:22:04.0","activityStartDateTimeLocal":1744978924000,"activityStartDateTimeLocalFormatted":"2025-04-18T12:22:04.0","value":2844.260009765625,"prStartTimeGmt":1744971724000,"prStartTimeGmtFormatted":"2025-04-18T10:22:04.0","prStartTimeLocal":null,"prStartTimeLocalFormat[...]
