---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/race-predictor-service/race-predictor/races/testuser
        method: GET
      response:
        body: |-
            <html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>Not Found</title></head>
            <body>
                <div class="headerContainer">
                    <h2 class="page-title">Page Not Found</h2>

                    <p>We're sorry. The page you're looking for does not exist.</p>
                </div>
            </body>
            </html>
        headers:
            Content-Type:
                - text/html
        status: 404 Not Found
        code: 404
        duration: 191.159917ms
