---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/daily/respiration/2026-01-01
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-01-01","startTimestampGMT":"2026-01-01T00:00:00","endTimestampGMT":"2026-01-01T00:00:00","startTimestampLocal":"2026-01-01T00:00:00","endTimestampLocal":"2026-01-01T00:00:00","sleepStartTimestampGMT":"2026-01-01T00:00:00","sleepEndTimestampGMT":"2026-01-01T00:00:00","sleepStartTimestampLocal":"2026-01-01T00:00:00","sleepEndTimestampLocal":"2026-01-01T00:00:00","tomorrowSleepStartTimestampGMT":null,"tomorrowSleepEndTimestampGMT":null,"tomorrowSleepStartTimestampLocal":null,"tomorrowSleepEndTimestampLocal":null,"lowestRespirationValue":7.0,"highestRespirationValue":21.0,"avgWakingRespirationValue":14.0,"avgSleepRespirationValue":13.0,"avgTomorrowSleepRespirationValue":null,"respirationValueDescriptorsDTOList":[{"index":0,"key":"timestamp"},{"index":1,"key":"respiration"}],"respirationValuesArray":[[1767225600000,10.0],[1767225600000,10.0],[1767225600000,10.0],[1767225600000,-2.0],[1767225600000,-2.0],[1767225600000,-2.0],[1767225600000,-2.0],[1767225600000,11.0],[1767225600000,11.0],[1767225600000,13.0],[1767225600000,8.0],[1767225600000,10.0],[1767225600000,15.0],[1767225600000,14.0],[1767225600000,12.0],[1767225600000,13.0],[1767225600000,13.0],[1767225600000,13.0],[1767225600000,-2.0],[1767225600000,-2.0],[1767225600000,13.0],[1767225600000,15.0],[1767225600000,13.0],[1767225600000,15[...]
