---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/userstats-service/wellness/daily/testuser?fromDate=2025-12-01&metricId=60&untilDate=2026-01-01
        method: GET
      response:
        body: '{"userProfileId":12345678,"statisticsStartDate":"2025-12-01","statisticsEndDate":"2026-01-01","allMetrics":{"metricsMap":{"WELLNESS_RESTING_HEART_RATE":[{"value":49.0,"calendarDate":"2025-12-01"},{"value":53.0,"calendarDate":"2025-12-11"},{"value":47.0,"calendarDate":"2025-12-12"},{"value":45.0,"calendarDate":"2025-12-13"},{"value":53.0,"calendarDate":"2025-12-14"},{"value":49.0,"calendarDate":"2025-12-15"},{"value":53.0,"calendarDate":"2025-12-16"},{"value":53.0,"calendarDate":"2025-12-17"},{"value":50.0,"calendarDate":"2025-12-18"},{"value":48.0,"calendarDate":"2025-12-19"},{"value":50.0,"calendarDate":"2025-12-20"},{"value":54.0,"calendarDate":"2025-12-21"},{"value":49.0,"calendarDate":"2025-12-22"},{"value":49.0,"calendarDate":"2025-12-23"},{"value":47.0,"calendarDate":"2025-12-24"},{"value":47.0,"calendarDate":"2025-12-25"},{"value":45.0,"calendarDate":"2025-12-26"},{"value":53.0,"calendarDate":"2025-12-27"},{"value":47.0,"calendarDate":"2025-12-28"},{"value":48.0,"calendarDate":"2025-12-29"},{"value":49.0,"calendarDate":"2025-12-30"},{"value":52.0,"calendarDate":"2026-01-01"},{"value":46.0,"calendarDate":"2026-01-02"},{"value":49.0,"calendarDate":"2026-01-03"},{"value":47.0,"calendarDate":"2026-01-04"},{"value":49.0,"calendarDate":"2026-01-05"},{"value":52.0,"calendarDate":"2026-01-06"},{"value":46.0,"calendarDate":"2026-01-07"},{"value":48.0,"calendarDate":"2026-01-08"},{"value":48.0,"calendarDate":"2026-01-09"},{"value":46.0,"calendarDate":"2026-01-01"}]}},"groupedMetrics":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
[...]
