---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/userstats-service/wellness/daily/testuser?fromDate=2026-04-10&metricId=60&untilDate=2026-05-10
        method: GET
      response:
        body: '{"userProfileId":127516254,"statisticsStartDate":"2026-04-10","statisticsEndDate":"2026-05-10","allMetrics":{"metricsMap":{"WELLNESS_RESTING_HEART_RATE":[{"value":49.0,"calendarDate":"2026-04-10"},{"value":53.0,"calendarDate":"2026-04-11"},{"value":47.0,"calendarDate":"2026-04-12"},{"value":45.0,"calendarDate":"2026-04-13"},{"value":53.0,"calendarDate":"2026-04-14"},{"value":49.0,"calendarDate":"2026-04-15"},{"value":53.0,"calendarDate":"2026-04-16"},{"value":53.0,"calendarDate":"2026-04-17"},{"value":50.0,"calendarDate":"2026-04-18"},{"value":48.0,"calendarDate":"2026-04-19"},{"value":50.0,"calendarDate":"2026-04-20"},{"value":54.0,"calendarDate":"2026-04-21"},{"value":49.0,"calendarDate":"2026-04-22"},{"value":49.0,"calendarDate":"2026-04-23"},{"value":47.0,"calendarDate":"2026-04-24"},{"value":47.0,"calendarDate":"2026-04-25"},{"value":45.0,"calendarDate":"2026-04-26"},{"value":53.0,"calendarDate":"2026-04-27"},{"value":47.0,"calendarDate":"2026-04-28"},{"value":48.0,"calendarDate":"2026-04-29"},{"value":49.0,"calendarDate":"2026-04-30"},{"value":52.0,"calendarDate":"2026-05-01"},{"value":46.0,"calendarDate":"2026-05-02"},{"value":49.0,"calendarDate":"2026-05-03"},{"value":47.0,"calendarDate":"2026-05-04"},{"value":49.0,"calendarDate":"2026-05-05"},{"value":52.0,"calendarDate":"2026-05-06"},{"value":46.0,"calendarDate":"2026-05-07"},{"value":48.0,"calendarDate":"2026-05-08"},{"value":48.0,"calendarDate":"2026-05-09"},{"value":46.0,"calendarDate":"2026-05-10"}]}},"groupedMetrics":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 241.627542ms
