---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/userstats-service/wellness/daily/testuser?fromDate=2025-12-01&metricId=60&untilDate=2026-01-01
        method: GET
      response:
        body: '{"userProfileId":12345678,"statisticsStartDate":"2026-01-01","statisticsEndDate":"2026-01-01","allMetrics":{"metricsMap":{"WELLNESS_RESTING_HEART_RATE":[{"value":49.0,"calendarDate":"2026-01-01"},{"value":53.0,"calendarDate":"2026-01-01"},{"value":47.0,"calendarDate":"2026-01-01"},{"value":45.0,"calendarDate":"2026-01-01"},{"value":53.0,"calendarDate":"2026-01-01"},{"value":49.0,"calendarDate":"2026-01-01"},{"value":53.0,"calendarDate":"2026-01-01"},{"value":53.0,"calendarDate":"2026-01-01"},{"value":50.0,"calendarDate":"2026-01-01"},{"value":48.0,"calendarDate":"2026-01-01"},{"value":50.0,"calendarDate":"2026-01-01"},{"value":54.0,"calendarDate":"2026-01-01"},{"value":49.0,"calendarDate":"2026-01-01"},{"value":49.0,"calendarDate":"2026-01-01"},{"value":47.0,"calendarDate":"2026-01-01"},{"value":47.0,"calendarDate":"2026-01-01"},{"value":45.0,"calendarDate":"2026-01-01"},{"value":53.0,"calendarDate":"2026-01-01"},{"value":47.0,"calendarDate":"2026-01-01"},{"value":48.0,"calendarDate":"2026-01-01"},{"value":49.0,"calendarDate":"2026-01-01"},{"value":52.0,"calendarDate":"2026-01-01"},{"value":46.0,"calendarDate":"2026-01-01"},{"value":49.0,"calendarDate":"2026-01-01"},{"value":47.0,"calendarDate":"2026-01-01"},{"value":49.0,"calendarDate":"2026-01-01"},{"value":52.0,"calendarDate":"2026-01-01"},{"value":46.0,"calendarDate":"2026-01-01"},{"value":48.0,"calendarDate":"2026-01-01"},{"value":48.0,"calendarDate":"2026-01-01"},{"value":46.0,"calendarDate":"2026-01-01"}]}},"groupedMetrics":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
[...]
