---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/calendar-service/year/2026/month/0
        method: GET
      response:
        body: '{"startDayOfMonth":5,"numOfDaysInMonth":31,"numOfDaysInPrevMonth":30,"month":4,"year":2026,"calendarItems":[{"id":1000000000001,"groupId":null,"trainingPlanId":null,"itemType":"weight","activityTypeId":null,"wellnessActivityUuid":null,"title":null,"date":"2026-01-01","duration":null,"distance":null,"calories":null,"floorsClimbed":null,"avgRespirationRate":null,"unitOfPoolLength":null,"weight":70000.0,"difference":1699.0,"courseId":null,"courseName":null,"sportTypeKey":null,"url":null,"isStart":null,"isRace":null,"recurrenceId":null,"isParent":null,"parentId":null,"userBadgeId":null,"badgeCategoryTypeId":null,"badgeCategoryTypeDesc":null,"badgeAwardedDate":null,"badgeViewed":null,"hideBadge":null,"startTimestampLocal":null,"eventTimeLocal":null,"diveNumber":null,"maxDepth":null,"avgDepth":null,"surfaceInterval":null,"elapsedDuration":null,"lapCount":null,"bottomTime":null,"atpPlanId":null,"workoutId":null,"protectedWorkoutSchedule":false,"activeSets":null,"strokes":null,"noOfSplits":null,"maxGradeValue":null,"totalAscent":null,"differenceStress":null,"climbDuration":null,"maxSpeed":null,"averageHR":null,"activeSplitSummaryDuration":null,"activeSplitSummaryDistance":null,"maxSplitDistance":null,"maxSplitSpeed":null,"location":null,"shareableEventUuid":null,"splitSummaryMode":null,"completionTarget":null,"workoutUuid":null,"napStartTimeLocal":null,"beginPackWeight":null,"hasSplits":null,"maxPackWeight":null,"phasedTrainingPlan":null,"shareableEvent":false,"primaryEvent":null,"autoCalcCalories":null,"decoDive":null,"subscribed":null},{"id":1000000000002,"groupId":null,"trainingPlanId":null,"itemType":"weight","activityTypeId":null,"wellnessActivityUuid":null,"title":null,"date":"2026-01-01","duration":null,"distance":null,"calories":null,"floorsClimbed":null,"avgRespirationRate":null,"unitOfPoolLength":null,"weight":70000.0,"difference":-99.0,"courseId":null,"courseName":null,"sportTypeKey":null,"url":null,"isStart":null,"isRace":null,"recurrenceId":null,"isParent":null,"parentId":null,"userBadgeId":null,"badgeCategory[...]
