---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/calendar-service/schedule/workouts?limit=5&start=0
        method: GET
      response:
        body: '{"timestamp":"2026-05-12T20:48:53.252+00:00","status":404,"error":"Not Found","path":"/calendar-service/schedule/workouts"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 204.697583ms
