---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/sleep-service/stats/sleep/daily/2025-12-05/2026-01-01
        method: GET
      response:
        body: '{"overallStats":{"averageSpO2":1,"meanAvgHeartRate":1,"averageLocalSleepStartTime":1,"averageRespiration":1,"averageBodyBatteryChange":1,"averageSkinTempF":null,"averageSleepScore":1,"averageLocalSleepEndTime":1,"averageSkinTempC":null,"averageSleepSeconds":1,"averageSleepNeed":1,"averageRestingHeartRate":1},"individualStats":[{"calendarDate":"2026-01-01","values":{"remTime":1,"restingHeartRate":1,"totalSleepTimeInSeconds":1,"respiration":1,"localSleepEndTimeInMillis":1,"deepTime":1,"awakeTime":1,"sleepScoreQuality":"TEST","spO2":1,"localSleepStartTimeInMillis":1,"sleepNeed":1,"bodyBatteryChange":1,"gmtSleepStartTimeInMillis":1,"gmtSleepEndTimeInMillis":1,"hrvStatus":"TEST","skinTempF":null,"sleepScore":1,"skinTempC":null,"lightTime":1,"avgOvernightHrv":1,"avgHeartRate":1,"hrv7dAverage":1}},{"calendarDate":"2026-01-01","values":{"remTime":1,"restingHeartRate":1,"totalSleepTimeInSeconds":1,"respiration":1,"localSleepEndTimeInMillis":1,"deepTime":1,"awakeTime":1,"sleepScoreQuality":"TEST","spO2":1,"localSleepStartTimeInMillis":1,"sleepNeed":1,"bodyBatteryChange":1,"gmtSleepStartTimeInMillis":1,"gmtSleepEndTimeInMillis":1,"hrvStatus":"TEST","skinTempF":null,"sleepScore":1,"skinTempC":null,"lightTime":1,"avgOvernightHrv":1,"avgHeartRate":1,"hrv7dAverage":1}},{"calendarDate":"2026-0[...]
