---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/dailySleepData/testuser?date=2026-01-01
        method: GET
      response:
        body: '{"dailySleepDTO":{"id":1778381350000,"userProfilePK":12345678,"calendarDate":"2026-01-01","sleepTimeSeconds":16759,"napTimeSeconds":0,"sleepWindowConfirmed":true,"sleepWindowConfirmationType":"enhanced_confirmed_final","sleepStartTimestampGMT":1778381350000,"sleepEndTimestampGMT":1778398109000,"sleepStartTimestampLocal":1778388550000,"sleepEndTimestampLocal":1778405309000,"autoSleepStartTimestampGMT":null,"autoSleepEndTimestampGMT":null,"sleepQualityTypePK":null,"sleepResultTypePK":null,"unmeasurableSleepSeconds":0,"deepSleepSeconds":3000,"lightSleepSeconds":9420,"remSleepSeconds":4380,"awakeSleepSeconds":0,"deviceRemCapable":true,"retro":false,"sleepFromDevice":true,"averageSpO2Value":96.0,"lowestSpO2Value":88,"highestSpO2Value":98,"averageSpO2HRSleep":50.0,"averageRespirationValue":13.0,"lowestRespirationValue":11.0,"highestRespirationValue":18.0,"awakeCount":0,"avgSleepStress":15.0,"ageGroup":"ADULT","avgHeartRate":51.0,"sleepScoreFeedback":"POSITIVE_SHORT_BUT_REFRESHING","sleepScoreInsight":"NONE","sleepScorePersonalizedInsight":"GENERAL_POS_FAIR_OR_POOR_SLEEP","sleepScores":{"totalDuration":{"qualifierKey":"POOR","optimalStart":28800.0,"optimalEnd":28800.0},"stress":{"qualifierKey":"GOOD","optimalStart":0.0,"optimalEnd":15.0},"awakeCount":{"qualifierKey":"EXCELLENT","optimalStart":0.0,"optimalEnd":1.0},"overall":{"value":61,"qualifierKey":"FAIR"},"remPercentage":{"value":26,"qualifierKey":"EXCELLENT","optimalStart":21.0,"optimalEnd":31.0,"idealStartInSeconds":3519.39,"idealEndInSeconds":5195.29},"restlessness":{"qualifierKey":"EXCELLENT","optimalStart":0.0,"optimalEnd":5.0},"lightPercentage":{"value":56,"qualifierKey":"EXCELLENT","optimalStart":30.0,"optimalEnd":64.0,"idealStartInSeconds":5027.7,"idealEndInSeconds":10725.76},"deepPercentage":{"value":18,"qualifierKey":"GOOD","optimalStart":16.0,"optimalEnd":33.0,"idealStartInSeconds":2681.44,"idealEndInSeconds":5530.47}},"sleepVersion":2,"sleepNeed":{"userProfilePk":12345678,"calendarDate":"2026-01-01","deviceId":9876543210,"timestampGmt":"2026-01-09T08:21:10","baseline":480,"actual":480,"feedback":"NO_CHANGE_NO_ADJUSTMENTS","trainingFeedback":"NO_CHANGE","sleepHistoryAdjustment":"NO_CHANGE","hrvAdjustment":"NO_CHANGE","napAdjustment":"NO_CHANGE","displayedForTheDay":false,"preferredActivityTracker":true},"nextSleepNeed":{"userProfilePk":12345678,"calendarDate":"2026-01-11","deviceId":9876543210,"timestampGmt":"2026-01-01T07:28:29","baseline":480,"actual":540,"feedback":"HIGHLY_INCREASED","trainingFeedback":"NO_CHANGE","sleepHistoryAdjustment":"INCREASING","hrvAdjustment":"NO_CHANGE","napAdjustment":"NO_CHANGE","displayedForTheDay":true,"preferredActivityTracker":true},"breathingDisruptionSeverity":"NONE"},"sleepMovement":[{"startGMT":"2026-01-01T01:49:00.0","endGMT":"2026-01-01T01:50:00.0","activityLevel":6.5},{"startGMT":"2026-01-01T01:50:00.0","endGMT":"2026-01-01T01:51:00.0","activityLevel":6.1},{"startGMT":"2026-01-01T01:51:00.0","endGMT":"2026-01-01T01:52:00.0","activityLevel":5.7},{"startGMT":"2026-01-01T01:52:00.0","endGMT":"2026-01-01T01:53:00.0","activityLevel":5.2},{"startGMT":"2026-01-01T01:53:00.0","endGMT":"2026-01-01T01:54:00.0","activityLevel":4.7},{"startGMT":"2026-01-01T01:54:00.0","endGMT":"2026-01-01T01:55:00.0","activityLevel":4.2},{"startGMT":"2026-01-01T01:55:00.0","endGMT":[...]
[...]
