---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/daily/spo2/2026-05-10
        method: GET
      response:
        body: '{"userProfilePK":127516254,"calendarDate":"2026-05-10","startTimestampGMT":"2026-05-09T22:00:00.0","endTimestampGMT":"2026-05-10T22:00:00.0","startTimestampLocal":"2026-05-10T00:00:00.0","endTimestampLocal":"2026-05-11T00:00:00.0","sleepStartTimestampGMT":"2026-05-10T02:49:10.0","sleepEndTimestampGMT":"2026-05-10T07:28:29.0","sleepStartTimestampLocal":"2026-05-10T04:49:10.0","sleepEndTimestampLocal":"2026-05-10T09:28:29.0","tomorrowSleepStartTimestampGMT":null,"tomorrowSleepEndTimestampGMT":null,"tomorrowSleepStartTimestampLocal":null,"tomorrowSleepEndTimestampLocal":null,"averageSpO2":94.0,"lowestSpO2":85,"lastSevenDaysAvgSpO2":94.71428571428571,"latestSpO2":94,"latestSpO2TimestampGMT":"2026-05-10T21:48:00.0","latestSpO2TimestampLocal":"2026-05-10T23:48:00.0","avgSleepSpO2":96.0,"avgTomorrowSleepSpO2":null,"spO2ValueDescriptorsDTOList":[{"spo2ValueDescriptorIndex":0,"spo2ValueDescriptorKey":"timestamp"},{"spo2ValueDescriptorIndex":1,"spo2ValueDescriptorKey":"spo2Reading"},{"spo2ValueDescriptorIndex":2,"spo2ValueDescriptorKey":"singleReadingPlottable"}],"spO2SingleValues":null,"continuousReadingDTOList":null,"spO2HourlyAverages":[[1778364000000,95],[1778367600000,91],[1778371200000,94],[1778374800000,92],[1778378400000,96],[1778382000000,95],[1778443200000,91],[1778446800000,94]]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.405083ms
