---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/dailySummaryChart/testuser?date=2026-01-01
        method: GET
      response:
        body: '[{"startGMT":"2026-01-09T22:00:00.0","endGMT":"2026-01-09T22:15:00.0","steps":0,"pushes":0,"primaryActivityLevel":"sedentary","activityLevelConstant":true},{"startGMT":"2026-01-09T22:15:00.0","endGMT":"2026-01-09T22:30:00.0","steps":0,"pushes":0,"primaryActivityLevel":"sedentary","activityLevelConstant":true},{"startGMT":"2026-01-09T22:30:00.0","endGMT":"2026-01-09T22:45:00.0","steps":0,"pushes":0,"primaryActivityLevel":"sedentary","activityLevelConstant":true},{"startGMT":"2026-01-09T22:45:00.0","endGMT":"2026-01-09T23:00:00.0","steps":0,"pushes":0,"primaryActivityLevel":"sedentary","activityLevelConstant":true},{"startGMT":"2026-01-09T23:00[...]
[...]
