---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            limit:
                - "1"
            start:
                - "0"
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?limit=1&start=0
        method: GET
      response:
        body: '[{"activityId":12345678,"activityName":"TEST","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":2,"typeKey":"TEST","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"TEST","sortOrder":10},"distance":1,"duration":1,"elapsedDuration":1,"movingDuration":1,"elevationGain":1,"elevationLoss":1,"averageSpeed":1,"maxSpeed":1,"startLatitude":1,"startLongitude":1,"hasPolyline":true,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"ffffffff-ffff-ffff-ffff-ffffffffffff","ownerFullName":"Test User","ownerProfileImageUrlSmall":"TEST","ownerProfileImageUrlMedium":"TEST","ownerProfileImageUrlLarge":"TEST","calories":1,"bmrCalories":1,"averageHR":1,"maxHR":1,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":2,"typeKey":"TEST"},"userPro":false,"hasVideo":false,"timeZoneId":124,"beginTimestamp":1,"sportTypeId":2,"aerobicTrainingEffect":1,"anaerobicTrainingEffect":1,"deviceId":12345678,"minElevation":1,"maxElevation":1,"avgElevation":1,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":1,"manufacturer":"TEST","locationName":"TEST","lapCount":3,"endLatitude":1,"endLongitude":1,"waterEstimated":1,"trainingEffectLabel":"TEST","activityTrainingLoad":1,"minActivityLapDuration":1,"aerobicTrainingEffectMessage":"TEST","anaerobicTrainingEffectMessage":"TEST","splitSummaries":[],"hasSplits":false,"hasIntensityIntervals":false,"moderateIntensityMinutes":1,"vigorousIntensityMinutes":1,"differenceBodyBattery":1,"hasHeatMap":false,"hrTimeInZone_1":1,"hrTimeInZone_2":1,"hrTimeInZone_3":1,"hrTimeInZone_4":1,"hrTimeInZone_5":1,"endTimeGMT":"2026-01-01 00:00:00","qualifyingDive":false,"activityUUID":"ffffffff-ffff-ffff-ffff-ffffffffffff","autoCalcCalories":false,"favorite":false,"decoDive":false,"elevationCorrected":false,"atpActivity":false,"pr":false,"purposeful":false,"manualActivity":false,"parent":false}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 1
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activity-service/activity/12345678/details
        method: GET
      response:
        body: '{"activityId":12345678,"measurementCount":14,"metricsCount":229,"totalMetricsCount":873,"metricDescriptors":[{"metricsIndex":0,"key":"TEST","unit":{"id":1,"key":"TEST","factor":1}},{"metricsIndex":1,"key":"TEST","unit":{"id":40,"key":"TEST","factor":1}},{"metricsIndex":2,"key":"TEST","unit":{"id":40,"key":"TEST","factor":1}},{"metricsIndex":3,"key":"TEST","unit":{"id":6,"key":"TEST","factor":1}},{"metricsIndex":4,"key":"TEST","unit":{"id":6,"key":"TEST","factor":1}},{"metricsIndex":5,"key":"TEST","unit":{"id":120,"key":"TEST","factor":1}},{"metricsIndex":6,"key":"TEST","unit":{"id":40,"key":"TEST","factor":1}},{"metricsIndex":7,"key":"TEST","unit":{"id":100,"key":"TEST","factor":1}},{"metricsIndex":8,"key":"TEST","unit":{"id":1,"key":"TEST","factor":1}},{"metricsIndex":9,"key":"TEST","unit":{"id":6,"key":"TEST","factor":1}},{"metricsIndex":10,"key":"TEST","unit":{"id":20,"key":"TEST","factor":1}},{"metricsIndex":11,"key":"TEST","unit":{"id":60,"key":"TEST","factor":1}},{"metricsIndex":12,"key":"TEST","unit":{"id":20,"key":"TEST","factor":1}},{"metricsIndex":13,"key":"TEST","unit":{"id":60,"key":"TEST","factor":1}}],"activityDetailMetrics":[{"metrics":[1,1,1,1,1,1.8E12,1,1,1,1,null,null,null,null]},{"metrics":[1,1,1,1,1,1.8E12,1,1,1,1,1,null,null,null]},{"metrics":[1,1,1,1,1,1.8E12,1,1,1,1,1,null,null,null]},{"metrics":[1,1,1,1,1,1.8E12,1,1,1,1,1,null,null,null]},{"metrics":[1,1,1,1,1,1.8E12,1,1,1,1,1,1,1,1]},{"metrics":[1,1,1,1,1,1.8E12,1,1,1,1,1,1,1,1]},{"metrics":[1,1,1,1,1,1.8E12,1,1,1,1,1,1,1,1]},{"metrics":[1,1,1,1,1,1.8E12,1,1,1,1,1,1,1,1]},{"metrics":[1,1,1,1,1,1.8E12,1,1,1,1,1,1,1,1]},{"metrics":[1,1,1,1,1,1.8E12,1,1,1,1,1,1,1,1]},{"[...]
