---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/gcs-golfcommunity/api/v2/club/player?include-stats=true&per-page=100
        method: GET
      response:
        body: '[{"id":12345678,"clubTypeId":6,"shaftLength":1.0,"flexTypeId":"TEST","averageDistance":1,"adviceDistance":1,"retired":false,"deleted":false,"lastModifiedTime":"2026-01-01T00:00:00Z"},{"id":12345678,"clubTypeId":7,"shaftLength":1.0,"flexTypeId":"TEST","averageDistance":1,"adviceDistance":1,"retired":false,"deleted":false,"lastModifiedTime":"2026-01-01T00:00:00Z"},{"id":12345678,"clubTypeId":12,"shaftLength":1.0,"flexTypeId":"TEST","averageDistance":1,"adviceDistance":1,"retired":false,"deleted":false,"lastModifiedTime":"2026-01-01T00:00:00Z"},{"id":12345678,"clubTypeId":13,"shaftLength":1.0,"flexTypeId":"TEST","averageDistance":1,"adviceDistance":1,"re[...]
