---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/personalrecord-service/personalrecord/prs/testuser
        method: GET
      response:
        body: '[{"id":12345678,"typeId":3,"status":"TEST","activityId":12345678,"activityName":"TEST","activityType":"TEST","activityStartDateTimeInGMT":1,"actStartDateTimeInGMTFormatted":"2026-01-01T00:00:00","activityStartDateTimeLocal":1,"activityStartDateTimeLocalFormatted":"2026-01-01T00:00:00","value":1.0,"prStartTimeGmt":1,"prStartTimeGmtFormatted":"2026-01-01T00:00:00","prStartTimeLocal":null,"prStartTimeLocalFormatted":null,"prTypeLabelKey":null,"poolLengthUnit":null},{"id":12345678,"typeId":4,"status":"TEST","activityId":12345678,"activityName":"TEST","activityType":"TEST","activityStartDateTimeInGMT":1,"actStartDateTimeInGMTFormatted":"2026-01-01T00:00:00","activityStartDateTimeLocal":1,"activityStartDateTimeLocalFormatted":"2026-01-01T00:00:00","value":1.0,"prStartTimeGmt":1,"prStartTimeGmtFormatted":"2026-01-01T00:00:00","prStartTimeLocal":null,"prStartTimeLocalFormatted":null,"prTypeLabelKey":null,"poolLengthUnit":null},{"id":12345678,"typeId":7,"s[...]
