---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/usersummary-service/usersummary/daily/testuser?calendarDate=2026-01-01
        method: GET
      response:
        body: '{"userProfileId":12345678,"totalKilocalories":1.0,"activeKilocalories":1.0,"bmrKilocalories":1.0,"wellnessKilocalories":1.0,"burnedKilocalories":null,"consumedKilocalories":null,"remainingKilocalories":null,"totalSteps":null,"netCalorieGoal":null,"totalDistanceMeters":null,"wellnessDistanceMeters":null,"wellnessActiveKilocalories":1.0,"netRemainingKilocalories":1.0,"userDailySummaryId":12345678,"calendarDate":"2026-01-01","rule":{"typeId":2,"typeKey":"TEST"},"uuid":"ffffffffffffffffffffffffffffffff","dailyStepGoal":1,"wellnessStartTimeGmt":"2026-01-01T00:00:00","wellnessStartTimeLocal":"2026-01-01T00:00:00","wellnessEndTimeGmt":"2026-01-01T00:00:00","wellnessEndTimeLocal":"2026-01-01T00:00:00","durationInMilliseconds":1,"wellnessDescription":null,"highlyActiveSeconds":1,"activeSeconds":1,"sedentarySeconds":1,"sleepingSeconds":1,"includesWellnessData":true,"includesActivityData":false,"includesCalorieConsumedData":false,"privacyProtected":false,"moderateIntensityMinutes":1,"vigorousIntensityMinutes":1,"floorsAscendedInMeters":1.0,"floorsDescendedInMeters":1.0,"floorsAscended":1.0,"floorsDescended":1.0,"intensityMinutesGoal":1,"userFloorsAscendedGoal":1,"minHeartRate":null,"maxHeartRate":null,"restingHeartRate":null,"lastSevenDaysAvgRestingHeartRate":null,"source":"TEST","averageStressLevel":1,"maxStressLevel":null,"stressDuration":null,"restStressDuration":null,"activityStressDuration":null,"uncategorizedStressDuration":1,"totalStressDuration":1,"lowStressDuration":null,"mediumStressDuration":null,"highStressDuration":null,"stressPercentage":1.0,"restStressPercentage":1.0,"activityStressPercentage":1.0,"uncategorizedStressPercentage":1.0,"lowStressPercentage":1.0,"mediumStressPercentage":1.0,"highStressPercentage":1.0,"stressQualifier":"TEST","measurableAwakeDuration":1,"measurableAsleepDuration":1,"lastSyncTimestampGMT":null,"minAvgHeartRate":null,"maxAvgHeartRate":null,"bodyBatteryChargedValue":null,"bodyBatteryDrainedValue":null,"bodyBatteryHighestValue":null,"bodyBatteryLowestValue":null,"bodyBatteryMostRecentValue":null,"bodyBatteryDuringSleep":null,"bodyBatteryAtWakeTime":null,"bodyBatteryVersion":3.0,"abnormalHeartRateAlertsCount":null,"averageSpo2":null,"lowestSpo2":null,"latestSpo2":null,"latestSpo2ReadingTimeGmt":null,"latestSpo2ReadingTimeLocal":null,"averageMonitoringEnvironmentAltitude":1.0,"restingCaloriesFromActivity":null,"bodyBatteryDynamicFeedbackEvent":{"eventTimestampGmt":"2026-01-01T00:00:00","bodyBatteryLevel":"TEST","feedbackShortType":"TEST","feedbackLongType":"TEST"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
