---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?limit=1&start=0
        method: GET
      response:
        body: '[{"activityId":12345678,"activityName":"TEST","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":2,"typeKey":"TEST","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"TEST","sortOrder":10},"distance":1.0,"duration":1.0,"elapsedDuration":1.0,"movingDuration":1.0,"elevationGain":1.0,"elevationLoss":1.0,"averageSpeed":1.0,"maxSpeed":1.0,"startLatitude":1.0,"startLongitude":1.0,"hasPolyline":true,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"ffffffff-ffff-ffff-ffff-ffffffffffff","ownerFullName":"TEST","ownerProfileImageUrlSmall":"TEST","ownerProfileImageUrlMedium":"TEST","ownerProfileImageUrlLarge":"TEST","calories":1.0,"bmrCalories":1.0,"averageHR":1.0,"maxHR":1.0,"userRoles":["TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST"],"privacy":{"typeId":2,"typeKey":"TEST"},"userPro":false,"hasVideo":false,"timeZoneId":124,"beginTimestamp":1,"sportTypeId":2,"aerobicTrainingEffect":1.0,"anaerobicTrainingEffect":1.0,"deviceId":12345678,"minElevation":1.0,"maxElevation":1.0,"avgElevation":1.0,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":1.0,"manufacturer":"TEST","locationName":"TEST","lapCount":5,"endLatitude":1.0,"endLongitude":1.0,"waterEstimated":1.0,"trainingEffectLabel":"TEST","activityTrainingLoad":1.0,"minActivityLapDuration":1.0,"aerobicTrainingEffectMessage":"TEST","anaerobicTrainingEffectMessage":"TEST","splitSummaries":[],"hasSplits":false,"hasIntensityIntervals":false,"moderateIntensityMinutes":1,"vigorousIntensityMinutes":1,"differenceBodyBattery":1,"hasHeatMap":false,"hrTimeInZone_1":1.0,"hrTimeInZone_2":1.0,"hrTimeInZone_3":1.0,"hrTimeInZone_4":1.0,"hrTimeInZone_5":1.0,"endTimeGMT":"2026-01-01 00:00:00","qualifyingDive":false,"activityUUID":"ffffffff-ffff-ffff-ffff-ffffffffffff","parent":false,"decoDive":false,"purposeful":false,"manualActivity":false,"pr":false,"favorite":false,"autoCalcCalories":false,"elevationCorrected":false,"atpActivity":false}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 1
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activity-service/activity/12345678
        method: GET
      response:
        body: '{"activityId":12345678,"activityUUID":{"uuid":"ffffffff-ffff-ffff-ffff-ffffffffffff"},"activityName":"TEST","userProfileId":12345678,"isMultiSportParent":false,"activityTypeDTO":{"typeId":2,"typeKey":"TEST","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventTypeDTO":{"typeId":9,"typeKey":"TEST","sortOrder":10},"accessControlRuleDTO":{"typeId":2,"typeKey":"TEST"},"timeZoneUnitDTO":{"unitId":124,"unitKey":"TEST","factor":1.0,"timeZone":"TEST"},"metadataDTO":{"isOriginal":true,"deviceApplicationInstallationId":12345678,"agentApplicationInstallationId":null,"agentString":null,"fileFormat":{"formatId":7,"formatKey":"TEST"},"associatedCourseId":null,"lastUpdateDate":"2026-01-01T00:00:00","uploadedDate":"2026-01-01T00:00:00","videoUrl":null,"hasPolyline":true,"hasChartData":true,"hasHrTimeInZones":true,"hasPowerTimeInZones":false,"userInfoDto":{"userProfilePk":12345678,"displayname":"ffffffff-ffff-ffff-ffff-ffffffffffff","fullname":"TEST","profileImageUrlLarge":"TEST","profileImageUrlMedium":"TEST","profileImageUrlSmall":"TEST","userPro":false},"childIds":[],"childActivityTypes":[],"sensors":null,"activityImages":[],"manufacturer":"TEST","diveNumber":null,"lapCount":5,"associatedWorkoutId":null,"isAtpActivity":null,"deviceMetaDataDTO":{"deviceId":"TEST","deviceTypePk":37086,"deviceVersionPk":12345678},"hasIntensityIntervals":false,"hasSplits":false,"eBikeMaxAssistModes":null,"eBikeBatteryUsage":null,"eBikeBatteryRemaining":null,"eBikeAssistModeInfoDTOList":null,"hasRunPowerWindData":null,"calendarEventInfo":null,"groupRideUUID":null,"hasHeatMap":false,"specializedWorkoutCategories":["TEST"],"trainingPlanId":12345678,"runPowerWindDataEnabled":null,"manualActivity":false,"favorite":false,"autoCalcCalories":false,"elevationCorrected":false,"trimmed":false,"personalRecord":false,"gcj02":false},"summaryDTO":{"startTimeLocal":"2026-01-01T00:00:00","startTimeGMT":"2026-01-01T00:00:00","startLatitude":1.0,"startLongitude":1.0,"distance":1.0,"duration":1.0,"movingDuration":1.0,"elapsedDuration":1.0,"elevationGain":1.0,"elevationLoss":1.0,"maxElevation":1.0,"minElevation":1.0,"avgElevation":1.0,"averageSpeed":1.0,"averageMovingSpeed":1.0,"maxSpeed":1.0,"calories":1.0,"bmrCalories":1.0,"averageHR":1.0,"maxHR":1.0,"minHR":1.0,"trainingEffect":1.0,"anaerobicTrainingEffect":1.0,"aerobicTrainingEffectMessage":"TEST","anaerobicTrainingEffectMessage":"TEST","endLatitude":1.0,"endLongitude":1.0,"maxVerticalSpeed":1.0,"waterEstimated":1.0,"trainingEffectLabel":"TEST","activityTrainingLoad":1.0,"minActivityLapDuration":1.0,"directWorkoutFeel":1,"directWorkoutRpe":1,"moderateIntensityMinutes":1,"vigorousIntensityMinutes":1,"recoveryHeartRate":1,"beginPotentialStamina":1.0,"endPotentialStamina":1.0,"minAvailableStamina":1.0,"differenceBodyBattery":1},"locationName":"TEST"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 100ms
