---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/floorsChartData/daily/2026-01-01
        method: GET
      response:
        body: '{"startTimestampGMT":"2026-01-01T00:00:00","endTimestampGMT":"2026-01-01T00:00:00","startTimestampLocal":"2026-01-01T00:00:00","endTimestampLocal":"2026-01-01T00:00:00","floorsValueDescriptorDTOList":[{"index":0,"key":"TEST"},{"index":1,"key":"TEST"},{"index":2,"key":"TEST"},{"index":3,"key":"TEST"}],"floorValuesArray":[["2026-01-01T00:00:00","2026-01-01T00:00:00",1,1],["2026-01-01T00:00:00","2026-01-01T00:00:00",1,1],["2026-01-01T00:00:00","2026-01-01T00:00:00",1,1],["2026-01-01T00:00:00","2026-01-01T00:00:00",1,1],["2026-01-01T00:00:00","2026-01-01T00:00:00",1,1],["2026-01-01T00:00:00","2026-01-01T00:00:00",1,1],["2026-01-01T00:00:00","2026-01-01T00:00:00",1,1],["2026-01-01T00:00:00","2026-01-01T00:00:00",1,1],["2026-01-01T00:00:00","2026-01-01T00:00:00",1,1],["2026-01-01T00:00:00","2026-01-01T00:00:00",1,1][...]
