---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/userprofile-service/socialProfile
        method: GET
      response:
        body: '{"id":12345678,"profileId":12345678,"garminGUID":"ffffffff-ffff-ffff-ffff-ffffffffffff","displayName":"ffffffff-ffff-ffff-ffff-ffffffffffff","fullName":"TEST","userName":"TEST","profileImageType":"TEST","profileImageUrlLarge":"TEST","profileImageUrlMedium":"TEST","profileImageUrlSmall":"TEST","hasPremiumSocialIcon":false,"location":"","facebookUrl":null,"twitterUrl":null,"personalWebsite":null,"motivation":null,"bio":null,"primaryActivity":null,"favoriteActivityTypes":[],"runningTrainingSpeed":1.0,"cyclingTrainingSpeed":1.0,"favoriteCyclingActivityTypes":[],"cyclingClassification":null,"cyclingMaxAvgPower":1.0,"swimmingTrainingSpeed":1.0,"profileVisibility":"TEST","activityStartVisibility":"TEST","activityMapVisibility":"TEST","courseVisibility":"TEST","activityHeartRateVisibility":"TEST","activityPowerVisibility":"TEST","badgeVisibility":"TEST","showAge":false,"showWeight":false,"showHeight":false,"showWeightClass":false,"showAgeRange":false,"showGender":false,"showActivityClass":false,"showVO2Max":false,"showPersonalRecords":false,"showLast12Months":false,"showLifetimeTotals":false,"showUpcomingEvents":false,"showRecentFavorites":true,"showRecentDevice":false,"showRecentGear":false,"showBadges":true,"otherActivity":null,"otherPrimaryActivity":null,"otherMotivation":null,"userRoles":["TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST"],"nameApproved":true,"userProfileFullName":"TEST","makeGolfScorecardsPrivate":true,"allowGolfLiveScoring":false,"allowGolfScoringByConnections":true,"userLevel":1,"userPoint":1,"levelUpdateDate":"2026-01-01T00:00:00","levelIsViewed":false,"levelPointThreshold":1,"userPointOffset":0,"userPro":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
