---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/badge-service/badge/earned
        method: GET
      response:
        body: '[{"badgeId":44,"badgeKey":"TEST","badgeName":"TEST","badgeUuid":null,"badgeCategoryId":6,"badgeDifficultyId":1,"badgePoints":1,"badgeTypeIds":[1],"badgeSeriesId":15,"badgeStartDate":"2026-01-01T00:00:00","badgeEndDate":null,"userProfileId":12345678,"fullName":"TEST","displayName":"ffffffff-ffff-ffff-ffff-ffffffffffff","badgeEarnedDate":"2026-01-01T00:00:00","badgeEarnedNumber":1,"premium":false,"badgeLimitCount":null,"badgeIsViewed":true,"badgeProgressValue":1.0,"badgeTargetValue":null,"badgeUnitId":null,"badgeAssocTypeId":5,"badgeAssocType":"TEST","badgeAssocDataId":null,"badgeAssocDataName":null,"earnedByMe":true,"currentPlayerType":null,"userJoined":null,"badgeChallengeStatusId":null,"badgePromotionCodeTypeList":[null],"promotionCodeStatus":null,"createDate":"2026-01-01T00:00:00","relatedBadges":null},{"badgeId":16,"badgeKey":"TEST","badgeName":"TEST","badgeUuid":null,"badgeCategoryId":3,"badgeDifficultyId":2,"badgePoints":1,"badgeTypeIds":[1],"badgeSeriesId":10,"badgeStartDate":"2026-01-01T00:00:00","badgeEndDate":null,"userProfileId":12345678,"fullName":"TEST","displayName":"ffffffff-ffff-ffff-ffff-ffffffffffff","badgeEarnedDate":"2026-01-01T00:00:00","badgeEarnedNumber":1,"premium":false,"badgeLimitCount":null,"badgeIsViewed":true,"badgeProgressValue":1.0,"badgeTargetValue":null,"bad[...]
