---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/dailySummaryChart/testuser?date=2026-01-01
        method: GET
      response:
        body: '[{"startGMT":"2026-01-01T00:00:00","endGMT":"2026-01-01T00:00:00","steps":1,"pushes":1,"primaryActivityLevel":"TEST","activityLevelConstant":true},{"startGMT":"2026-01-01T00:00:00","endGMT":"2026-01-01T00:00:00","steps":1,"pushes":1,"primaryActivityLevel":"TEST","activityLevelConstant":true},{"startGMT":"2026-01-01T00:00:00","endGMT":"2026-01-01T00:00:00","steps":1,"pushes":1,"primaryActivityLevel":"TEST","activityLevelConstant":true},{"startGMT":"2026-01-01T00:00:00","endGMT":"2026-01-01T00:00:00","steps":1,"pushes":1,"primaryActivityLevel":"TEST","activityLevelConstant":true},{"startGMT":"2026-01-01T00:00:00","endGMT":"2026-01-01T0[...]
