---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?endDate=2026-01-01&limit=999&start=0&startDate=2025-12-01
        method: GET
      response:
        body: '[{"activityId":12345678,"activityName":"TEST","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":27,"typeKey":"TEST","parentTypeId":26,"isHidden":false,"restricted":false,"trimmable":false},"eventType":{"typeId":9,"typeKey":"TEST","sortOrder":10},"distance":1.0,"duration":1.0,"elapsedDuration":1.0,"movingDuration":1.0,"averageSpeed":1.0,"maxSpeed":1.0,"hasPolyline":false,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"ffffffff-ffff-ffff-ffff-ffffffffffff","ownerFullName":"TEST","ownerProfileImageUrlSmall":"TEST","ownerProfileImageUrlMedium":"TEST","ownerProfileImageUrlLarge":"TEST","calories":1.0,"bmrCalories":1.0,"averageHR":1.0,"maxHR":1.0,"averageSwimCadenceInStrokesPerMinute":1.0,"averageSwolf":1.0,"activeLengths":1,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":2,"typeKey":"TEST"},"userPro":false,"poolLength":1.0,"unitOfPoolLength":{"unitId":1,"unitKey":"TEST","factor":1.0},"hasVideo":false,"timeZoneId":124,"beginTimestamp":1,"sportTypeId":5,"aerobicTrainingEffect":1.0,"anaerobicTrainingEffect":1.0,"strokes":1.0,"avgStrokeDistance":1.0,"avgStrokes":1.0,"deviceId":12345678,"summarizedDiveInfo":{"summarizedDiveGases":[]},"manufacturer":"TEST","lapCount":16,"trainingEffectLabel":"TEST","activityTrainingLoad":1.0,"minActivityLapDuration":1.0,"aerobicTrainingEffectMessage":"TEST","anaerobicTrainingEffectMessage":"TEST","splitSummaries":[],"hasSplits":false,"moderateIntensityMinutes":1,"vigorousIntensityMinutes":1,"hasHeatMap":false,"fastestSplit_100":1.0,"hrTimeInZone_1":1.0,"hrTimeInZone_2":1.0,"hrTimeInZone_3":1.0,"hrTimeInZone_4":1.0,"hrTimeInZone_5":1.0,"endTimeGMT":"2026-01-01 00:00:00","qualifyingDive":false,"activityUUID":"ffffffff-ffff-ffff-ffff-ffffffffffff","autoCalcCalories":false,"favorite":false,"decoDive":false,"elevationCorrected":false,"atpActivity":false,"purposeful":false,"pr":false,"parent":false,"manualActivity":false},{"activityId":12345678,"activityName":"TEST","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":251,"typeKey":"TEST","parentTypeId":165,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"TEST","sortOrder":10},"distance":1.0,"duration":1.0,"elapsedDuration":1.0,"movingDuration":1.0,"elevationGain":1.0,"elevationLoss":1.0,"averageSpeed":1.0,"maxSpeed":1.0,"startLatitude":1.0,"startLongitude":1.0,"hasPolyline":true,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"ffffffff-ffff-ffff-ffff-ffffffffffff","ownerFullName":"TEST","ownerProfileImageUrlSmall":"TEST","ownerProfileImageUrlMedium":"TEST","ownerProfileImageUrlLarge":"TEST","calories":1.0,"bmrCalories":1.0,"averageHR":1.0,"maxHR":1.0,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":2,"typeKey":"TEST"},"userPro":false,"hasVideo":false,"timeZoneId":124,"beginTimestamp":1,"sportTypeId":13,"aerobicTrainingEffect":1.0,"anaerobicTrainingEffect":1.0,"deviceId":12345678,"minElevation":1.0,"maxElevation":1.0,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":1.0,"manufacturer":"TEST","locationName":"TEST","lapCount":13,"endLatitude":1.0,"endLongitude":1.0,"waterEstimated":1.0,"trainingEffectLabel":"TEST","activityTrainingLoad":1.0,"minActivityLapDuration":1.0,"aerobicTrainingEffectMessage":"TEST","anaerobicTrainingEffectMessage":"TEST","splitSummaries":[{"noOfSplits":1,"totalAscent":1.0,"duration":1.0,"splitType":"TEST","numClimbSends":1,"maxElevationGain":1.0,"averageElevationGain":1.0,"maxDistance":1,"distance":1.0,"averageSpeed":1.0,"maxSpeed":1.0,"numFalls":1,"elevationLoss":1.0},{"noOfSplits":1,"totalAscent":1.0,"duration":1.0,"splitType":"TEST","numClimbSends":1,"maxElevationGain":1.0,"averageElevationGain":1.0,"maxDistance":1,"distance":1.0,"averageSpeed":1.0,"maxSpeed":1.0,"numFalls":1,"elevationLoss":1.0}],"hasSplits":true,"moderateIntensityMinutes":1,"vigorousIntensityMinutes":1,"differenceBodyBattery":1,"hasHeatMap":false,"hrTimeInZone_1":1.0,"hrTimeInZone_2":1.0,"hrTimeInZone_3":1.0,"hrTimeInZone_4":1.0,"hrTimeInZone_5":1.0,"endTimeGMT":"2026-01-01 00:00:00","qualifyingDive":false,"activityUUID":"ffffffff-ffff-ffff-ffff-ffffffffffff","autoCalcCalories":false,"favorite":false,"decoDive":false,"elevationCorrected":false,"atpActivity":false,"purposeful":false,"pr":false,"parent":false,"manualActivity":false},{"activityId":12345678,"activityName":"TEST","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":1,"typeKey":"TEST","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"TEST","sortOrder":10},"distance":1.0,"duration":1.0,"elapsedDuration":1.0,"movingDuration":1.0,"elevationGain":1.0,"elevationLoss":1.0,"averageSpeed":1.0,"maxSpeed":1.0,"startLatitude":1.0,"startLongitude":1.0,"hasPolyline":true,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"ffffffff-ffff-ffff-ffff-ffffffffffff","ownerFullName":"TEST","ownerProfileImageUrlSmall":"TEST","ownerProfileImageUrlMedium":"TEST","ownerProfileImageUrlLarge":"TEST","calories":1.0,"bmrCalories":1.0,"averageHR":1.0,"maxHR":1.0,"averageRunningCadenceInStepsPerMinute":1.0,"maxRunningCadenceInStepsPerMinute":1.0,"steps":1,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":2,"typeKey":"TEST"},"userPro":false,"hasVideo":false,"timeZoneId":124,"beginTimestamp":1,"sportTypeId":1,"avgPower":1.0,"maxPower":1.0,"aerobicTrainingEffect":1.0,"anaerobicTrainingEffect":1.0,"normPower":1.0,"avgVerticalOscillation":1.0,"avgGroundContactTime":1.0,"avgStrideLength":1.0,"vO2MaxValue":1.0,"avgVerticalRatio":1.0,"deviceId":12345678,"minElevation":1.0,"maxElevation":1.0,"maxDoubleCadence":1.0,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":1.0,"manufacturer":"TEST","locationName":"TEST","lapCount":6,"endLatitude":1.0,"endLongitude":1.0,"waterEstimated":1.0,"trainingEffectLabel":"TEST","activityTrainingLoad":1.0,"minActivityLapDuration":1.0,"aerobicTrainingEffectMessage":"TEST","anaerobicTrainingEffectMessage":"TEST","splitSummaries":[{"noOfSplits":1,"totalAscent":1.0,"duration":1.0,"splitType":"TEST","numClimbSends":1,"maxElevationGain":1.0,"averageElevationGain":1.0,"maxDistance":1,"distance":1.0,"averageSpeed":1.0,"maxSpeed":1.0,"numFalls":1,"elevationLoss":1.0},{"noOfSplits":1,"totalAscent":1.0,"duration":1.0,"splitType":"TEST","numClimbSends":1,"maxElevationGain":1.0,"averageElevationGain":1.0,"maxDistance":1,"distance":1.0,"averageSpeed":1.0,"maxSpeed":1.0,"numFalls":1,"elevationLoss":1.0},{"noOfSplits":1,"totalAscent":1.0,"duration":1.0,"splitType":"TEST","numClimbSends":1,"maxElevationGain":1.0,"averageElevationGain":1.0,"maxDistance":1,"distance":1.0,"averageSpeed":1.0,"maxSpeed":1.0,"numFalls":1,"elevationLoss":1.0},{"noOfSplits":1,"totalAscent":1.0,"duration":1.0,"splitType":"TEST","numClimbSends":1,"maxElevationGain":1.0,"averageElevationGain":1.0,"maxDistance":1,"distance":1.0,"averageSpeed":1.0,"maxSpeed":1.0,"numFalls":1,"elevationLoss":1.0}],"hasSplits":true,"moderateIntensityMinutes":1,"vigorousIntensityMinutes":1,"avgGradeAdjustedSpeed":1.0,"differenceBodyBattery":1,"hasHeatMap":false,"fastestSplit_1000":1.0,"fastestSplit_1609":1.0,"fastestSplit_5000":1.0,"hrTimeInZone_1":1.0,"hrTimeInZone_2":1.0,"hrTimeInZone_3":1.0,"hrTimeInZone_4":1.0,"hrTimeInZone_5":1.0,"powerTimeInZone_1":1.0,"powerTimeInZone_2":1.0,"powerTimeInZone_3":1.0,"powerTimeInZone_4":1.0,"powerTimeInZone_5":1.0,"endTimeGMT":"2026-01-01 00:00:00","qualifyingDive":false,"activityUUID":"ffffffff-ffff-ffff-ffff-ffffffffffff","autoCalcCalories":false,"favorite":false,"decoDive":false,"elevationCorrected":false,"atpActivity":false,"purposeful":false,"pr":false,"parent":false,"manualActivity":false},{"activityId":12345678,"activityName":"TEST","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":3,"typeKey":"TEST","parentTypeId":17,"isHidden":false,"restrict[...]
