---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?endDate=2026-01-01&limit=999&start=0&startDate=2025-12-01
        method: GET
      response:
        body: '[{"activityId":12345678,"activityName":"TEST","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":231,"typeKey":"TEST","parentTypeId":228,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"TEST","sortOrder":10},"distance":1,"duration":1,"elapsedDuration":1,"movingDuration":1,"elevationGain":1,"elevationLoss":1,"averageSpeed":1,"maxSpeed":1,"startLatitude":1,"startLongitude":1,"hasPolyline":true,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"ffffffff-ffff-ffff-ffff-ffffffffffff","ownerFullName":"Test User","ownerProfileImageUrlSmall":"TEST","ownerProfileImageUrlMedium":"TEST","ownerProfileImageUrlLarge":"TEST","calories":1,"bmrCalories":1,"averageHR":1,"maxHR":1,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":2,"typeKey":"TEST"},"userPro":false,"hasVideo":false,"timeZoneId":159,"beginTimestamp":1,"sportTypeId":41,"aerobicTrainingEffect":1,"anaerobicTrainingEffect":1,"deviceId":12345678,"minElevation":1,"maxElevation":1,"avgElevation":1,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":1,"manufacturer":"TEST","locationName":"TEST","lapCount":1,"endLatitude":1,"endLongitude":1,"waterEstimated":1,"trainingEffectLabel":"TEST","activityTrainingLoad":1,"minActivityLapDuration":1,"aerobicTrainingEffectMessage":"TEST","anaerobicTrainingEffectMessage":"TEST","splitSummaries":[],"hasSplits":false,"hasIntensityIntervals":false,"moderateIntensityMinutes":1,"vigorousIntensityMinutes":1,"differenceBodyBattery":1,"hasHeatMap":false,"hrTimeInZone_1":1,"hrTimeInZone_2":1,"hrTimeInZone_3":1,"hrTimeInZone_4":1,"hrTimeInZone_5":1,"endTimeGMT":"2026-01-01 00:00:00","qualifyingDive":false,"activityUUID":"ffffffff-ffff-ffff-ffff-ffffffffffff","autoCalcCalories":false,"favorite":false,"decoDive":false,"elevationCorrected":false,"atpActivity":false,"purposeful":false,"manualActivity":false,"pr":false,"parent":false},{"activityId":12345678,"activityName":"TEST","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":231,"typeKey":"TEST","parentTypeId":228,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"TEST","sortOrder":10},"distance":1,"duration":1,"elapsedDuration":1,"movingDuration":1,"elevationGain":1,"elevationLoss":1,"averageSpeed":1,"maxSpeed":1,"startLatitude":1,"startLongitude":1,"hasPolyline":true,"hasImage[...]
