---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/dailySleepData/testuser?date=2026-01-01
        method: GET
      response:
        body: '{"dailySleepDTO":{"id":12345678,"userProfilePK":12345678,"calendarDate":"2026-01-01","sleepTimeSeconds":1,"napTimeSeconds":1,"sleepWindowConfirmed":true,"sleepWindowConfirmationType":"TEST","sleepStartTimestampGMT":1,"sleepEndTimestampGMT":1,"sleepStartTimestampLocal":1,"sleepEndTimestampLocal":1,"autoSleepStartTimestampGMT":null,"autoSleepEndTimestampGMT":null,"sleepQualityTypePK":null,"sleepResultTypePK":null,"unmeasurableSleepSeconds":1,"deepSleepSeconds":1,"lightSleepSeconds":1,"remSleepSeconds":1,"awakeSleepSeconds":1,"deviceRemCapable":true,"retro":false,"sleepFromDevice":true,"averageSpO2Value":1,"lowestSpO2Value":1,"highestSpO2Value":1,"averageSpO2HRSleep":1,"averageRespirationValue":1,"lowestRespirationValue":1,"highestRespirationValue":1,"awakeCount":0,"avgSleepStress":1,"ageGroup":"TEST","avgHeartRate":1,"sleepScoreFeedback":"TEST","sleepScoreInsight":"TEST","sleepScorePersonalizedInsight":"TEST","sleepScores":{"totalDuration":{"qualifierKey":"TEST","optimalStart":1,"optimalEnd":1},"stress":{"qualifierKey":"TEST","optimalStart":1,"optimalEnd":1},"awakeCount":{"qualifierKey":"TEST","optimalStart":1,"optimalEnd":1},"overall":{"value":1,"qualifierKey":"TEST"},"remPercentage":{"value":1,"qualifierKey":"TEST","optimalStart":1,"optimalEnd":1,"idealStartInSeconds":1,"idealEndInSeconds":1},"restlessness":{"qualifierKey":"TEST","optimalStart":1,"optimalEnd":1},"lightPercentage":{"value":1,"qualifierKey":"TEST","optimalStart":1,"optimalEnd":1,"idealStartInSeconds":1,"idealEndInSeconds":1},"deepPercentage":{"value":1,"qualifierKey":"TEST","optimalStart":1,"optimalEnd":1,"idealStartInSeconds":1,"idealEndInSeconds":1}},"sleepVersion":1,"sleepNeed":{"userProfilePk":12345678,"calendarDate":"2026-01-01","deviceId":12345678,"timestampGmt":"2026-01-01T00:00:00","baseline":1,"actual":1,"feedback":"TEST","trainingFeedback":"TEST","sleepHistoryAdjustment":"TEST","hrvAdjustment":"TEST","napAdjustment":"TEST","displayedForTheDay":false,"preferredActivityTracker":true},"nextSleepNeed":{"userProfilePk":12345678,"calendarDate":"2026-01-01","deviceId":12345678,"timestampGmt":"2026-01-01T00:00:00","baseline":1,"actual":1,"feedback":"TEST","trainingFeedback":"TEST","sleepHistoryAdjustment":"TEST","hrvAdjustment":"TEST","napAdjustment":"TEST","displayedForTheDay":true,"preferredActivityTracker":true},"breathingDisruptionSeverity":"TEST"},"sleepMovement":[{"startGMT":"2026-01-01T00:00:00","endGMT":"2026-01-01T00:00:00","activityLevel":1},{"startGMT":"2026-01-01T00:00:00","endGMT":"2026-01-01T00:00:00","activityLevel":1},{"startGMT":"2026-01-01T00:00:00","endGMT":"2026-01-01T00:00:00","activityLevel":1},{"startGMT":"2026-01-01T00:00:00","endGMT":"2026-01-01T00:00:00","activityLevel":1},{"startGMT":"2026-01-01T00:00:00","endGMT":"2026-01-01T00:00:00","activityLevel":1},{"startGMT":"2026-01-01T00:00:00","endGMT":"2026-01-01T00:00:00","activityLevel":1},{"startGMT":"2026-01-01T00:00:00","endGMT":"2026-01-01T00:00:00","activityLev[...]
[...]
