---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/weight-service/weight/range/2025-12-01/2026-01-01?includeAll=true
        method: GET
      response:
        body: '{"dailyWeightSummaries":[{"summaryDate":"2026-01-01","numOfWeightEntries":1,"minWeight":1.0,"maxWeight":1.0,"latestWeight":{"samplePk":1,"date":1,"calendarDate":"2026-01-01","weight":1.0,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":"TEST","timestampGMT":1,"weightDelta":1.0},"allWeightMetrics":[{"samplePk":1,"date":1,"calendarDate":"2026-01-01","weight":1.0,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":"TEST","timestampGMT":1,"weightDelta":1.0}]},{"summaryDate":"2026-01-01","numOfWeightEntries":1,"minWeight":1.0,"maxWeight":1.0,"latestWeight":{"samplePk":1,"date":1,"calendarDate":"2026-01-01","weight":1.0,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,[...]
