---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/badge-service/badge/available
        method: GET
      response:
        body: '[{"badgeId":3009,"badgeKey":"TEST","badgeName":"TEST","badgeUuid":"ffffffffffffffffffffffffffffffff","badgeCategoryId":4,"badgeDifficultyId":2,"badgePoints":1,"badgeTypeIds":[1,1],"badgeSeriesId":null,"badgeStartDate":"2026-01-01T00:00:00","badgeEndDate":"2026-01-01T00:00:00","userProfileId":null,"fullName":null,"displayName":null,"badgeEarnedDate":null,"badgeEarnedNumber":null,"premium":false,"badgeLimitCount":null,"badgeIsViewed":null,"badgeProgressValue":null,"badgeTargetValue":1.0,"badgeUnitId":1,"badgeAssocTypeId":9,"badgeAssocType":"TEST","badgeAssocDataId":null,"badgeAssocDataName":null,"earnedByMe":false,"currentPlayerType":null,"userJoined":null,"badgeChallengeStatusId":null,"badgePromotionCodeTypeList":[],"promotionCodeStatus":null,"createDate":null,"relatedBadges":null},{"badgeId":3010,"badgeKey":"TEST","badgeName":"TEST","badgeUuid":"ffffffffffffffffffffffffffffffff","badgeCategoryId":4,"badgeDifficultyId":1,"badgePoints":1,"badgeTypeIds":[1,1],"badgeSeriesId":null,"badgeStartDate":"2026-01-01T00:00:00","badgeEndDate":"2026-01-01T00:00:00","userProfileId":null,"fullName":null,"displayName":null,"badgeEarnedDate":null,"badgeEarnedNumber":null,"premium":false,"badgeLimitCount":null,"badgeIsViewed":null,"badgeProgressValue":null,"badgeTargetValue":1.0,"badg[...]
