---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/usersummary-service/usersummary/hydration/daily/2026-01-01
        method: GET
      response:
        body: '{"userId":12345678,"calendarDate":"2026-01-01","valueInML":null,"goalInML":1,"dailyAverageinML":null,"lastEntryTimestampLocal":null,"sweatLossInML":null,"activityIntakeInML":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
