---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activity-service/activity/activityTypes
        method: GET
      response:
        body: '[{"typeId":1,"typeKey":"TEST","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":2,"typeKey":"TEST","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":3,"typeKey":"TEST","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":4,"typeKey":"TEST","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":5,"typeKey":"TEST","parentTypeId":2,"isHidden":false,"restricted":false,"trimmable":true},{"typeId":6,"typeKey":"TEST","parentTypeId":1,"isHidden":false,"restricted":false,"trimmabl[...]
