---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
        method: GET
      response:
        body: '{"id":12345678,"userData":{"gender":"TEST","weight":1.0,"height":1.0,"timeFormat":"TEST","birthDate":"2026-01-01","measurementSystem":"TEST","activityLevel":null,"handedness":"TEST","powerFormat":{"formatId":30,"formatKey":"TEST","minFraction":1,"maxFraction":1,"groupingUsed":true,"displayFormat":null},"heartRateFormat":{"formatId":21,"formatKey":"TEST","minFraction":1,"maxFraction":1,"groupingUsed":false,"displayFormat":null},"firstDayOfWeek":{"dayId":3,"dayName":"TEST","sortOrder":3,"isPossibleFirstDay":true},"vo2MaxRunning":1.0,"vo2MaxCycling":null,"lactateThresholdSpeed":1.0,"lactateThresholdHeartRate":1,"diveNumber":null,"intensityMinutesCalcMethod":"TEST","moderateIntensityMinutesHrZone":1,"vigorousIntensityMinutesHrZone":1,"hydrationMeasurementUnit":"TEST","hydrationContainers":[],"hydrationAutoGoalEnabled":true,"firstbeatMaxStressScore":null,"firstbeatCyclingLtTimestamp":null,"firstbeatRunningLtTimestamp":1,"thresholdHeartRateAutoDetected":true,"ftpAutoDetected":true,"trainingStatusPausedDate":null,"weatherLocation":{"useFixedLocation":null,"latitude":null,"longitude":null,"locationName":null,"isoCountryCode":null,"postalCode":null},"golfDistanceUnit":"TEST","golfElevationUnit":null,"golfSpeedUnit":null,"externalBottomTime":null,"availableTrainingDays":["TEST","TEST","TEST","TEST","TEST"],"preferredLongTrainingDays":["TEST","TEST"],"virtualCaddieDataSource":null,"numberDivesAutomatically":null,"firstbeatRowingLtTimestamp":null,"lactateThresholdRowingPace":null,"lactateThresholdHeartRateRowing":null,"lactateThresholdHeartRateCycling":null},"userSleep":{"sleepTime":1,"defaultSleepTime":false,"wakeTime":1,"defaultWakeTime":false},"connectDate":null,"sourceType":null,"userSleepWindows":[{"sleepWindowFrequency":"TEST","startSleepTimeSecondsFromMidnight":1,"endSleepTimeSecondsFromMidnight":1},{"sleepWindowFrequency":"TEST","startSleepTimeSecondsFromMidnight":1,"endSleepTimeSecondsFromMidnight":1},{"sleepWindowFrequency":"TEST","startSleepTimeSecondsFromMidnight":1,"endSleepTimeSecondsFromMidnight":1},{"sleepWindowFrequency":"TEST","startSleepTimeSecondsFromMidnight":1,"endSleepTimeSecondsFromMidnight":1},{"sleepWindowFrequency":"TEST","startSleepTimeSecondsFromMidnight":1,"endSleepTimeSecondsFromMidnight":1},{"sleepWindowFrequency":"TEST","startSleepTimeSecondsFromMidnight":1,"endSleepTimeSecondsFromMidnight":1},{"sleepWindowFrequency":"TEST","startSleepTimeSecondsFromMidnight":1,"endSleepTimeSecondsFromMidnight":1},{"sleepWindowFrequency":"TEST","startSleepTimeSecondsFromMidnight":1,"endSleepTimeSecondsFromMidnight":1}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
