---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/sleep-service/stats/sleep/daily/2025-12-05/2026-01-01
        method: GET
      response:
        body: '{"overallStats":{"averageSpO2":1.0,"meanAvgHeartRate":1.0,"averageLocalSleepStartTime":1.0,"averageRespiration":1.0,"averageBodyBatteryChange":1.0,"averageSkinTempF":null,"averageSleepScore":1.0,"averageLocalSleepEndTime":1.0,"averageSkinTempC":null,"averageSleepSeconds":1.0,"averageSleepNeed":1.0,"averageRestingHeartRate":1.0},"individualStats":[{"calendarDate":"2026-01-01","values":{"remTime":1,"restingHeartRate":1,"totalSleepTimeInSeconds":1,"respiration":1.0,"localSleepEndTimeInMillis":1,"deepTime":1,"awakeTime":1,"sleepScoreQuality":"TEST","spO2":1.0,"localSleepStartTimeInMillis":1,"sleepNeed":1,"bodyBatteryChange":1,"gmtSleepStartTimeInMillis":1,"gmtSleepEndTimeInMillis":1,"hrvStatus":"TEST","skinTempF":null,"sleepScore":1,"skinTempC":null,"lightTime":1,"avgOvernightHrv":1.0,"avgHeartRate":1.0,"hrv7dAverage":1.0}},{"calendarDate":"2026-01-01","values":{"remTime":1,"restingHeartRate":1,"totalSleepTimeInSeconds":1,"respiration":1.0,"localSleepEndTimeInMillis":1,"deepTime":1,"awakeTime":1,"sleepScoreQuality":"TEST","spO2":1.0,"localSleepStartTimeInMillis":1,"sleepNeed":1,"bodyBatteryChange":1,"gmtSleepStartTimeInMillis":1,"gmtSleepEndTimeInMillis":1,"hrvStatus":"TEST","skinTempF":null,"sleepScore":1,"skinTempC":null,"lightTime":1,"avgOvernightHrv":1.0,"avgHeartRate":1.0,"hrv7dAverage":1.0}},{"calendarD[...]
