---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/hrv-service/hrv/daily/2025-12-26/2026-01-01
        method: GET
      response:
        body: '{"hrvSummaries":[{"calendarDate":"2026-01-01","weeklyAvg":1,"lastNightAvg":1,"lastNight5MinHigh":1,"baseline":{"lowUpper":1,"balancedLow":1,"balancedUpper":1,"markerValue":1.0},"status":"TEST","feedbackPhrase":"TEST","createTimeStamp":"2026-01-01T00:00:00"},{"calendarDate":"2026-01-01","weeklyAvg":1,"lastNightAvg":1,"lastNight5MinHigh":1,"baseline":{"lowUpper":1,"balancedLow":1,"balancedUpper":1,"markerValue":1.0},"status":"TEST","feedbackPhrase":"TEST","createTimeStamp":"2026-01-01T00:00:00"},{"calendarDate":"2026-01-01","weeklyAvg":1,"lastNightAvg":1,"lastNight5MinHigh":1,"baseline":{"lowUpper":1,"balancedLow":1,"balancedUpper":1,"markerValue":1.0},"status":"TEST","feedbackPhrase":"TEST","createTimeStamp":"2026-01-01T00:00:00"},{"calendarDate":"2026-01-01","weeklyAvg":1,"lastNightAvg":1,"lastNight5MinHigh":1,"baseline":{"lowUpper":1,"balancedLow":1,"balancedUpper":1,"markerValue":1.0},"status":"TEST","feedbackPhrase":"TEST","createTimeStamp":"2026-01-01T00:00:00"},{"calendarDate":"2026-01-01","weeklyAvg":1,"lastNightAvg":null,"lastNight5MinHigh":null,"baseline":{"lowUpper":1,"balancedLow":1,"balancedUpper":1,"markerValue":1.0},"status":"TEST","feedbackPhrase":"TEST","createTimeStamp":"2026-01-01T00:00:00"},{"calendarDate":"2026-01-01","weeklyAvg":1,"lastNightAvg":null,"lastNight5MinHigh":null,"baseline":{"lowUpper":1,"balancedLow":1,"balancedUpper":1,"markerValue":1.0},"status":"TEST","feedbackPhrase":"TEST","createTimeStamp":"2026-01-01T00:00:00"}],"userProfilePk":12345678}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
