---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/wellness-service/wellness/daily/spo2/2026-01-01
        method: GET
      response:
        body: '{"userProfilePK":12345678,"calendarDate":"2026-01-01","startTimestampGMT":"2026-01-01T00:00:00","endTimestampGMT":"2026-01-01T00:00:00","startTimestampLocal":"2026-01-01T00:00:00","endTimestampLocal":"2026-01-01T00:00:00","sleepStartTimestampGMT":"2026-01-01T00:00:00","sleepEndTimestampGMT":"2026-01-01T00:00:00","sleepStartTimestampLocal":"2026-01-01T00:00:00","sleepEndTimestampLocal":"2026-01-01T00:00:00","tomorrowSleepStartTimestampGMT":null,"tomorrowSleepEndTimestampGMT":null,"tomorrowSleepStartTimestampLocal":null,"tomorrowSleepEndTimestampLocal":null,"averageSpO2":1,"lowestSpO2":1,"lastSevenDaysAvgSpO2":1,"latestSpO2":1,"latestSpO2TimestampGMT":"2026-01-01T00:00:00","latestSpO2TimestampLocal":"2026-01-01T00:00:00","avgSleepSpO2":1,"avgTomorrowSleepSpO2":null,"spO2ValueDescriptorsDTOList":[{"spo2ValueDescriptorIndex":0,"spo2ValueDescriptorKey":"TEST"},{"spo2ValueDescriptorIndex":1,"spo2ValueDescriptorKey":"TEST"},{"spo2ValueDescriptorIndex":2,"spo2ValueDescriptorKey":"TEST"}],"spO2SingleValues":null,"continuousReadingDTOList":null,"spO2HourlyAverages":[[1,1],[1,1],[1,1],[1,1],[1,1],[1,1],[1,1],[1,1]]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
