---
version: 2
interactions:
    - id: 0
      request:
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?limit=2&start=0
        method: GET
      response:
        body: '[{"activityId":12345678,"activityName":"TEST","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":2,"typeKey":"TEST","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"TEST","sortOrder":10},"distance":1.0,"duration":1.0,"elapsedDuration":1.0,"movingDuration":1.0,"elevationGain":1.0,"elevationLoss":1.0,"averageSpeed":1.0,"maxSpeed":1.0,"startLatitude":1.0,"startLongitude":1.0,"hasPolyline":true,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"ffffffff-ffff-ffff-ffff-ffffffffffff","ownerFullName":"TEST","ownerProfileImageUrlSmall":"TEST","ownerProfileImageUrlMedium":"TEST","ownerProfileImageUrlLarge":"TEST","calories":1.0,"bmrCalories":1.0,"averageHR":1.0,"maxHR":1.0,"userRoles":["TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST","TEST"],"privacy":{"typeId":2,"typeKey":"TEST"},"userPro":false,"hasVideo":false,"timeZoneId":124,"beginTimestamp":1,"sportTypeId":2,"aerobicTrainingEffect":1.0,"anaerobicTrainingEffect":1.0,"deviceId":12345678,"minElevation":1.0,"maxElevation":1.0,"avgElevation":1.0,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":1.0,"manufacturer":"TEST","locationName":"TEST","lapCount":5,"endLatitude":1.0,"endLongitude":1.0,"waterEstimated":1.0,"trainingEffectLabel":"TEST","activityTrainingLoad":1.0,"minActivityLapDuration":1.0,"aerobicTrainingEffectMessage":"TEST","anaerobicTrainingEffectMessage":"TEST","splitSummaries":[],"hasSplits":false,"hasIntensityIntervals":false,"moderateIntensityMinutes":1,"vigorousIntensityMinutes":1,"differenceBodyBattery":1,"hasHeatMap":false,"hrTimeInZone_1":1.0,"hrTimeInZone_2":1.0,"hrTimeInZone_3":1.0,"hrTimeInZone_4":1.0,"hrTimeInZone_5":1.0,"endTimeGMT":"2026-01-01 00:00:00","qualifyingDive":false,"activityUUID":"ffffffff-ffff-ffff-ffff-ffffffffffff","autoCalcCalories":false,"elevationCorrected":false,"atpActivity":false,"pr":false,"favorite":false,"decoDive":false,"purposeful":false,"parent":false,"manualActivity":false},{"activityId":12345678,"activityName":"TEST","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":2,"typeKey":"TEST","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"TEST","sortOrder":10},"distance":1.0,"duration":1.0,"elapsedDuration":1.0,"movingDuration":1.0,"elevationGain":1.0,"elevationLoss":1.0,"averageSpeed":1.0,"maxSpeed":1.0,"startLatitude":1.0,"startLongitude":1.0,"hasPolylin[...]
