---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activitylist-service/activities/search/activities?limit=1&start=0
        method: GET
      response:
        body: '[{"activityId":12345678,"activityName":"TEST","startTimeLocal":"2026-01-01 00:00:00","startTimeGMT":"2026-01-01 00:00:00","activityType":{"typeId":1,"typeKey":"TEST","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventType":{"typeId":9,"typeKey":"TEST","sortOrder":10},"distance":1,"duration":1,"elapsedDuration":1,"movingDuration":1,"elevationGain":1,"elevationLoss":1,"averageSpeed":1,"maxSpeed":1,"startLatitude":1,"startLongitude":1,"hasPolyline":true,"hasImages":false,"ownerId":12345678,"ownerDisplayName":"ffffffff-ffff-ffff-ffff-ffffffffffff","ownerFullName":"Test User","ownerProfileImageUrlSmall":"TEST","ownerProfileImageUrlMedium":"TEST","ownerProfileImageUrlLarge":"TEST","calories":1,"bmrCalories":1,"averageHR":1,"maxHR":1,"averageRunningCadenceInStepsPerMinute":1,"maxRunningCadenceInStepsPerMinute":1,"steps":1,"userRoles":["SCOPE_GOLF_API_READ","SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE","SCOPE_DI_OAUTH_2_CREATE_DI_USER","SCOPE_ATP_READ","SCOPE_DIVE_API_WRITE","SCOPE_COMMUNITY_COURSE_ADMIN_READ","SCOPE_DIVE_API_READ","SCOPE_DT_ACTIVE_INTELLIGENCE_READ","SCOPE_DI_OAUTH_2_CLIENT_READ","SCOPE_CONNECT_WRITE","SCOPE_COMMUNITY_COURSE_WRITE","SCOPE_CONNECT_MCT_DAILY_LOG_READ","SCOPE_CONNECT_API_CREATE_UPDATE_USER","SCOPE_MESSAGE_GENERATION_READ","SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN","SCOPE_CONNECT_WEB_TEMPLATE_RENDER","SCOPE_ACTIVITY_DETECTION_READ","SCOPE_OMT_SUBSCRIPTION_ADMIN_READ","SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE","SCOPE_CONNECT_NON_SOCIAL_SHARED_READ","SCOPE_CONNECT_READ","SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE","SCOPE_DI_OAUTH_2_TOKEN_ADMIN","SCOPE_ATP_WRITE","ROLE_CONNECTUSER","ROLE_FITNESS_USER","ROLE_WELLNESS_USER","ROLE_OUTDOOR_USER","ROLE_GARMIN_USER"],"privacy":{"typeId":2,"typeKey":"TEST"},"userPro":false,"hasVideo":false,"timeZoneId":124,"beginTimestamp":1,"sportTypeId":1,"avgPower":1,"maxPower":1,"aerobicTrainingEffect":1,"anaerobicTrainingEffect":1,"normPower":1,"avgVerticalOscillation":1,"avgGroundContactTime":1,"avgStrideLength":1,"vO2MaxValue":1,"avgVerticalRatio":1,"deviceId":12345678,"minElevation":1,"maxElevation":1,"avgElevation":1,"maxDoubleCadence":1,"summarizedDiveInfo":{"summarizedDiveGases":[]},"maxVerticalSpeed":1,"manufacturer":"TEST","locationName":"TEST","lapCount":5,"endLatitude":1,"endLongitude":1,"waterEstimated":1,"trainingEffectLabel":"TEST","activityTrainingLoad":1,"minActivityLapDuration":1,"aerobicTrainingEffectMessage":"TEST","anaerobicTrainingEffectMessage":"TEST","splitSummaries":[{"noOfSplits":1,"totalAscent":1,"duration":1,"splitType":"TEST","numClimbSends":1,"maxElevationGain":1,"averageElevationGain":1,"maxDistance":1,"distance":1,"averageSpeed":1,"maxSpeed":1,"numFalls":1,"elevationLoss":1},{"noOfSplits":1,"totalAscent":1,"duration":1,"splitType":"TEST","numClimbSends":1,"maxElevationGain":1,"averageElevationGain":1,"maxDistance":1,"distance":1,"averageSpeed":1,"maxSpeed":1,"numFalls":1,"elevationLoss":1},{"noOfSplits":1,"totalAscent":1,"duration":1,"splitType":"TEST","numClimbSends":1,"maxElevationGain":1,"averageElevationGain":1,"maxDistance":1,"distance":1,"averageSpeed":1,"maxSpeed":1,"numFalls":1,"elevationLoss":1},{"noOfSplits":1,"totalAscent":1,"duration":1,"splitType":"TEST","numClimbSends":1,"maxElevationGain":1,"averageElevationGain":1,"maxDistance":1,"distance":1,"averageSpeed":1,"maxSpeed":1,"numFalls":1,"elevationLoss":1}],"hasSplits":true,"hasIntensityIntervals":false,"moderateIntensityMinutes":1,"vigorousIntensityMinutes":1,"avgGradeAdjustedSpeed":1,"differenceBodyBattery":1,"hasHeatMap":false,"fastestSplit_1000":1,"fastestSplit_1609":1,"hrTimeInZone_1":1,"hrTimeInZone_2":1,"hrTimeInZone_3":1,"hrTimeInZone_4":1,"hrTimeInZone_5":1,"powerTimeInZone_1":1,"powerTimeInZone_2":1,"powerTimeInZone_3":1,"powerTimeInZone_4":1,"powerTimeInZone_5":1,"endTimeGMT":"2026-01-01 00:00:00","qualifyingDive":false,"activityUUID":"ffffffff-ffff-ffff-ffff-ffffffffffff","pr":false,"purposeful":false,"favorite":false,"parent":false,"decoDive":false,"manualActivity":false,"autoCalcCalories":false,"elevationCorrected":false,"atpActivity":false}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 100ms
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/activity-service/activity/12345678
        method: GET
      response:
        body: '{"activityId":12345678,"activityUUID":{"uuid":"ffffffff-ffff-ffff-ffff-ffffffffffff"},"activityName":"TEST","userProfileId":12345678,"isMultiSportParent":false,"activityTypeDTO":{"typeId":1,"typeKey":"TEST","parentTypeId":17,"isHidden":false,"restricted":false,"trimmable":true},"eventTypeDTO":{"typeId":9,"typeKey":"TEST","sortOrder":10},"accessControlRuleDTO":{"typeId":2,"typeKey":"TEST"},"timeZoneUnitDTO":{"unitId":124,"unitKey":"TEST","factor":1,"timeZone":"TEST"},"metadataDTO":{"isOriginal":true,"deviceApplicationInstallationId":12345678,"agentApplicationInstallationId":null,"agentString":null,"fileFormat":{"formatId":7,"formatKey":"TEST"},"associatedCourseId":null,"lastUpdateDate":"2026-01-01T00:00:00","uploadedDate":"2026-01-01T00:00:00","videoUrl":null,"hasPolyline":true,"hasChartData":true,"hasHrTimeInZones":true,"hasPowerTimeInZones":true,"userInfoDto":{"userProfilePk":12345678,"displayname":"ffffffff-ffff-ffff-ffff-ffffffffffff","fullname":"Test User","profileImageUrlLarge":"TEST","profileImageUrlMedium":"TEST","profileImageUrlSmall":"TEST","userPro":false},"childIds":[],"childActivityTypes":[],"sensors":null,"activityImages":[],"manufacturer":"TEST","diveNumber":null,"lapCount":5,"associatedWorkoutId":null,"isAtpActivity":null,"deviceMetaDataDTO":{"deviceId":"TEST","deviceTypePk":37086,"deviceVersionPk":12345678},"hasIntensityIntervals":false,"hasSplits":true,"eBikeMaxAssistModes":null,"eBikeBatteryUsage":null,"eBikeBatteryRemaining":null,"eBikeAssistModeInfoDTOList":null,"hasRunPowerWindData":true,"calendarEventInfo":null,"groupRideUUID":null,"hasHeatMap":false,"personalRecord":false,"elevationCorrected":false,"runPowerWindDataEnabled":true,"autoCalcCalories":false,"favorite":false,"manualActivity":false,"trimmed":false,"gcj02":false},"summaryDTO":{"startTimeLocal":"2026-01-01T00:00:00","startTimeGMT":"2026-01-01T00:00:00","startLatitude":1,"startLongitude":1,"distance":1,"duration":1,"movingDuration":1,"elapsedDuration":1,"elevationGain":1,"elevationLoss":1,"maxElevation":1,"minElevation":1,"avgElevation":1,"averageSpeed":1,"averageMovingSpeed":1,"maxSpeed":1,"calories":1,"bmrCalories":1,"averageHR":1,"maxHR":1,"minHR":1,"averageRunCadence":1,"maxRunCadence":1,"averagePower":1,"maxPower":1,"minPower":1,"normalizedPower":1,"totalWork":1,"groundContactTime":1,"strideLength":1,"verticalOscillation":1,"trainingEffect":1,"anaerobicTrainingEffect":1,"aerobicTrainingEffectMessage":"TEST","anaerobicTrainingEffectMessage":"TEST","verticalRatio":1,"endLatitude":1,"endLongitude":1,"maxVerticalSpeed":1,"waterEstimated":1,"trainingEffectLabel":"TEST","activityTrainingLoad":1,"minActivityLapDuration":1,"directWorkoutFeel":1,"directWorkoutRpe":1,"moderateIntensityMinutes":1,"vigorousIntensityMinutes":1,"steps":1,"recoveryHeartRate":1,"beginPotentialStamina":1,"endPotentialStamina":1,"minAvailableStamina":1,"avgGradeAdjustedSpeed":1,"differenceBodyBattery":1},"locationName":"TEST","splitSummaries":[{"distance":1,"duration":1,"movingDuration":1,"elevationGain":1,"elevationLoss":1,"averageSpeed":1,"averageMovingSpeed":1,"maxSpeed":1,"calories":1,"bmrCalories":1,"averageHR":1,"maxHR":1,"averageRunCadence":1,"maxRunCadence":1,"averagePower":1,"maxPower":1,"normalizedPower":1,"groundContactTime":1,"strideLength":1,"verticalOscillation":1,"verticalRatio":1,"totalExerciseReps":1,"avgVerticalSpeed":1,"avgGradeAdjustedSpeed":1,"splitType":"TEST","noOfSplits":1,"maxElevationGain":1,"averageElevationGain":1,"maxDistance":1,"maxDistanceWithPrecision":1,"avgStepFrequency":1,"avgStepLength":1},{"distance":1,"duration":1,"movingDuration":1,"elevationGain":1,"elevationLoss":1,"averageSpeed":1,"maxSpeed":1,"calories":1,"bmrCalories":1,"averageHR":1,"maxHR":1,"averageRunCadence":1,"maxRunCadence":1,"averagePower":1,"maxPower":1,"normalizedPower":1,"totalExerciseReps":1,"avgVerticalSpeed":1,"avgGradeAdjustedSpeed":1,"splitType":"TEST","noOfSplits":1,"maxElevationGain":1,"averageElevationGain":1,"maxDistance":1,"maxDistanceWithPrecision":1,"avgStepFrequency":1},{"distance":1,"duration":1[...]
