---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/fitnessstats-service/fitness/statistics/training-status?calendarDate=2026-05-10
        method: GET
      response:
        body: '{"timestamp":"2026-05-12T20:47:34.605+00:00","status":404,"error":"Not Found","path":"/fitnessstats-service/fitness/statistics/training-status"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 304.335291ms
