---
version: 2
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/metrics-service/metrics/trainingstatus/aggregated/2026-01-01
        method: GET
      response:
        body: '{"userId":12345678,"mostRecentVO2Max":{"userId":12345678,"generic":{"calendarDate":"2026-01-01","vo2MaxPreciseValue":1,"vo2MaxValue":1,"fitnessAge":null,"fitnessAgeDescription":null,"maxMetCategory":0},"cycling":null,"heatAltitudeAcclimation":{"calendarDate":"2026-01-01","altitudeAcclimationDate":"2026-01-01","previousAltitudeAcclimationDate":"2026-01-01","heatAcclimationDate":"2026-01-01","previousHeatAcclimationDate":"2026-01-01","altitudeAcclimation":1,"previousAltitudeAcclimation":1,"heatAcclimationPercentage":1,"previousHeatAcclimationPercentage":1,"heatTrend":"TEST","altitudeTrend":null,"currentAltitude":1,"previousAltitude":1,"acclimationPercentage":1,"previousAcclimationPercentage":1,"altitudeAcclimationLocalTimestamp":"2026-01-01T00:00:00"}},"mostRecentTrainingLoadBalance":{"userId":12345678,"metricsTrainingLoadBalanceDTOMap":{"12345678":{"calendarDate":"2026-01-01","deviceId":12345678,"monthlyLoadAerobicLow":1,"monthlyLoadAerobicHigh":1,"monthlyLoadAnaerobic":1,"monthlyLoadAerobicLowTargetMin":1,"monthlyLoadAerobicLowTargetMax":1,"monthlyLoadAerobicHighTargetMin":1,"monthlyLoadAerobicHighTargetMax":1,"monthlyLoadAnaerobicTargetMin":1,"monthlyLoadAnaerobicTargetMax":1,"trainingBalanceFeedbackPhrase":"TEST","primaryTrainingDevice":true}},"recordedDevices":[{"deviceId":12345678,"imageURL":"TEST","deviceName":"TEST","category":0}]},"mostRecentTrainingStatus":{"userId":12345678,"latestTrainingStatusData":{"12345678":{"calendarDate":"2026-01-01","sinceDate":"2026-01-01","weeklyTrainingLoad":null,"trainingStatus":1,"timestamp":1,"deviceId":12345678,"loadTunnelMin":null,"loadTunnelMax":null,"loadLevelTrend":null,"sport":null,"subSport":null,"fitnessTrendSport":"TEST","fitnessTrend":1,"trainingStatusFeedbackPhrase":"TEST","trainingPaused":false,"acuteTrainingLoadDTO":{"acwrPercent":1,"acwrStatus":"TEST","acwrStatusFeedback":"TEST","dailyTrainingLoadAcute":1,"maxTrainingLoadChronic":1,"minTrainingLoadChronic":1,"dailyTrainingLoadChronic":1,"dailyAcuteChronicWorkloadRatio":1},"primaryTrainingDevice":true}},"recordedDevices":[{"deviceId":12345678,"imageURL":"TEST","deviceName":"TEST","category":0}],"showSelector":false,"lastPrimarySyncDate":"2026-01-01"},"heatAltitudeAcclimationDTO":null}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 100ms
