---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/metrics-service/metrics/trainingreadiness/2026-01-01
        method: GET
      response:
        body: '[{"userProfilePK":12345678,"calendarDate":"2026-01-01","timestamp":"2026-01-01T00:00:00","timestampLocal":"2026-01-01T00:00:00","deviceId":9876543210,"level":"MODERATE","feedbackLong":"UNKNOWN","feedbackShort":"UNKNOWN","score":64,"sleepScore":null,"sleepScoreFactorPercent":0,"sleepScoreFactorFeedback":"NONE","recoveryTime":0,"recoveryTimeFactorPercent":100,"recoveryTimeFactorFeedback":"VERY_GOOD","acwrFactorPercent":100,"acwrFactorFeedback":"VERY_GOOD","acuteLoad":174,"stressHistoryFactorPercent":0,"stressHistoryFactorFeedback":"NONE","hrvFactorPercent":95,"hrvFactorFeedback":"GOOD","hrvWeeklyAverage":61,"sleepHistoryFactorPercent":74,"sleepHistoryFactorFeedback":"GOOD","validSleep":false,"inputContext":"UPDATE_REALTIME_VARIABLES","primaryActivityTracker":true,"recoveryTimeChangePhrase":null},{"userProfilePK":12345678,"calendarDate":"2026-01-01","timestamp":"2026-01-01T00:00:00","timestampLocal":"2026-01-01T00:00:00","deviceId":9876543210,"level":"HIGH","feedbackLong":"HIGH_RT_AVAILABLE_SS_UNKNOWN","feedbackShort":"WELL_RECOVERED","score":79,"sleepScore":null,"sleepScoreFactorPercent":0,"sleepScoreFactorFeedback":"NONE","recoveryTime":1,"recoveryTimeFactorPercent":99,"recoveryTimeFactorFeedback":"GOOD","acwrFactorPercent":100,"acwrFactorFeedback":"VERY_GOOD","acuteLoad":174,"st[...]
