---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            lang:
                - en-US
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/atp-api/atp/types/?lang=en-US
        method: GET
      response:
        body: '[{"workoutPlanTypeId":1,"name":"Garmin Coach 5K","trainingType":"Running","trainingSubtype":"5k","trainingLevel":["Beginner","Intermediate"],"trainingVersion":null,"planDistanceMeters":5000,"weeklyWorkoutsMin":3,"weeklyWorkoutsMax":5,"planDurationMin":6,"planDurationMax":20},{"workoutPlanTypeId":2,"name":"Garmin Coach 10K","trainingType":"Running","trainingSubtype":"10k","trainingLevel":["Intermediate"],"trainingVersion":null,"planDistanceMeters":10000,"weeklyWorkoutsMin":3,"weeklyWorkoutsMax":5,"planDurationMin":10,"planDurationMax":21},{"workoutPlanTypeId":3,"name":"Garmin Coach Half Marathon","trainingType":"Running","trainingSubtype":"HalfMarathon","trainingLevel":["Intermediate"],"trainingVersion":null,"planDistanceMeters":21098,"weeklyWorkoutsMin":3,"weeklyWorkoutsMax":5,"planDurationMin":12,"planDurationMax":26}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
