---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/metrics-service/metrics/trainingreadiness/2026-01-01
        method: GET
      response:
        body: '[{"userProfilePK":12345678,"calendarDate":"2026-01-01","timestamp":"2026-01-01T00:00:00","timestampLocal":"2026-01-01T00:00:00","deviceId":9876543210,"level":"HIGH","feedbackLong":"HIGH_RT_HIGHEST_SS_AVAILABLE_ACWR_POS","feedbackShort":"EXCELLENT_RECOVERY","score":76,"sleepScore":61,"sleepScoreFactorPercent":41,"sleepScoreFactorFeedback":"MODERATE","recoveryTime":1,"recoveryTimeFactorPercent":99,"recoveryTimeFactorFeedback":"GOOD","acwrFactorPercent":100,"acwrFactorFeedback":"VERY_GOOD","acuteLoad":27,"stressHistoryFactorPercent":75,"stressHistoryFactorFeedback":"GOOD","hrvFactorPercent":85,"hrvFactorFeedback":"GOOD","hrvWeeklyAverage":71,"sleepHistoryFactorPercent":90,"sleepHistoryFactorFeedback":"VERY_GOOD","validSleep":true,"inputContext":"AFTER_WAKEUP_RESET","primaryActivityTracker":true,"recoveryTimeChangePhrase":"NO_CHANGE_SLEEP"},{"userProfilePK":12345678,"calendarDate":"2026-01-01","timestamp":"2026-01-01T00:00:00","timestampLocal":"2026-01-01T00:00:00","deviceId":9876543210,"level":"HIGH","feedbackLong":"HIGH_RT_AVAILABLE_SS_UNKNOWN_ACWR_POS","feedbackShort":"WELL_RECOVERED","score":94,"sleepScore":null,"sleepScoreFactorPercent":0,"sleepScoreFactorFeedback":"NONE","recoveryTime":0,"recoveryTimeFactorPercent":100,"recoveryTimeFactorFeedback":"VERY_GOOD","acwrFactorPercent":100,"acwrFactorFeedback":"VERY_GOOD","acuteLoad":38,"stressHistoryFactorPercent":82,"stressHistoryFactorFeedback":"GOOD","hrvFactorPercent":88,"hrvFactorFeedback":"GOOD","hrvWeeklyAverage":68,"sleepHistoryFactorPercent":90,"sleepHistoryFactorFeedback":"VERY_GOOD","validSleep":false,"inputContext":"UPDATE_REALTIME_VARIABLES","primaryActivityTracker":true,"recoveryTimeChangePhrase":null}]'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
        status: 200 OK
        code: 200
        duration: 100ms
