---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/userprofile-service/userprofileservice/userprofile/v2/settings
        method: GET
      response:
        body: '{"timestamp":"2026-05-12T20:48:34.993+00:00","status":404,"error":"Not Found","path":"/userprofile-service/userprofileservice/userprofile/v2/settings"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 199.253375ms
