---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/usersummary-service/usersummary/daily/testuser?calendarDate=2026-01-01
        method: GET
      response:
        body: '{"userProfileId":12345678,"totalKilocalories":2128.0,"activeKilocalories":0.0,"bmrKilocalories":2128.0,"wellnessKilocalories":2128.0,"burnedKilocalories":null,"consumedKilocalories":null,"remainingKilocalories":null,"totalSteps":null,"netCalorieGoal":null,"totalDistanceMeters":null,"wellnessDistanceMeters":null,"wellnessActiveKilocalories":0.0,"netRemainingKilocalories":0.0,"userDailySummaryId":12345678,"calendarDate":"2026-01-01","rule":{"typeId":2,"typeKey":"private"},"uuid":"00000000000000000000b9fadcedaaf6","dailyStepGoal":6140,"wellnessStartTimeGmt":"2026-01-01T00:00:00","wellnessStartTimeLocal":"2026-01-01T00:00:00","wellnessEndTimeGmt":"2026-01-01T00:00:00","wellnessEndTimeLocal":"2026-01-01T00:00:00","durationInMilliseconds":86400000,"wellnessDescription":null,"highlyActiveSeconds":0,"activeSeconds":0,"sedentarySeconds":86400,"sleepingSeconds":0,"includesWellnessData":true,"includesActivityData":false,"includesCalorieConsumedData":false,"privacyProtected":false,"moderateIntensityMinutes":0,"vigorousIntensityMinutes":0,"floorsAscendedInMeters":0.0,"floorsDescendedInMeters":0.0,"floorsAscended":0.0,"floorsDescended":0.0,"intensityMinutesGoal":150,"userFloorsAscendedGoal":10,"minHeartRate":null,"maxHeartRate":null,"restingHeartRate":null,"lastSevenDaysAvgRestingHeartRate":null,"source":"GARMIN","averageStressLevel":-1,"maxStressLevel":null,"stressDuration":null,"restStressDuration":null,"activityStressDuration":null,"uncategorizedStressDuration":86400,"totalStressDuration":86400,"lowStressDuration":null,"mediumStressDuration":null,"highStressDuration":null,"stressPercentage":0.0,"restStressPercentage":0.0,"activityStressPercentage":0.0,"uncategorizedStressPercentage":100.0,"lowStressPercentage":0.0,"mediumStressPercentage":0.0,"highStressPercentage":0.0,"stressQualifier":"UNKNOWN","measurableAwakeDuration":0,"measurableAsleepDuration":0,"lastSyncTimestampGMT":null,"minAvgHeartRate":null,"maxAvgHeartRate":null,"bodyBatteryChargedValue":null,"bodyBatteryDrainedValue":null,"bodyBatteryHighestValue":null,"bodyBatteryLowestValue":null,"bodyBatteryMostRecentValue":null,"bodyBatteryDuringSleep":null,"bodyBatteryAtWakeTime":null,"bodyBatteryVersion":3.0,"abnormalHeartRateAlertsCount":null,"averageSpo2":null,"lowestSpo2":null,"latestSpo2":null,"latestSpo2ReadingTimeGmt":null,"latestSpo2ReadingTimeLocal":null,"averageMonitoringEnvironmentAltitude":474.0,"restingCaloriesFromActivity":null,"bodyBatteryDynamicFeedbackEvent":{"eventTimestampGmt":"2026-01-01T00:00:00","bodyBatteryLevel":"HIGH","feedbackShortType":"NO_DATA","feedbackLongType":"NO_DATA"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
