---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/usersummary-service/usersummary/daily/testuser?calendarDate=2026-05-10
        method: GET
      response:
        body: '{"userProfileId":127516254,"totalKilocalories":1347.0,"activeKilocalories":10.0,"bmrKilocalories":1337.0,"wellnessKilocalories":1347.0,"burnedKilocalories":null,"consumedKilocalories":null,"remainingKilocalories":null,"totalSteps":1405,"netCalorieGoal":null,"totalDistanceMeters":1138,"wellnessDistanceMeters":1138,"wellnessActiveKilocalories":10.0,"netRemainingKilocalories":10.0,"userDailySummaryId":127516254,"calendarDate":"2026-05-10","rule":{"typeId":2,"typeKey":"private"},"uuid":"92b74fe4117847b089e6294f7cf6abe3","dailyStepGoal":6730,"wellnessStartTimeGmt":"2026-05-09T22:00:00.0","wellnessStartTimeLocal":"2026-05-10T00:00:00.0","wellnessEndTimeGmt":"2026-05-10T13:01:00.0","wellnessEndTimeLocal":"2026-05-10T15:01:00.0","durationInMilliseconds":54060000,"wellnessDescription":null,"highlyActiveSeconds":93,"activeSeconds":474,"sedentarySeconds":36734,"sleepingSeconds":16759,"includesWellnessData":true,"includesActivityData":false,"includesCalorieConsumedData":false,"privacyProtected":false,"moderateIntensityMinutes":0,"vigorousIntensityMinutes":0,"floorsAscendedInMeters":0.0,"floorsDescendedInMeters":0.0,"floorsAscended":0.0,"floorsDescended":0.0,"intensityMinutesGoal":150,"userFloorsAscendedGoal":10,"minHeartRate":42,"maxHeartRate":93,"restingHeartRate":46,"lastSevenDaysAvgRestingHeartRate":48,"source":"GARMIN","averageStressLevel":17,"maxStressLevel":91,"stressDuration":7620,"restStressDuration":39540,"activityStressDuration":4440,"uncategorizedStressDuration":2460,"totalStressDuration":54060,"lowStressDuration":6780,"mediumStressDuration":780,"highStressDuration":60,"stressPercentage":14.1,"restStressPercentage":73.14,"activityStressPercentage":8.21,"uncategorizedStressPercentage":4.55,"lowStressPercentage":12.54,"mediumStressPercentage":1.44,"highStressPercentage":0.11,"stressQualifier":"UNKNOWN","measurableAwakeDuration":34860,"measurableAsleepDuration":16740,"lastSyncTimestampGMT":"2026-05-10T13:01:10.479","minAvgHeartRate":42,"maxAvgHeartRate":93,"bodyBatteryChargedValue":63,"bodyBatteryDrainedValue":27,"bodyBatteryHighestValue":96,"bodyBatteryLowestValue":33,"bodyBatteryMostRecentValue":69,"bodyBatteryDuringSleep":35,"bodyBatteryAtWakeTime":95,"bodyBatteryVersion":3.0,"abnormalHeartRateAlertsCount":null,"averageSpo2":94.0,"lowestSpo2":85,"latestSpo2":96,"latestSpo2ReadingTimeGmt":"2026-05-10T03:59:00.0","latestSpo2ReadingTimeLocal":"2026-05-10T05:59:00.0","averageMonitoringEnvironmentAltitude":494.0,"restingCaloriesFromActivity":null,"bodyBatteryDynamicFeedbackEvent":{"eventTimestampGmt":"2026-05-10T11:28:43","bodyBatteryLevel":"HIGH","feedbackShortType":"DAY_RECOVERING_AND_INACTIVE","feedbackLongType":"DAY_RECOVERING_AND_INACTIVE"},"bodyBatteryActivityEventList":[{"eventType":"SLEEP","eventStartTimeGmt":"2026-05-10T02:49:10","timezoneOffset":7200000,"durationInMilliseconds":16740000,"bodyBatteryImpact":35,"feedbackType":"NONE","shortFeedback":"NONE","deviceId":3493638919,"activityName":null,"activityType":null,"activityId":null,"eventUpdateTimeGmt":"2026-05-10T07:28:29"}],"avgWakingRespirationValue":14.0,"highestRespirationValue":21.0,"lowestRespirationValue":8.0,"latestRespirationValue":15.0,"latestRespirationTimeGMT":"2026-05-10T13:00:00.0","respirationAlgorithmVersion":200}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 324.43825ms
