---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/usersummary-service/stats/im/weekly/2025-12-25/2026-01-01
        method: GET
      response:
        body: '[{"calendarDate":"2026-01-01","weeklyGoal":150,"moderateValue":30,"vigorousValue":11},{"calendarDate":"2026-01-01","weeklyGoal":150,"moderateValue":111,"vigorousValue":150}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
