---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/usersummary-service/stats/im/weekly/2026-05-03/2026-05-10
        method: GET
      response:
        body: '[{"calendarDate":"2026-04-27","weeklyGoal":150,"moderateValue":119,"vigorousValue":43},{"calendarDate":"2026-05-04","weeklyGoal":150,"moderateValue":83,"vigorousValue":16}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.201ms
