---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/weight-service/weight/range/testuser?endDate=2026-05-10&startDate=2026-04-10
        method: GET
      response:
        body: '{"timestamp":1778618761504,"status":404,"error":"Not Found","path":"/weight-service/weight/range/e15d1c9d-827d-4db9-b030-48792c1d1fa6"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 285.039292ms
