---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/weight-service/weight/range/2025-12-01/2026-01-01?includeAll=true
        method: GET
      response:
        body: '{"dailyWeightSummaries":[{"summaryDate":"2026-01-07","numOfWeightEntries":1,"minWeight":70000.0,"maxWeight":70000.0,"latestWeight":{"samplePk":1000000000001,"date":1000000000003,"calendarDate":"2026-01-07","weight":70000.0,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":"MANUAL","timestampGMT":1000000000004,"weightDelta":1700},"allWeightMetrics":[{"samplePk":1000000000001,"date":1000000000003,"calendarDate":"2026-01-07","weight":70000.0,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":"MANUAL","timestampGMT":1000000000004,"weightDelta":1700}]},{"summaryDate":"2025-12-25","numOfWeightEntries":1,"minWeight":70000.0,"maxWeight":70000.0,"latestWeight":{"samplePk":1000000000002,"date":1777110675006,"calendarDate":"2025-12-25","weight":70000.[...]
