---
version: 2
interactions:
    - id: 0
      request:
        host: connectapi.garmin.com
        form:
            includeAll:
                - "true"
        headers:
            Authorization:
                - Bearer test
        url: https://connectapi.garmin.com/weight-service/weight/range/2025-12-01/2026-01-01?includeAll=true
        method: GET
      response:
        body: '{"dailyWeightSummaries":[{"summaryDate":"2026-01-01","numOfWeightEntries":1,"minWeight":76400.0,"maxWeight":76400.0,"latestWeight":{"samplePk":1000000000004,"date":1766791055002,"calendarDate":"2026-01-01","weight":76400.0,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":"MANUAL","timestampGMT":1766787455002,"weightDelta":600},"allWeightMetrics":[{"samplePk":1000000000004,"date":1766791055002,"calendarDate":"2026-01-01","weight":76400.0,"bmi":null,"bodyFat":null,"bodyWater":null,"boneMass":null,"muscleMass":null,"physiqueRating":null,"visceralFat":null,"metabolicAge":null,"sourceType":"MANUAL","timestampGMT":1766787455002,"weightDelta":600}]},{"summaryDate":"2026-01-01","numOfWeightEntries":1,"minWeight":75800.0,"maxWeight":75800.0,"latestWeight":{"samplePk":1000000000003,"date":1766664497000,"calendarDate":"2026-01-01","weight":75800.0[...]
